{capture name="page_title"}
{block name="title" prepend}{$page_title} :{/block}
{/capture}

{block name="twitter_card_extend" append}

<meta name="twitter:label1" content="{$meta.twitterlabel1}">
<meta name="twitter:data1" content="{$meta.twitterdata1}">
<meta name="twitter:label2" content="{$meta.twitterlabel2}">
<meta name="twitter:data2" content="{$meta.twitterdata2}">

{/block}

{block name="content"}
  <div class="content">
    123
  </div>
{/block}
