.gradio-player-container {
	/*position: fixed;
	bottom: 0px;*/
	/*background: #fff;*/
	margin-top: 40px;
	margin-left: -15px;
	margin-right: -15px;
	/*background: rgba(255,255,255,1);*/
	/*width: 100%;*/
	z-index: 1;
	letter-spacing: 1px;
	position: relative;
	font-weight: bold;
	color: #FFF;
	min-height: 100px;
}

.gradio-player-container .art-container.full-width-overlay{
	/*position: absolute;*/
	/*-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px);*/
}

.gradio-player-container div.art-container .art {
	height: 100px;
	opacity: 0.8;
	position: absolute;
	/*top: -40px;
	bottom: -40px;*/
	right: 0;
	left: 0;
	/*background-size: cover;
	background-position: center;*/
}

.gradio-player-container .toggle-player {
	position: absolute;
	right: 30px;
	top: 0px;
	float: right;
	cursor: pointer;
	padding: 0 0 0 0;
	background-color: rgba(0,0,0,0.2);
	width: 50px;
	height: 100%;
}

.gradio-player-container .toggle-player i, .gradio-player-container .refresh-player i{
	position: relative;
	bottom: -20px;
	left: 3px;
	/*margin: 10px 0 0 0;*/
}

.gradio-player-container .refresh-player {
	position: absolute;
	right: 5px;
	top: 0px;
	float: right;
	cursor: pointer;
	padding: 0 0 0 0;
	background-color: rgba(0,0,0,0.2);
	width: 20px;
	height: 100%;
}

.gradio-player-container .now-small {
	/*width: 100%;*/
	color: #000;
}

.gradio-player-container #now-on-air-s {
	height: 37px;
}

.gradio-player-container .now-small > div{
	float: left;
	margin: 7px 0 0 5px;
}

.gradio-player-container i.icon-arrow-up {
	/*float: right;
	margin: -20px 30px 0 0;*/
}

.gradio-player-container i.icon-arrow-down {

	/*margin: -20px 30px 0 0;*/
}

.gradio-player-container .toggle-player:hover {
	/*
	position: fixed;
	right: 30px;
	top: 5px;
	*/
	/*background-color: rgba(0,0,0,0.2);*/
	/*background-color: gray;*/
}

/*
.gradio-player-container-inner{
	margin: 0 0 0 62px;

}
*/

/*
.gradio-player-container .small-player {
	float: left;
	height: 35px;
	margin: 0 5px 0 70px;
}
*/

.gradio-player-container .small-player ul {
	float: left;
	margin: 7px 0 0 0;
	/*width: 70px;*/
}

.gradio-player-container .small-player ul li {
	/*position: relative;*/
	float: left;
	list-style: none;
	margin: 0 2px;
	padding: 2px 0;
	cursor: pointer;
	/*
	width: 20px;
	margin: 10px 0 0 10px;
	*/
}

.gradio-player-container .small-player ul li a {
	margin: 0 2px;
}

.gradio-player-container div.jp-volume-slider-small  {
	float: left;
	width: 100px;
	height: .3em;
	margin: 15px 10px 0 20px;
}

.gradio-player-container div.jp-volume-slider-small a.ui-slider-handle  {
	height: .7em;
}


.gradio-player-container .full-player {
	/*float: left;*/
	/*margin-left: 75px;*/
	/*max-height: 70px;*/
	/*overflow: hidden;*/
}


.gradio-player-container div.now-playing-art {
	float: left;
	/*background: gray;*/
	width: 100px;
	height: 100px;
	overflow: hidden;
}


.gradio-player-container div.now-playing-art .now-playing-art-container .a_pic {
	width: 100px;
	height: 100px;
}

.gradio-player-container div.now-playing-art .now-playing-art-container .a_last_pic {
	width: 100px;
	height: 100px;
}

.gradio-player-container div.now-playing-art .now-playing-art-container .a_def_pic {
	width: 100px;
	height: 100px;
}




.gradio-player-container div.now-playing-art img.now-playing-art {
	position: relative;
	z-index: 1;
}

.gradio-player-container .now-on-air-pic{
	position: relative;
}

.gradio-player-container .now-playing-art-img {
	/*width: 100%;*/
}

.gradio-player-container img.now-playing-art-overlay {
	position: absolute;
	left: 0;
	margin-top: -126px;
	z-index: 2;
}

.gradio-player-container div.now-playing-bio {
	/*float: left;*/
	/*background: gray;*/
	/*width: 300px;
	height: 100px;*/
	overflow: hidden;
	padding: 0 2px;
	font-size: 12px;
	letter-spacing: 0.1px;
	line-height: 140%;
}

.gradio-player-container div.now-playing-bio #gradio-player-bio-loader {
	width: 100px;
	margin: 0 auto;
}

.gradio-player-container .now-on-air-inner {
	/* height: 4em; */
	/*float: left;*/
	/*position: fixed;
	left: 0px;
	bottom: 0px;*/
	/*margin: 0 auto;*/
	/*width: 40%;*/
	/*height: 15px;*/
	padding: 10px;
	/*background-color: rgba(0,0,0,0.6);*/
	line-height: 15px;
	vertical-align: middle;
	/* border: 1px solid red; */
	/* z-index: 900; */
}

.gradio-player-container #now-on-air-loader {
	width: 100px;
	margin: 0 auto;
}

.gradio-player-container #now-on-air a {
	color: #fff;
}

#gradio_player_container {
	float: left;
	/*margin: 36px 15px 0 0;*/
	height: 100px;
}

.gradio-player-container div.now-playing-bio {
	overflow: hidden;
	max-height: 100px;
	position: relative;
}

.gradio-player-container .jp-gui {
	/*position: relative;
	padding: 20px;*/
	border: none;
	border-radius: 0;
	/*width: 30%;*/
	width: 300px;
}
.gradio-player-container .jp-gui.jp-no-volume {
	width:432px;
}

.gradio-player-container .jp-gui ul {
	margin:0;
	padding:0;
}

.gradio-player-container .jp-gui ul li {
	position: relative;
	float: left;
	list-style: none;
	margin: 2px;
	padding: 4px 0;
	cursor: pointer;
}

.gradio-player-container .jp-gui ul li a {
	margin:0 4px;
}

.gradio-player-container .jp-gui li.jp-repeat, .gradio-player-container .jp-gui li.jp-repeat-off {
	margin-left:344px;
}

.gradio-player-container .jp-gui li.jp-mute, .gradio-player-container .jp-gui li.jp-unmute {
	margin-left: 3px;
}

.gradio-player-container .jp-gui li.jp-play, .gradio-player-container .jp-gui li.jp-pause {
	margin-left: 20px;
}

.gradio-player-container .jp-gui li.jp-volume-max {
	margin-left: 120px;
}

.gradio-player-container li.jp-pause, .gradio-player-container li.jp-repeat-off, .gradio-player-container li.jp-unmute, .gradio-player-container .jp-no-solution {
	display:none;
}

.gradio-player-container .jp-progress-slider {
	position:absolute;
	top: 28px;
	left: 100px;
	width: 300px;
}

.gradio-player-container .jp-progress-slider .ui-slider-handle {
	cursor:pointer;
}

.gradio-player-container .jp-volume-slider {
	position: absolute;
	top: 12px;
	/*left: 130px;*/
	left: 235px;
	width: 100px;
	height: .4em;
}

.gradio-player-container .jp-volume-slider .ui-slider-handle {
	height:.8em;
	width:.8em;
	cursor:pointer;
}

.gradio-player-container .jp-gui.jp-no-volume .jp-volume-slider {
	display:none;
}

.gradio-player-container .jp-duration {
	position:absolute;
	top: 50px;
	font-size:0.8em;
	cursor:default;
}

.gradio-player-container .jp-current-time {
	float: right;
	font-size: 0.8em;
	margin: -24px 0 0 60px;
}

.gradio-player-container .jp-duration {
	right:266px;
}

.gradio-player-container .jp-gui.jp-no-volume .jp-duration {
	right:70px;
}

.gradio-player-container .jp-clearboth {
	clear:both;
}

.gradio-player-container .current-time {
	float: left;
	/*position: relative;*/
	text-align: left;
}

.gradio-player-container .big-progress .ui-progressbar {
	width: 30%;
	float: left;
	/*background-color: red;*/
}

.gradio-player-container .big-progress .ui-progressbar-value {
	display:block !important;
	/*background-color: red !important;*/
	margin: 0 !important;
}

.gradio-player-container .pbar {
	overflow: hidden
}

.gradio-player-container .percent {
	position: relative;
	text-align: right;
}

.gradio-player-container .remain-time {
	float: right;
	text-align: right;
	margin-top: -21px;
}

.gradio-player-container .player-controls {
	/*float: right;*/
	/*text-align: right;*/
	margin-right: 50px;
}

.gradio-player-container div.likes, .gradio-player-container div.dislikes {
	float: left;
	margin: 5px 0 0 10px;
	cursor: pointer;
}

.gradio-player-container .art {
	background: rgba(0,0,0, .2);
}

@media screen and (max-width: 1023px) {
	.gradio-player-container #gradio_player_container .jp-volume-slider {
		display: none;
	}

	.gradio-player-container #gradio_player_container ul li.jp-mute {
		display: none;
	}

	.gradio-player-container #gradio_player_container ul li.jp-volume-max {
		display: none;
	}

	.gradio-player-container #gradio_player_container ul {
		-ms-transform: scale(2);
		-webkit-transform: scale(2);
		transform: scale(2);
	}
}

/* new player */

.gradio-player-container-new {
	/*position: fixed;
	bottom: 0px;*/
	background: #672929;
	margin-top: 40px;
	margin-left: -15px;
	margin-right: -15px;
	/*background: rgba(255,255,255,1);*/
	/*width: 100%;*/
	z-index: 1;
	letter-spacing: 1px;
	position: relative;
	font-weight: bold;
	color: #FFF;
	min-height: 100px;
}

.gradio-player-container-new h1 {
	color: #fff;
}

.gradio-player-container-new div.art-container .art {
	height: 100px;
	opacity: 0.8;
	position: absolute;
	/*top: -40px;
	bottom: -40px;*/
	right: 0;
	left: 0;
	/*background-size: cover;
	background-position: center;*/
}

.gradio-player-container-new  .component-current-tune-image-inner {
	width: 100%;
	padding: 0;
	margin: 0;
}

.gradio-player-container-new  .component-current-tune-image-inner .now-playing-art-img {
	height: 100px;
}

.gradio-player-container-new  .component-player-controls-inner {
	padding: 0;
	margin: 0;
}

.gradio-player-container-new  .component-player-controls-inner ul  li{

	position: relative;
	float: left;
	list-style: none;
	margin: 2px;
	padding: 10px;
	cursor: pointer;

}

.gradio-player-container-new .thumbnail-new {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.gradio-player-container-new .thumbnail-new img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.gradio-player-container-new .thumbnail-new img.portrait {
	width: 100%;
	height: auto;
}

.gradio-player-container-new .jp-no-solution{
	display: none;
}

.gradio-player-container-new .a-t-seperator {
	margin-right: 5px;
	margin-left: 5px;
}

.external-listen-link {
    position: relative;
    top: 20px;
    left: 20px;
    color: #CEAC23;
}

.ui-widget-content {
	background: none;
}

.like-count, .dislike-count {
    font-size: 35px;
    margin-top: 5px;
}

.liked {
	color: green;
}

.disliked {
	color: red;
}
