.toggle-player {
	position: absolute;
	right: 30px;
	top: 0px;
	float: right;
	cursor: pointer;
	padding: 10px 0 0 0;
	background-color: rgba(0,0,0,0.2);
	width: 50px;
	height: 100%;
}

.refresh-player {
	position: absolute;
	right: 5px;
	top: 0px;
	float: right;
	cursor: pointer;
	padding: 10px 0 0 0;
	background-color: rgba(0,0,0,0.2);
	width: 20px;
	height: 100%;
}

.now-small {
	width: 100%;
	color: #000;
}

.now-small > div{
	float: left;
	margin: 7px 0 0 5px;
}

.player-container i.icon-arrow-up {
	/*float: right;
	margin: -20px 30px 0 0;*/
}

.player-container i.icon-arrow-down {
	
	/*margin: -20px 30px 0 0;*/
}

.player-container .toggle-player:hover {
	/*
	position: fixed;
	right: 30px;
	top: 5px;
	*/
	/*background-color: rgba(0,0,0,0.2);*/
	/*background-color: gray;*/
}

.player-container {
	position: fixed;
	/*background: #fff;*/
	background: rgba(255,255,255,1);
	width: 100%;
	z-index: 10;
	letter-spacing: 1px;
}

.player-container .small-player {
	float: left;
	height: 35px;
	margin: 0 5px 0 70px;
}

.player-container .small-player ul {
	float: left;
	margin: 7px 0 0 0;
	/*width: 70px;*/
}

.player-container .small-player ul li {
	/*position: relative;*/
	float: left;
	list-style: none;
	margin: 0 2px;
	padding: 2px 0;
	cursor: pointer;
	/*
	width: 20px;
	margin: 10px 0 0 10px;
	*/
}



.player-container .small-player ul li a {
	margin: 0 2px;
}

.player-container div.jp-volume-slider-small  {
	float: left;
	width: 100px;
	height: .3em;
	margin: 15px 10px 0 20px;
}

.player-container div.jp-volume-slider-small a.ui-slider-handle  {
	height: .7em;
}

.player-container .full-player {
	float: left;
	margin: 0 5px;
}

.player-container div.now-playing-art {
	float: left;
	background: gray;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.player-container div.now-playing-art img.now-playing-art {
	position: relative;
	z-index: 1;
}

.player-container img.now-playing-art-overlay {
	position: absolute;
	/*left: -100px;*/
	margin-left: -100px;
	z-index: 2;
}

.player-container div.now-playing-bio {
	float: left;
	background: gray;
	width: 300px;
	height: 100px;
	overflow: hidden;
	padding: 0 2px;
	font-size: 12px;
	letter-spacing: 0.1px;
	line-height: 140%;
}

.player-container #now-on-air {
	/* height: 4em; */
	float: left;
	/*position: fixed;
	left: 0px;
	bottom: 0px;*/
	margin: 0 auto;
	width: 40%;
	height: 15px;
	padding: 10px;
	/*background-color: rgba(0,0,0,0.6);*/
	line-height: 15px;
	vertical-align: middle;
	/* border: 1px solid red; */
	/* z-index: 900; */
}

.player-container #now-on-air a {
	color: #000;
}

#jp_container_1 {
	float: left;
}

.jp-gui {
	position: relative;
	padding: 20px;
	border: none;
	border-radius: 0;
	/*width: 30%;*/
}
.jp-gui.jp-no-volume {
	width:432px;
}
.jp-gui ul {
	margin:0;
	padding:0;
}
.jp-gui ul li {
	position: relative;
	float: left;
	list-style: none;
	margin: 2px;
	padding: 4px 0;
	cursor: pointer;
}
.jp-gui ul li a {
	margin:0 4px;
}
.jp-gui li.jp-repeat,
.jp-gui li.jp-repeat-off {
	margin-left:344px;
}
.jp-gui li.jp-mute,
.jp-gui li.jp-unmute {
	margin-left:20px;
}
.jp-gui li.jp-volume-max {
	margin-left: 120px;
}
li.jp-pause,
li.jp-repeat-off,
li.jp-unmute,
.jp-no-solution {
	display:none;
}
.jp-progress-slider {
	position:absolute;
	top:28px;
	left:100px;
	width:300px;
}
.jp-progress-slider .ui-slider-handle {
	cursor:pointer;
}
.jp-volume-slider {
	position: absolute;
	top: 31px;
	left: 140px;
	width: 100px;
	height: .4em;
}
.jp-volume-slider .ui-slider-handle {
	height:.8em;
	width:.8em;
	cursor:pointer;
}
.jp-gui.jp-no-volume .jp-volume-slider {
	display:none;
}
.jp-current-time,
.jp-duration {
	position:absolute;
	top: 50px;
	font-size:0.8em;
	cursor:default;
}
.jp-current-time {
	left:100px;
}
.jp-duration {
	right:266px;
}
.jp-gui.jp-no-volume .jp-duration {
	right:70px;
}
.jp-clearboth {
	clear:both;
}