<template>
  <v-card>

    <v-img
      class="v-card-img-cursor"
      @click.prevent="openTune(tune)"
      v-if="!editMode"
      v-bind:src="tune.phpThumbPictureURL"
      height="200px">
    </v-img>

    <tune-cover-edit v-if="editMode"/>

    <div class="card-top-row d-flex align-center">
      <v-chip v-if="isGradioTeam" label color="grey lighten-2" class="ml-2 pa-2">
        {{ tune.extension }}
      </v-chip>
      <span>
        <v-col
          class="ml-2 pa-0"
          v-if="tune.youtube">
          <router-link :to="`/tune/${tune.ID}#video`" :title="$gettext('Youtube')">
            <img v-bind:src="`${iconPath}youtube-logo.svg`"/>
          </router-link>
        </v-col>
        <v-col
          class="ml-2 pa-0"
          v-else>
          <img
            v-bind:src="`${iconPath}youtube-logo-inactive.svg`"
            :title="$gettext('There is no youtube link added.')"/>
        </v-col>
      </span>
      <span style="margin-left: auto;display: block;height: 40px;">
        <v-icon
          v-if="hasUserLike(tune)"
          :title="likeText(tune)"
          x-large
          left
          color="red darken-3">
          favorite
        </v-icon>
      </span>
    </div>

    <div class="tune-card-container">

      <v-slide-y-transition>
        <front-card v-show="!isExtend" :tune="tune"/>
      </v-slide-y-transition>

      <v-slide-y-reverse-transition>
        <back-card v-show="isExtend" :tune="tune"/>
      </v-slide-y-reverse-transition>

    </div>
    <v-card-actions class="tune-card-actions justify-space-around">
      <v-btn
        icon
        outlined
        color="black"
        @click="flipSides()">
        <v-icon>
          {{ isExtend ? 'arrow_drop_down' : 'arrow_drop_up' }}
        </v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>

import { TuneRatingMixin } from '../../mixins/tune/tuneRatingMixin';
import { mapGetters } from 'vuex';
import { TuneLoadMixin } from '../../mixins/tune/tuneLoadMixin';

export default {
  mixins: [TuneRatingMixin, TuneLoadMixin],
  data: () => ({
    name: 'TuneCard',
    isExtend: false,
  }),

  props: {
    tune: {
      type: Object,
      required: true
    },

    editMode: {
      type: Boolean,
      default: false,
    }
  },

  computed: {
    ...mapGetters('user', {
      user: 'getUser',
      isGradioTeam: 'isGradioTeam',
    }),

    ...mapGetters([
      'baseUrl',
      'frontendTheme',
    ]),

    iconPath() {
      return `${this.baseUrl}themes/${this.frontendTheme}/img/icons/`;
    },
  },

  methods: {
    flipSides() {
      this.isExtend = !this.isExtend;
    },
  },

  components: {
    'front-card': () => import('./CardSide/FrontCard.vue'),
    'back-card': () => import('./CardSide/BackCard.vue'),
    'tune-cover-edit': () => import('./Edit/TuneCoverEdit.vue'),
  }

};
</script>

<style lang="scss">

.tune-card-container {
  height: 310px;
  overflow: hidden;
}

.tune-card-title-container {
  height: 105px;
  overflow: hidden;
}

.tune-card-genre-container {
  height: 40px;
  overflow: hidden;
}

.tune-card-first-layout {
  height: 310px;
}

.tune-card-second-layout {
  position: absolute;
  top: 80px;
  height: 400px;
  background: #fff;
}

.tune-card-publisher-container {
  position: relative;
  top: 55px;
  width: 100px;
}

.tune-card-extension-container {
  position: absolute;
  top: 0;
  left: 0;
}

.tune-card-user-rated-container {
  position: absolute;
  top: 0;
  right: 0;
}

.tune-card-raters-container {
  height: 150px;
}

.tune-card-second-layout .tune-title-container {
  height: 23px;
  overflow: hidden;
}

.gradio-tunes-container .tune-card-icon {
  opacity: 0.5;
}

.gradio-tunes-container .tune-card-icon:hover {
  opacity: 1;
}

.card-top-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.v-card-img-cursor {
  cursor: pointer;
}
</style>
