<template>
  <div class="tune-comment-container">
    <v-row dense>
      <v-col id="fb-comment-content" class="col-12">
        <!-- <div class="loader">
          <v-layout align-center justify-center>
            <img :src="`${baseUrl}assets/SVG-Loaders/svg-loaders/bars.svg`"/>
          </v-layout>
        </div> -->
        <div
          class="fb-comments"
          :data-href="fbTunehref"
          data-numposts="5"
          data-width="100%">
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>

import { mapGetters } from 'vuex'

export default {
  data: () => ({
    name: 'TuneComment',
  }),

  props: {
    tune: {
      type: Object,
      required: true
    },
  },

  created () {

  },

  computed: {
    fbTunehref () {
      return `${this.fbSiteUrl}/tune/${this.tune.id}`;
    },

    ...mapGetters([
      'baseUrl',
      'fbSiteUrl',
    ]),
  },
}
</script>

<style scoped>

  .hide {
    display: none;
  }

  .loader {
    height: 182px;
    background-color: rgba(41, 128, 185, 0.1);
  }

  .loader img {
    width: 50px;
  }

</style>
