<template>
  <div class="tune-cover-container">
    <div class="tune-image-100">
      <img :src="tune.phpThumbPictureURL" />
      <router-link
        v-if="isGradioTeam"
        :to="`${baseUrl}tune/${tune.id}/edit`"
        :title="$gettext('Edit Tune')">
        <v-btn
          absolute
          dark
          fab
          top
          left
          color="primary"
          class="mt-6 ml-12"
          >
          <v-icon>edit</v-icon>
        </v-btn>
      </router-link>

      <div class="tune-card-extension-container">
        <v-chip v-if="isGradioTeam" label color="grey lighten-2">
          {{ tune.extension }}
        </v-chip>
      </div>

      <div class="tune-card-user-rated-container">
        <v-icon
          v-if="hasUserLike(tune)"
          :title="likeText(tune)"
          x-large
          left
          color="red darken-3">
          favorite
        </v-icon>
      </div>
    </div>
  </div>
</template>
<script>

import { mapGetters } from 'vuex'
import {TuneRatingMixin} from '../../mixins/tune/tuneRatingMixin';

export default {
  mixins: [TuneRatingMixin],

  data: () => ({
    name: 'TuneCover',
  }),

  props: {
    tune: {
      type: Object,
      required: true
    },
  },

  computed: {
    ...mapGetters([
      'baseUrl',
    ]),

    ...mapGetters('user', {
      user: 'getUser',
      isGradioTeam: 'isGradioTeam',
    }),
  }
}
</script>

<style scoped>

  .tune-card-extension-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .tune-card-user-rated-container {
    position: absolute;
    top: 0;
    right: 0;
  }

</style>
