<template>
  <div class="tune-data-container">
    <v-row dense>

      <v-col class="col-12">
        <h5 class="text-h6"><translate>Title</translate></h5>
        <h3 class="text-h3">{{ tune.title }}</h3>
        <h5 class="text-h6"><translate>Artist</translate></h5>
        <h3 class="text-h4">{{ tune.artist }}</h3>
      </v-col>

      <v-col class="col-6 col-md-6">
        <h6 class="text-subtitle-1" v-if="tune.album"><translate>Album</translate></h6>
        <h4 class="text-h5" v-if="tune.album">{{ tune.album }}</h4>
        <h6 class="text-subtitle-1" v-if="tune.year"><translate>Year</translate></h6>
        <h4 class="text-h5" v-if="tune.year">{{ tune.year }}</h4>
        <h6
          v-if="validTuneGenres && validTuneGenres.length > 0"
          class="text-subtitle-1">
          <translate>Genre</translate>
        </h6>

        <div
          v-if="validTuneGenres && validTuneGenres.length > 0"
          class="text-subtitle-1 text-left tune-card-genre-container"
          data-testid="tune-card-genre-container">
          <v-chip
            outlined
            small
            color="grey darken-2"
            v-for="(genre, i) in validTuneGenres"
            :key="`${i}-${tune.id}`"
            class="wow animated fadeIn ma-1"
            data-wow-delay="5s"
            data-testid="tune-card-genre">
            {{ genre.name }}
          </v-chip>
        </div>

        <h6 class="text-subtitle-1"><translate>Weight</translate></h6>
        <h4 class="text-h5"><flame :fillOpacity="fillOpacity" :width="25" /> {{ tune.weight }}%</h4>
        <h6 class="text-subtitle-1"><translate>Duration</translate></h6>
        <h4 class="text-h5">{{ tune.duration }}</h4>
      </v-col>

      <v-col class="col-6 col-md-6">
        <h6 class="text-subtitle-1"><translate>Last time played</translate></h6>
        <h4 class="text-h5">{{ tune.date_played | moment('from') }}</h4>

        <h6 class="text-subtitle-1"><translate>Play count</translate></h6>
        <h4 class="text-h5" style="display: inline">{{ tune.count_played }}</h4>
        <v-chip
          v-if="isGradioTeam && tune.enabled == 0"
          outlined color="red">
          <v-icon left>volume_off</v-icon>
          <translate>Disabled</translate>
        </v-chip>

        <h6 class="text-subtitle-1"><translate>Date added</translate></h6>
        <h4 class="text-h5">{{ tune.date_added | moment('from') }}</h4>

        <h6 class="text-subtitle-1"><translate>BPM</translate></h6>
        <h4 class="text-h5">{{ tune.bpm }}</h4>

        <h6 class="text-subtitle-1"><translate>Catalog Nr.</translate></h6>
        <h4 class="text-h5">{{ tune.isrc }}</h4>

        <h6 class="text-subtitle-1" v-if="tune.publisher_svg"><translate>Record label</translate></h6>
        <img
          v-if="tune.publisher_svg"
          :src="`${frontendThemeImages}icons/labels/${tune.publisher_svg}`"
          @error="replaceByDefault"
          :alt="tune.publisher"
          :title="`${$gettext('Record label')} ${tune.publisher}`"
          class="tune-label-logo"/>
      </v-col>
    </v-row>

    <tune-ratings :tune="tune"/>

    <!--
    <div class="row">
      <div id="fb-comment-content" class="col-md-12">
        <div class="container container-table loader">
          <div class="row vertical-center-row">
            <div class="text-center col-md-4 md-offset-4">
              <img
                :src="baseUrl + 'assets/SVG-Loaders/svg-loaders/bars.svg'"/>
            </div>
          </div>
        </div>
        <div
          class="fb-comments"
          :data-href="fbTunehref"
          data-numposts="5"
          data-width="100%"
          style="display: none">
        </div>
      </div>
    </div>
    -->

  </div>
</template>
<script>

import { mapGetters } from 'vuex'
import { isNil } from 'lodash';

export default {
  data: () => ({
    name: 'TuneData',
  }),

  props: {
    tune: {
      type: Object,
      required: true
    },
  },

  computed: {
    fbTunehref () {
      return `${this.fbSiteUrl}/tune/${this.tune.id}`;
    },

    fillOpacity () {
      let opacity = 0;

      if (this.tune) {
        opacity = Number(parseFloat(Math.sqrt(this.tune.weight) / 10)
          .toFixed(2));
      }

      return opacity;
    },

    validTuneGenres () {
      return this.tune.genres.filter(genre => !isNil(genre.id));
    },

    ...mapGetters([
      'baseUrl',
      'fbSiteUrl',
      'frontendThemeImages',
      'defaultNotFoundImage',
    ]),

    ...mapGetters('user', {
      user: 'getUser',
      isGradioTeam: 'isGradioTeam',
    }),
  },

  methods: {
    replaceByDefault(e) {
      e.target.src = this.defaultNotFoundImage;
    },
  },

  components: {
    'flame': () => import('../Svg/Flame.vue'),
    'tune-ratings': () => import('./Ratings.vue'),
  }
}
</script>

<style lang="scss" scoped>
  .title, .subtitle-1 {
    margin: 0;
  }

  .tune-card-genre-container {
    height: 65px;
    overflow: hidden;
  }

  .subtitle-1 {
    margin-top: 5px;
  }
</style>
