<template>
  <div class="tune-links-container">
    <v-row dense class="my-1" justify="space-around" align="center">

      <v-col
        v-if="tune.youtube"
        class="flex-grow-0 wow fadeInRight delay-2s">
        <a
          :title="$gettext('Youtube')"
          href="#video">
          <img :src="`${iconPath}youtube-logo.svg`" />
        </a>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s">
        <img
          :title="$gettext('There is no youtube link added.')"
          :src="`${iconPath}youtube-logo-inactive.svg`" />
      </v-col>

      <v-col
        v-if="tune.soundcloud"
        class="flex-grow-0 wow fadeInRight delay-2s">
        <a
          :title="$gettext('Soundcloud')"
          href="#soundcloud"
          @click="openSoundcloud">
          <img :src="`${iconPath}soundcloud-logo.svg`" />
        </a>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s">
        <img
          :title="$gettext('There is no soundcloud link added.')"
          :src="`${iconPath}soundcloud-logo-inactive.svg`"/>
      </v-col>

      <v-col
        v-if="tune.beatport"
        class="flex-grow-0 wow fadeInRight delay-2s">
        <a
          :title="$gettext('Beatport')"
          href="#beatport"
          @click="openBeatport">
          <img :src="`${iconPath}beatport-logo.svg`" />
        </a>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s">
        <img
          :title="$gettext('There is no beatport link added.')"
          :src="`${iconPath}beatport-logo-inactive.svg`"/>
      </v-col>

      <v-col
        v-if="tune.itunes"
        class="flex-grow-0 wow fadeInRight delay-2s">
        <a
          :title="$gettext('iTunes')"
          :href="tune.itunes"
          target="_blank">
          <img :src="`${iconPath}itunes-logo.svg`" />
        </a>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s">
        <img
          :title="$gettext('There is no iTunes link added.')"
          :src="`${iconPath}itunes-logo-inactive.svg`"/>
      </v-col>

      <v-col
        v-if="tune.url"
        class="flex-grow-0 wow fadeInRight delay-2s tune-url">
        <a
          :title="$gettext('URL')"
          :href="tune.url"
          target="_blank" >
          <v-icon :size="28">
            fa fa-2x fa-external-link
          </v-icon>
        </a>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s tune-url">
        <v-icon
          :title="$gettext('There is no url link added.')"
          :size="28">
          fa fa-2x fa-external-link
        </v-icon>
      </v-col>
    </v-row>

    <v-row dense justify="space-around">
      <v-col v-if="embedLoading">
        <loader />
      </v-col>

      <v-col
        id="beatportIframeContainer"
        v-show="beatportLoaded && !embedSoundcloudHtml">
      </v-col>

      <v-col
        v-if="embedSoundcloudHtml"
        ref="soundCloudIframe"
        v-html="embedSoundcloudHtml">
      </v-col>

      <v-alert
        :value="embedLoadError"
        border="bottom"
        colored-border
        type="warning"
        elevation="2">
        <translate>Cannot load embed object, please try again</translate>
      </v-alert>

    </v-row>

  </div>
</template>
<script>

import axios from 'axios';
import {last} from 'lodash';
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    name: 'TuneLinks',
    embedLoading: undefined,
    embedSoundcloudHtml: undefined,
    beatportLoaded: undefined,
    embedLoadError: false,
  }),

  props: {
    tune: {
      type: Object,
      required: true
    },
  },

  watch: {
    tune () {
      this.resetEmbeds();
    }
  },

  computed: {
    ...mapGetters([
      'baseUrl',
      'frontendTheme',
    ]),

    iconPath () {
      return `${this.baseUrl}themes/${this.frontendTheme}/img/icons/`;
    },
  },

  methods: {
    async fetchSoundCloud () {
      const response = await axios.get(
        'https://soundcloud.com/oembed?callback=?',
        {
          params: {
            format: 'json',
            url: this.tune.soundcloud,
            iframe: true,
            maxheight: 150
          }
        }
      );

      return response.data.html;
    },

    async openSoundcloud () {
      this.resetEmbeds();
      this.embedLoading = true;

      let soundcloudIframe = undefined;

      try {
        soundcloudIframe = await this.fetchSoundCloud();
        this.embedSoundcloudHtml = soundcloudIframe
      } catch (error) {
        console.error(error);
        this.embedLoadError = true;
      }

      this.embedLoading = false;
    },

    async openBeatport () {
      this.resetEmbeds();
      this.embedLoading = true;

      const found = this.tune.beatport.match(/.*track.*\/(\d+)/);
      const beatportId = last(found);
      let beatportIframe = undefined;

      const iframe = this.createIframe();

      const beatportIframeContainer = document.querySelector(
        '#beatportIframeContainer'
      );

      try {
        beatportIframe = await axios.get(
          `https://embed.beatport.com/player/?id=${beatportId}&type=track`
        );
        beatportIframeContainer.appendChild(iframe);
        iframe.contentDocument.write(beatportIframe.data);
        this.beatportLoaded = true;
      } catch (error) {
        console.error(error);
        this.beatportLoaded = false;
        this.embedLoadError = true;
      }

      this.embedLoading = false;
    },

    removeBeatportIframe () {
      const el = document.querySelector('#beatportEmbedIframe');
      if (el) {
        el.parentNode.removeChild(el);
      }
    },

    createIframe () {
      const iframe = document.createElement('iframe');
      iframe.onload = function() {
         // contentWindow is set!
      };
      iframe.src = 'about:blank';
      iframe.style.width = '100%';
      iframe.setAttribute('id', 'beatportEmbedIframe');
      iframe.setAttribute('frameborder', '0');
      iframe.setAttribute('scrolling', 'no');

      return iframe;
    },

    resetEmbeds () {
      this.removeBeatportIframe();
      this.beatportLoaded = undefined;
      this.embedSoundcloudHtml = undefined;
      this.embedLoading = undefined;
      this.embedLoadError = false;
    }
  },

  components: {
    'loader': () => import('../Loader/Loader.vue'),
  }
}
</script>

<style scoped>

  .tune-url {
    height: 28px;
  }

</style>
