<template>
  <section class="tune-card-raters-container">

      <v-row dense v-if="tune">
        <v-col cols="6">
          <div
            class="tune-like d-flex align-center tune-rating likes rate"
            :data-item-id="tune.id"
            data-action="liked"
            data-action-category="tune"
            :title="likeText(tune)"
            @click="rate($event)">
            <double-bounce
              v-if="showLikeLoader"
              size="50px"
              :background="variables.primary" />
            <v-icon
              class="rating-button rating-hover"
              size="4em"
              v-if="!showLikeLoader">
              {{ hasUserLike(tune) ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up' }}
            </v-icon>
            <span
              v-if="tune.ratings && tune.ratings.likes"
              class="rating-count rating-hover">
              {{ likesCount }}
            </span>
          </div>

          <v-row dense class="my-2 mx-1 justify-start">
            <v-avatar
              v-for="(like, i) in tune.ratings.likes" :key="`${i}-${like.item_id}`"
              size="40px"
              class="grey lighten-4 mr-1 wow animated fadeIn"
              :title="likedAt(like)"
              data-wow-delay="5s">
            <img
              :src="`${baseUrl}files/user_${like.user.id}/${like.user.photo_url}`"
              :alt="like.user.display_name">
            </v-avatar>
          </v-row>
        </v-col>

        <v-col cols="6">
          <div
            class="tune-dislike d-flex align-center tune-rating dislikes rate"
            :data-item-id="tune.id"
            data-action="disliked"
            data-action-category="tune"
            :title="dislikeText(tune)"
            @click="rate($event)">
            <double-bounce
              v-if="showDislikeLoader"
              size="50px"
              :background="variables.primary" />
            <v-icon
              class="rating-button rating-hover"
              size="4em"
              v-if="!showDislikeLoader">
              {{ hasUserDislike(tune) ? 'fa fa-thumbs-down' : 'fa fa-thumbs-o-down' }}
            </v-icon>
            <span
              v-if="tune.ratings && tune.ratings.dislikes"
              class="rating-count rating-hover">
              {{ dislikesCount }}
            </span>
          </div>

          <v-row dense class="my-2 mx-1 justify-start">
            <v-avatar
              v-for="(dislike, i) in tune.ratings.dislikes" :key="`${i}-${dislike.item_id}`"
              size="40px"
              class="grey lighten-4 mr-1 wow animated fadeIn"
              :title="dislikedAt(dislike)"
              data-wow-delay="5s">
            <img
              :src="`${baseUrl}files/user_${dislike.user.id}/${dislike.user.photo_url}`"
              :alt="dislike.user.display_name">
            </v-avatar>
          </v-row>

        </v-col>
      </v-row>


    <notify
      v-if="notify"
      :notifyObj="notify"
      :phpThumbPictureURL="phpThumbPictureURL">
    </notify>

  </section>
</template>
<script>

import {TuneRateMixin} from '../../mixins/tune/tuneRateMixin';
import {TuneRatingMixin} from '../../mixins/tune/tuneRatingMixin';
import {SlackHookMixin} from '../../mixins/slack/slackHookMixin';
import {trackEvent} from '../../lib/helpers';
import {get} from 'lodash';

import { mapGetters } from 'vuex'

import _variables from '../../scss/_variables.scss';

export default {
  mixins: [TuneRateMixin, SlackHookMixin, TuneRatingMixin],

  data: () => ({
    name: 'TuneRatings',
    notifyObj: undefined,
    ratedtune: undefined,
    variables: {},
  }),

  props: {
    tune: {
      type: Object,
      required: true
    },
  },

  created () {
    this.variables = _variables;
  },

  computed: {
    ...mapGetters([
      'baseUrl',
      'fbSiteUrl',
      'frontendThemeImages'
    ]),

    ...mapGetters('user', {
      user: 'getUser',
      isGradioTeam: 'isGradioTeam',
    }),
  },

  methods: {

    rate (event) {
      const rating = event.currentTarget.dataset;
      this.$store.dispatch('tune/updateSelectedTune', this.tune);
      this.rateTune(this.tune, rating).then(async (result) => {
        // await this.$store.dispatch('tune/reloadSelectedTune');
        this.ratedtune = get(result, 'data.human[0].item_data[0]', undefined);
        this.pushNotify(result);

        trackEvent(
          this.name,
          rating.action,
          `${this.tune.artist} - ${this.tune.title}`
        );
        this.postSlackHook(result);
      }).catch(error => console.error(error));
    },
  },

  components: {
    'notify': () => import('../Notify/Notify.vue'),
    'double-bounce': () => import('vue-loading-spinner/src/components/DoubleBounce.vue'),
  }
}
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables.scss';

  .rate:hover {
    cursor: pointer;
  }

  .rating-count {
    font-size: 65px;
    margin-left: 30px;
    color: rgba(0,0,0,.54);
  }

  .tune-rating:hover .rating-hover {
    color: $primary !important;
  }

</style>
