<template>
  <section id="video">
    <v-toolbar
      dark
      color="primary"
      class="mb-1">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate><slot>Tune video</slot></translate>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        v-if="reload"
        text
        icon
        small
        color="white"
        @click="$parent.reload"
        :loading="$parent.loading">
        <v-icon>cached</v-icon>
      </v-btn>
      <v-btn
        v-if="!reload"
        text
        icon
        small
        color="white"
        :loading="$parent.loading">
      </v-btn>
    </v-toolbar>
    <div class="responsive-video-container">
      <iframe
        :src="`https://www.youtube.com/embed/${tune.youtube_id}?&hd=1`"
        frameborder="0"
        allowfullscreen
        class="responsive-video">
      </iframe>
    </div>
  </section>
</template>
<script>

export default {
  data: () => ({
    name: 'Video',
  }),
  props: {
    tune: {
      type: Object,
      required: true
    },
    reload: {
      type: Boolean,
    }
  }
}
</script>
