
/* admin css */

#dataConfirmModal,#dataConfirmLabel {
  color: #000;
}

.atbildes-pazinojums {
  margin-top: 30px;
}

.viss-saturs {
  display: block;
  min-width: 900px;
  margin: 20px 0;
  min-height: 200px;
  color: #fff;
  /*background: rgba(255,255,255,.1);*/
  background: rgba(0,0,0,.1);
}

.viss-cata-saturs {
  display: block;
  min-width: 900px;
  margin: 20px 0;
  min-height: 100px;
  color: #fff;
  /*background: rgba(255,255,255,.1);*/
  background: rgba(0,0,0,.1);
}

.edit-saturs > .viss-saturs:nth-child(even) {
  /*background: rgba(0,0,0,.1);*/
}

div[class^=sat]{
  float: left;
  margin-left: 1px;
  text-align: center;
}

[class^=edit]{
  display: block;
  margin-bottom: 10px;
}

div.editing-opt {
  position: absolute;
  margin: 30px 0 0 50px;
  /*right: 200px;*/
}

/*
[class^=adm]{
  display: inline;
  margin: 0 10px;
}
*/

div[class^=sath]{
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin-left: 1px;
  text-align: center;
}

div.sath-id {
  width: 30px;
}

div.sath-msg-id {
  width: 70px;
}
div.sath-nosaukums {
  width: 100px;
}

div.sath-phone {
  width: 150px;
}

div.sath-sat {
  width: 450px;
}

div.sath-text-in {
  width: 500px;
}

div.sath-dat {
  width: 110px;
}

div.sath-time-del {
  width: 150px;
}

div.sath-kat {
  width: 120px;
}

div.sath-operator {
  width: 120px;
}

div.sath-bilde {
  width: 210px;
}


div.sat-id {
  width: 30px;
  /*border: 1px solid red;*/
}

div.sat-msg-id {
  width: 70px;
  /*border: 1px solid red;*/
}

div.sat-nosaukums {
  width: 200px;
}

div.sat-phone {
  width: 150px;
}

div.sat-sat {
  width: 450px;
  height: 200px;
  overflow: hidden;
}

div.sat-text-in {
  width: 500px;
}

div.sat-dat {
  width: 110px;
}

div.sat-time-del {
  width: 150px;
}

div.sat-kat{
  width: 120px;
}

div.sat-operator {
  width: 120px;
}

div.sat-bilde{
  width: 210px;
}

.loadingDiv{
  text-align: center;
}

input[type="text"] {
  height: 30px;
}

/* satura tabula */

table.satura-tabula td.sat-sat {
  width: 35%;
}

table.satura-tabula td div {
  height: 100px;
  overflow: hidden;
}

div.satura-tabula table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

div.satura-tabula {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.satura-tabula table td, div.satura-tabula table th {
  padding: 3px 10px;
  text-align: center;
}

div.satura-tabula table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-left: 1px solid #0070A8;
}

div.satura-tabula table thead th:first-child {
  border: none;
}

div.satura-tabula table tbody td {
  color: #00557F;
  border-left: 1px solid #E1EEF4;
  font-size: 12px;
  font-weight: normal;
}

div.satura-tabula table tbody tr:nth-child(2n+1) {
  background: #E1EEf1;
  color: #00557F;
}

div.satura-tabula table tbody td:first-child {
  border-left: none;
}

div.satura-tabula table tbody tr:last-child td {
  border-bottom: none;
}

div.satura-tabula table tfoot td div {
  border-top: 1px solid #006699;
  background: #E1EEf4;
}

div.satura-tabula table tfoot td {
  padding: 0;
  font-size: 12px
}

div.satura-tabula table tfoot td div{
  padding: 2px;
}

div.satura-tabula table tfoot td ul {
  margin: 0;
  padding:0;
  list-style: none;
  text-align: right;
}

div.satura-tabula table tfoot  li {
  display: inline;
}

div.satura-tabula table tfoot li a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 8px;
  margin: 1px;
  color: #FFFFFF;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699;
}

div.satura-tabula table tfoot ul.active, div.satura-tabula table tfoot ul a:hover {
  text-decoration: none;
  border-color: #00557F;
  color: #FFFFFF;
  background: none;
  background-color:#006699;
}

/*
table.satura-tabula thead tr th{
  margin-right: 200px;
}
*/

.adm-song-likes {
  height: 30px;
}

.adm-song-dislikes {
  height: 30px;
}

/* /admin css */


div.profile-row-inner{
  position: fixed;
  /*background-color: #66299E;*/
  background: rgba(0,0,0, .5);
  height: 40px;
  width: 100%;
  z-index: 2;
  margin-left: 85px;
}

div.fast-user-settings:hover{
  cursor: pointer;
}

div.fast-user-settings-expand{
  float: none;
  height: 200px;
  background-color: rgba(0,0,0,.5);
  margin-top: 40px;
}

div.user-small-pic img{
  height: 35px;
  margin-top: 3px;
}

div.user-name{
  color: #fff;
  margin-left: 5px;
}

span.user-chevron{
  color: #fff;
  margin-left: -35px;
  margin-top: 20px;
}


div.loading-effect {
  margin-top: 5px; /* vajadzigs lai saturs saktos lidz ar nav beigam */
}

/* priekš videos */

div#videos  {
  margin: 0 auto;
  width: 100%;
  /*height: 500px;*/
  text-align: center;
}

div#videos div.video {
  position: relative;
  z-index: 9;
  float: left;
  margin: 2px;
  width: 288px;
  display: inline-block;
}

div#videos p.video:last-child {
  /*margin: 0 0px 5px 0;*/
}

#ytp {
  /*margin-bottom: 30px;*/
}

.ytppp {
  position: relative;
  z-index: 9;
  margin: 0 0 50px 50px;
  /*float: left;*/
  display: inline-block;
  width: 45%;
}

.nosaukums {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px;
  height: 40px;
  width: 100%;
  font-size: 15px;
  background-color: rgba(0,0,0,.7);
  color: #45aeea;
}

.skatijumi {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 2px;
  height: 40px;
  width: 100%;
  font-size: 15px;
  background-color: rgba(0,0,0,.7);
  color: #45aeea;
}

.play-icon:hover {
  background: transparent url(../../img/icons/play-small-hover.png) center center no-repeat;
}

.play-icon {
  background: transparent url(../../img/icons/play-small.png) center center no-repeat;
  /*margin: -250px 0 0 170px;*/
  height: 100%;
  /*max-height: 128px;*/
  width: 90%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 11;
  cursor: pointer;
}

ul.relize li {
  list-style-type: none;
  background: url('../../img/bullet.png') no-repeat top left;
  padding-left: 30px;
  margin-bottom: 20px;
}

legend, .help-block {
  color: #fff;
}

.dj-k-v  {

}

.dj-k-v th {
  font-weight: bold;
}

.dj-k-v td {
  text-align: center;
  padding: 3px;
  border: 1px solid #fff;
}

.dj-k-v tr {

  padding: 3px;
  margin-bottom: 5px;
}

tr.inf-atb td {
  text-align: center;
  padding: 5px;
}

.atbalstitajs {
  float: left;
  /*display: inline;*/
  margin: 30px 0 0 20px;
  width: 200px;
  min-height: 238px;
  line-height: 238px;
  vertical-align: middle;
  position: relative;
}

.atbalstitajs img  {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.artist {
  float: left;
}

.artist img {
  margin-right: 20px;
}

.brand {
  float: left;
  margin: 30px -20px 0 20px;
  line-height: 246px;
  vertical-align: middle;
}

.a-container {
  position: relative;
  float: left;
  margin: 0 3% 3% 0;
  width: 246px;
  height: 246px;
  cursor: pointer;
}

.a-info {
  position: absolute;
  top: -10px;
  left: 50px;
}

.a-close{
  position: absolute;
  top: -10px;
  right: 50px;
}

.a-name {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 180px;
  overflow: hidden;
  background-color: rgba(18,99,146,.8);
  padding: 2px 2px 2px 5px;
  font-size: 25px;
  /*white-space: nowrap;*/
  z-index: 1;
  /*cursor: pointer;*/
}

.a-name a {
  color: #fff;
}

.a-brand {
  position: absolute;
  top: 170px;
  width: 241px;
  overflow: hidden;
  background-color: rgba(102,204,247,.8);
  padding: 2px 2px 2px 5px;
  /*white-space: nowrap;*/
  z-index: 1;
  /*cursor: pointer;*/
}

.sek-ikona {
  float: left;
  margin-left: 10px;
}

.sek-ikona a:hover {
  color: transparent;
}

.alert-info {
  background-color: #146292;
  border: 1px solid #1f77a9;
}

.satura-ielade {
  text-align: justify !important;
  float: none !important;
}

ul.dj li {
  list-style-type: none;
  background: url('../../img/bullet.png') no-repeat top left;
  padding-left: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.alert {
  text-align: center;
}

.likebox {
  /*background: rgba(255,255,255,.7);*/
  /*background: #fff;*/
  padding: 5px;
  height: 625px;
}

.fb-like-box, .twitter-timeline, #fansBlock {
  background: #fff;
  height: 625px;
}

#fansBlock { border: 1px solid #c9c9c9; }

/*.twitter-timeline {
  margin-left: 10px;
}*/


.aktiva {
  background-color: #1684c2;
  color: #ffffff !important;
  text-decoration: none;
}

.notirit {
  clear: both;
}

@font-face {
  font-family: bebas-neue;
  src: url('../fonts/bebas-neue/bebas-neue.otf');
}

@font-face {
  font-family: steelfish-ot;
  src: url('../fonts/steelfish/steelfish-outline.ttf');
}

@font-face {
  font-family: steelfish-bold;
  src: url('../fonts/steelfish/steelfish-bd.ttf');
}

@font-face {
  font-family: steelfish;
  src: url('../fonts/steelfish/steelfish.ttf');
}

@font-face {
  font-family: mentone-semibol;
  src: url('../fonts/mentone/mentone-semibol.otf');
}

/* @import url(http:/fonts.googleapis.com/css?family=Jockey+One&subset=latin,latin-ext); */

body, html{
   height: 100%; /* max height trick */
   /*background-color: transparent;*/
   background: transparent url("../img/bg/bg.png");
}

html{
  /*background: transparent url("img/bg.png");*/
  font-family: 'Source Sans Pro', sans-serif !important;
}

body {
  /*font-family: 'Jockey One', sans-serif !important;*/
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #696969;
}

h1.slimt-text {
  font-weight: 300;
}

/* connect/disconnect */

.connected-login:hover {
  background-color: rgba(0,0,0,.5);
  color: gray;
}

.disconnected-login, .disconnected-login:hover {
  background-color: rgba(0,0,0,.5);
  color: gray;
}

.grid {
  /*background: transparent url("../../img/bg.png");*/
  /*background: transparent url("../../img/template/gradio/bg/bg.jpg");*/

  /*height: 100%;*/ /* max height trick */
  z-index: 999;
  /*padding-bottom: 10px;*/
}

#flashContent {
  margin: auto;
  width:710px;
  text-align: center;
}

/*
.saturs {
  background: rgba(18,97,143,.5);
  padding: 5px;
  /*margin-top: 40px;*/
  /*min-height: 100%;*/
  /*background: none;*/
  /*-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F12618F,endColorstr=#7F12618F);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F12618F,endColorstr=#7F12618F);
  zoom: 1;
}
*/

.saturs {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYjUyZCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iOCUiIHN0b3AtY29sb3I9IiNhZWYxMDAiIHN0b3Atb3BhY2l0eT0iMC43OSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MiUiIHN0b3AtY29sb3I9IiNjNGY4M2UiIHN0b3Atb3BhY2l0eT0iMC43MSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzE5ZDAwIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(143,181,45,0.8) 0%, rgba(174,241,0,0.79) 8%, rgba(196,248,62,0.71) 92%, rgba(113,157,0,0.7) 100%);

/* FF3.6+ */
/*
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,181,45,0.8)), color-stop(8%,rgba(174,241,0,0.79)), color-stop(92%,rgba(196,248,62,0.71)), color-stop(100%,rgba(113,157,0,0.7))); /* Chrome,Safari4+ */

/*
background: -webkit-linear-gradient(top,  rgba(143,181,45,0.8) 0%,rgba(174,241,0,0.79) 8%,rgba(196,248,62,0.71) 92%,rgba(113,157,0,0.7) 100%); /* Chrome10+,Safari5.1+ */

/*
background: -o-linear-gradient(top,  rgba(143,181,45,0.8) 0%,rgba(174,241,0,0.79) 8%,rgba(196,248,62,0.71) 92%,rgba(113,157,0,0.7) 100%); /* Opera 11.10+ */

/*
background: -ms-linear-gradient(top,  rgba(143,181,45,0.8) 0%,rgba(174,241,0,0.79) 8%,rgba(196,248,62,0.71) 92%,rgba(113,157,0,0.7) 100%); /* IE10+ */

/*
background: linear-gradient(to bottom,  rgba(143,181,45,0.8) 0%,rgba(174,241,0,0.79) 8%,rgba(196,248,62,0.71) 92%,rgba(113,157,0,0.7) 100%); /* W3C */

/*
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc8fb52d', endColorstr='#b3719d00',GradientType=0 ); /* IE6-8 */

background: rgba(0,0,0, .2);
color: #fff;
transition: all 1s ease-in-out;

}

.purple-shadow {
  color: #41046F;
  text-shadow: -1px 0px 2px rgba(150, 150, 140, 1);
}

.ikona{
  display: inline;
  margin: 0 10px 10px 0;
}

.ikonas{
  margin-top: 100px;
  /*border: 1px solid red;*/
}

.sr-moto {
  font-family: 'Source Sans Pro', sans-serif;
}

#contact-area {
  width: 500px;
  margin-top: 25px;
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 420px;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  margin-left: 15px;
  border: 2px solid #ccc;
}

#contact-area textarea {
  height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #900;
}

#contact-area input.submit-button {
  width: 100px;
  float: right;
}

.footer-content {
  margin: 0 0 30px 30px;
  width: 240px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  /*text-align: center;*/
  /*border: 1px solid red;*/
}

.footer-cr a {
  color: #fff;
}

.footer-cr {
  position: absolute;
  /*top: 0px;*/
}

.footer-cr a:hover {
  text-decoration: none;
  color: #fff;
}

.footer-img {
  margin-left: 40px;
  position: absolute;
}

.soc-pogas, .footer {
  margin-top: 60px;
}

.vcenter {
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.izvele {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.izvele:hover {
  /*background: rgba(255,255,255,.7);*/
  cursor: pointer;
}

h2 {
  /*color: #fff;*/
}

.center {
  text-align: center;
}

#toTop {
  width:100px;
  /*border:1px solid #ccc;*/
  /*background:#f7f7f7;*/
  /*text-align:center;*/
  padding: 5px;
  position: fixed; /* this is the magic */
  bottom: 10px; /* together with this to put the div at the bottom*/
  right: 10px;
  cursor: pointer;
  display: none;
  /*color:#333;*/
  /*font-family:verdana;*/
  font-size: 11px;
}

.timeline-container {
  color: #592680;
}

footer {
  /*margin: 10px auto 0 auto;*/
  /*bottom: 0px;*/
}

  /* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */

  .marketing {
  /*background-color: #fff;*/
  /*margin-top: 20px;*/
  padding: 5px;
  /*border: 3px solid #fff;*/
  }

  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  /*#sticky_navigation_wrapper { width:100%; height:50px; }*/

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }

  /* Remove border and change up box shadow for more contrast */
  .navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        box-shadow: 0 2px 10px rgba(0,0,0,.25);
  }

  /* Downsize the brand/project name a bit */
  .navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  }

  /* Navbar links: increase padding for taller navbar */
  .navbar .nav > li > a {
    padding: 15px 20px;
  }

  /* Offset the responsive button for proper vertical alignment */
  .navbar .btn-navbar {
    margin-top: 10px;
  }

  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  /* Carousel base class */
  .carousel {
    margin-bottom: 0px;
  }

  .carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .carousel-control {
    background-color: transparent;
    border: 0;
    font-size: 120px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }

  .carousel .item {
    height: 220px;
  }
  .carousel img {
    min-width: 100%;
    height: 220px;
  }

  .carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }

  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .span4 {
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 10px 0; /* Space out the Bootstrap hr more */
  }
  .featurette {
    padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
  }
  .featurette-image {
    margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
  }

  /* Give some space on the sides of the floated elements so text doesn't run right into it. */
  .featurette-image.pull-left {
    margin-right: 40px;
  }
  .featurette-image.pull-right {
    margin-left: 40px;
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (max-width: 979px) {

    .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
    }
    .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
    }

    .carousel .item {
    height: 220px;
    }
    .carousel img {
    width: auto;
    height: 220px;
    }

    .featurette {
    height: auto;
    padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
    }
  }


  @media (max-width: 767px) {

    .navbar-inner {
    margin: -20px;
    }

    .carousel {
    margin-left: -20px;
    margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
    height: 220px;
    }
    .carousel img {
    height: 220px;
    }
    .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-bottom: 40px;
    }
    .carousel-caption h1 {
    font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
    font-size: 18px;
    }

    .marketing .span4 + .span4 {
    margin-top: 40px;
    }

    .featurette-heading {
    font-size: 30px;
    }
    .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
    }

  }

  .youtube {
  cursor: pointer;
  }


.container-fluid > .sidebar {
  position: relative;
  top: 0;
  left: auto;
  width: 220px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container-fluid > .content {
  margin: 0 240px;
}

/*
.cbp-vimenu li:first-child a {
  background: none ;
  color: #fff;
}
*/

/*
.home-nav {
  background: url(../img/logos/only-g-without-gloss-web-200.png) no-repeat top left !important;
  width: 100% !important;
}
*/
.cbp-vimenu  {
  z-index: 11;
  width: 100px;
  position: fixed;
  overflow: visible;
  top: 0;
  /*left: 14.1%;*/
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,.5);
}


.cbp-vimenu li a {
  display: block;
  text-indent: 0;
  height: 5em;
  width: 100%;
  line-height: 5em;
  text-align: center;
  color: #fff;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,.1);
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

.cbp-vimenu li.dropdown.open > ul{
  min-width: 16px;
  /*width: 100% !important;*/
  background: rgba(0,0,0,.5);
  top: -2px;
  left: 100px;
  padding: 0;
  margin: 0;
}

.cbp-vimenu li.dropdown.open > ul li a{
  height: 4em;
  line-height: 4em;
}

.fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }

.suncic {
  max-width: 100%;
}

/*
.tweets-container {
  overflow: hidden;
  max-height: 100px;
}
*/

.tweets-container .tweet-text {
  font-weight: bold;
  /*color: #41046F;*/
  color: #C7B1D8;
  /*text-shadow: -1px 0px 2px;*/
}

.debug {
  border: 1px solid red;
}

table.dataTable tr.odd {
  background-color: #505742;
  color: #b8ec79;
}

table.dataTable tr.even {
  background-color: #313130;
  color: #b8ec79;
}

table.dataTable tr.odd td.sorting_1 {
  background-color: #333F24;
}

table.dataTable tr.even td.sorting_1 {
  background-color: #151A12;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  background-color: #A300FF;
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #d9534f;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #5bc0de;
}

.elfinder .elfinder-navbar {
  background: #525151;
}

/*
.fb_iframe_widget span {
  display: table;
  margin: 0 auto;
}
*/

#fb-comment-content-loader{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  margin: 0 auto;
}

.category-panel{
  background-color: transparent;
  border: none;
}

.content-row{
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

.cont_imgs_add, .cat_imgs_add {
  cursor: pointer;
  width: 200px;
  height: 200px;
}

/* recently-played-block */

.recently-played-block{
  /*background-color: #fff;*/
  margin-left: -15px;
}

.recently-played-block-title{
  font-size: 15px;
  font-weight: bold;
  height: 10px;
  padding: 15px;
}

.recently-played-block-artist{
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.recently-played-block-songtitle{
  font-size: 17px;
  font-weight: bold;
  /*margin-top: 80px;*/
  position: relative;
  top: 80px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.recently-played-block-image{
  height: 186px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.recently-played-block-mask{
  /* height: 181px; */
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin-top: -135px; */
  /* margin-left: 50px; */
  position: absolute;
  top: 1px;
  left: 45px;
  z-index: 1;
}

/* end recently-played-block */


.google-calendar-block{
  background-color: #fff;
  margin-left: -15px;
  margin-top: 15px;
}


/* recent-news-block */

.recent-news-block{
  /*background-color: rgba(255, 255, 255, 1);*/
  background-color: rgba(0, 0, 0, .52);
  margin-left: -15px;
  margin-bottom: 10px;
  padding: 0 15px 15px 15px;
}

.recent-news-block-title{
  font-size: 15px;
  font-weight: bold;
  height: 10px;
}

.recent-news-block-inner{
  /*background-color: #B1E25A;*/
  height: 200px;
}

.recent-news-block-content{
  /*height: 200px;*/
  /*margin-top: 40px;*/
  /*margin-left: 140px;*/
  position: absolute;
  left: 150px;
  width: 310px;
  height: 135px;
  overflow: hidden;
  /*background-color: #000;*/
  /*font-size: 16px;*/
  font-weight: bold;
  /*color: #292929;*/
  color: #A5A5A5;
}

.recent-news-block-image{
  height: 120px;
  width: 132px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recent-news-block-mask{
  height: 106px;
  width: 132px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 15px;
  /*background-color: #000;*/
  /*margin-top: -135px;
  margin-left: 50px;
  */
}

.recent-news-block-date{
  margin-top: 20px;
  /*margin-left: 20px;*/
}

.recent-news-block-comments{
  /*margin-left: 20px;*/
}

.recent-news-block-tag{
  /*margin-left: 20px;*/
  font-size: 17px;
  width: 200px;
}

/* end recent-news-block */

/* recent-categories-block */

.recent-categories-block {
  /*background-color: rgba(255, 255, 255, 1);*/
  background-color: rgba(0, 0, 0, .52);
  /*margin-left: -15px;*/
  margin-bottom: 10px;
  padding: 0 15px 15px 15px;
}

.recent-categories-block-title {
  font-size: 25px;
  font-weight: bold;
}

.recent-categories-block-inner {
  /*background-color: #B1E25A;*/
  height: 270px;
}

.recent-categories-block-content {
  /*height: 200px;*/
  /*margin-top: 40px;*/
  /*margin-left: 140px;*/
  /*position: absolute;*/
  /*left: 150px;*/
  /*width: 600px;*/
  height: 260px;
  overflow: hidden;
  /*background-color: #000;*/
  /*font-size: 16px;*/
  /*color: #292929;*/
  color: #A5A5A5;
}

.recent-categories-block-image{
  height: 200px;
  /*width: 132px;*/
  /*background-size: cover;*/
  background-repeat: no-repeat;
}

.recent-categories-block-mask{
  height: 106px;
  width: 132px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 15px;
  /*background-color: #000;*/
  /*margin-top: -135px;
  margin-left: 50px;
  */
}

.recent-categories-block-info {
  width: 20%;
  position: relative;
  top: -50px;
}

.recent-categories-block-date{
  /*margin-top: 20px;*/
  /*margin-left: 20px;*/
}

.recent-categories-block-comments{
  /*margin-left: 20px;*/
}

.recent-categories-block-tag{
  /*margin-left: 20px;*/
  font-size: 17px;
  width: 200px;
}

.subcategory-image {
  height: 200px;
  width: 200px;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.subcategory-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* end recent-categories-block */

.music-stream-block{
  /*position: relative;*/
  /*margin: 0px auto;
  padding: 0px;
  width: 600px;*/
  /*height: 400px;
  overflow: hidden;*/
  /*background-color: rgba(255, 255, 255, 1);*/
  background-color: rgba(0, 0, 0, .2);
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px;
}

.music-stream-block .now-playing-bio{
  position: relative;
  height: 400px;
  overflow: hidden;
}

.music-stream-block .now-playing-bio-container{
  /*height: 400px;
  overflow: hidden;*/
}

.login-block{
  background-color: rgba(255, 255, 255, 1);
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px 15px 15px;
}

.login-block legend{
  margin-bottom: 0px;
}

#maskas-path{
  background-color: #fff;
}

/*
.bg-eff{
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background: url('http://userserve-ak.last.fm/serve/174s/100139171.png') no-repeat center center fixed; ;
  -webkit-filter: blur(5px);
  opacity: 0.8;
  top: 0;
  bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.navbar-header{
  z-index: 10;
  /*position: absolute;*/
}

.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#navbar{
  /*margin-top: 100px;*/
  background-color: #1A2144;
  width: 200px;
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .cbp-vimenu {
    display: none !important;
  }

  .navbar-toggle {
    display: block !important;
  }

  .saturs {
    /*margin-left: 86px;*/
  }
  /*
  .navbar-nav {
    display: block !important;
  }
  */
}

@media screen and (max-width: 1360px) {
  .saturs {
    margin-left: 86px;
  }
}

@media screen and (max-width: 1023px) {
  .saturs {
    margin-left: 0px;
  }
}

.gradio-menu {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  width: 0px;
}

#navbar.in{
  display: block !important;
}

span[class$="-cache-count"] {
  font-weight: bold;
}


.latest-tracks{
  margin-left: -15px;
}


/* admin settings menu */

#left-settings-menu .accordion-group {
  margin-bottom: 0px;
  border:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#left-settings-menu .accordion-heading {
  height: 34px;
  border-top: 1px solid #717171; /* inner stroke */
  border-bottom: 1px solid #5A5A5A; /* inner stroke */
  background-color: #353535; /* layer fill content */
  background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
  background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
  background-image: linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
  list-style-type:none;
}

#left-settings-menu .accordion-heading  a{
  color: #cbcbcb; /* text color */
  text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
  text-decoration:none;
  font-weight:bold;
  padding: 5px;
}

#left-settings-menu .accordion-heading  a:hover{
  color:#ccc
}

#left-settings-menu .accordion-heading .active {
  width: 182px;
  height: 34px;
  border: 1px solid #5b5b5b; /* inner stroke */
  background-color: #353535; /* layer fill content */
  background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
  background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
  background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

/* tune plugin */

div.tune-table {
  margin-left: -15px;
}

div.tune-table table{
  background-color: #fff;
  /*border: 1px solid red;*/

  /*border-collapse: separate;*/
}

div.tune-table table tr{
  /*margin-bottom: 10px;*/
  /*border: 1px solid red;*/
}

div.tune-table table tr td{
  vertical-align: top;
  /*margin-bottom: 10px;*/
  border-bottom: 1px solid #696969;
}

div.tune-table table tr th{
  /*margin-bottom: 10px;*/
  /*border: 1px solid red;*/
}

div.tune-table table tr td{
  /*padding: 0;
  margin: 0;*/
  height: 10px;
}

div.tune-table table td.tune-rating{
  /*font-size: 32px;*/
  /*font-weight: bold;*/
  margin: 0 auto 10px auto;
}

div.tune-table table td div.tune-table-title{
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
  padding-right: 1px;
}

div.tune-table table td div.tune-table-content{
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-right: 1px;
}

div.tune-table table th.th-cover{
  /*width: 40px !important;*/
}

div.tune-table table th.th-info{
  /*width: 200px !important;*/
}

div.tune-table table td div.tune-image-100 img{
  width: 100%;
  max-width: 420px;
}

div.tune-table table td.tune-rating{
  border: none;
}

div.tune-table table td.tune-ratings-percent{
  border: none;
}

div.tune-table table td div.tune-rating-inner{
  margin: 0 auto;
  /*width: 550px;*/
}

div.tune-table table tr.tune-rating-counts{
  text-align: center;
  border: none;
  /*margin-bottom: 10px;*/
}

div.tune-table table tr.tune-rating-counts td{
  border: none;
}


div.tune-table table td div.tune-rating-inner:hover{
  cursor: pointer;
}

div.tune-table table td div.tune-dislike {
  /*margin-left: 100px;*/
}

div.tune-table table td.tune-ratings-percent div.progress{
  width: 90%;
  margin: 0 auto;
}

div.tune-table table td #fb-comment-content {
  /*width: 100%;*/
  min-height: 0px;
  background-color: #fff;
  position: relative;
}

.dyn-content h3 {
  background: rgba(0,0,0, .5);
  color: #fff;
  padding: 10px;
}

.tune-table .responsive-table {
  background: rgba(0,0,0, .2);

}

/* /tune plugin */
/*
.black-footer{
  background: rgba(0,0,0,1);
  position: relative;
  height: 100px;
  bottom: 0px;
}
*/

.content-item-title h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.content-item-added {
  font-size: 17px;
}

.content-item-text {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.content-item-tag {
  font-size: 17px;
}

.content-item-likes .count {
  /*padding: 0 10px;*/
  font-size: 50px;
  text-align: center;
}

.content-item-dislikes .count {
  /*padding: 0 10px;*/
  font-size: 50px;
  text-align: center;
}

.content-item-comments {
  background-color: #fff;
}

#recent-news-mask-container {
  background: red;
}

#recent-news-maska {
  background: #B1E25A;
}

.online-user-container {
  height: 98px;
  margin-bottom: 10px;
  background-color: #fff;
  /*border: 1px solid red;*/
}

.online-user-inner {

  /*padding: 1px;*/
  /*margin-bottom: 50px;*/
  text-align: center;
  position: relative;
  height: 100px;
  /*border: 1px solid red;*/
}

.online-user-inner h2 {
  z-index: 2;
  position: relative;
  top: -17px;
  background: #fff;
  padding: 4px 0;
  color: #000;
  /*margin-top: -30px;*/
}

.online-user-inner h3 {
  z-index: 2;
  position: relative;
  padding: 4px;
  bottom: -27px;
}

.online-user-pic {
  width: 100%;
}

.tune-extra-information .tune-table-platform-content {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: right;
}

.music-options .tune-table-content {
  margin-bottom: 20px;
  text-align: center;
}

.tune-table-seperator {
  width: 10px;
  height: 500px;
  border: 1px solid red;
}

.tune-information, .tune-extra-information {
  margin-left: 15px;
}

.tune-extra-information {
  width: 47.5%;
}

#gradio_songs_info {
  color: #fff;
}

.listen-link-buttons {
  margin: 30px 0 0 20px;
}

.listen-link-buttons > a {
  margin-right: 10px;
}

/* bugfix ms edge */
.listen-link-buttons img {
  width: 59px;
  height: 30px;
}

a:hover, a:focus {
  text-decoration: none;
}

.elfinder-workzone {
  background: #525151;
}

.emojione {
    height: 20px;
}

#dragbox {
  border: 1px solid gray;
}

.tune-form-container span.input-group-addon {
  min-width: 150px;
  text-align: left;
}

#gradio_songs_wrapper .tune-link {
  position: relative;
}

#gradio_songs_wrapper .tune-id {
  position: absolute;
  top: 20px;
  left: 0px;
  background: rgba(255,255,255,.7);
  padding: 0 17px;
  color: #000;
}

.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length {
  color: #fff;
}

.tab-pane#settings .panel-body {
  color: #000;

.rate {
  cursor: pointer;
}
