<template>
  <div class="power-video-container">
    <v-row dense>
      <v-col cols="12">
        <tune-video
          v-if="video && video.youtube_id"
          :tune="video"
          :reload="true">
          Power video
        </tune-video>
      </v-col>
      <v-col cols="12">
        <div v-if="video && video.youtube_playlist_id">
          <a
            :href="videoPlaylistHref(video)"
            target="_blank">
            <v-btn block color="light-blue accent-3" dark>
              <translate>Youtube playlist</translate>
            </v-btn>
          </a>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    name: 'PowerVideo',
    loading: false,
  }),
  async created () {
    await this.load();
  },
  computed: {
    ...mapGetters('video', {
      video: 'getPowerVideo'
    })
  },
  methods: {
    ...mapActions('video', [
      'fetchPowerVideo',
    ]),
    async load () {
      this.loading = true;
      await this.fetchPowerVideo();
      this.loading = false;
    },
    async reload () {
      if (this.loading) {
        return;
      }
      await this.load();
    },
    videoPlaylistHref (video) {
      return `https://www.youtube.com/watch?v=${video.youtube_id}&list=${video.youtube_playlist_id}`;
    },
  },
  components: {
    'tune-video': () => import('../Tune/Video.vue'),
  },
}
</script>
