_<template>
  <div class="videos-infos-container">
    <v-toolbar
      dark
      color="primary">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate><slot>Videos</slot></translate>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        text
        icon
        small
        color="white"
        @click="reload"
        :loading="loading">
        <v-icon>cached</v-icon>
      </v-btn>
    </v-toolbar>
    <v-row dense :class="wrap">
      <v-col
        v-bind:class="grid"
        v-for="video in videos"
        :key="video.youtube_id"
        class="videos-infos-item">
        <a :href="tuneLink(video)">
          <v-card
            @click.prevent="openTune(video)"
            :title="`${video.title} by ${video.artist}`">
            <v-img
              :src="video.phpThumbPictureURL"
              height="200">

              <v-row dense align="center">
                <v-col cols="12" class="video-title">
                  <span class="text-h6 font-weight-thin">
                    <v-icon dark>access_time</v-icon> {{ video.si_updated_at | moment('from') }}
                  </span>
                </v-col>
              </v-row>

            </v-img>

            <v-card-text class="pa-1 info-card-bottom-title">
              <div>
                <h5 class="text-h5 mb-0">
                  {{ `${video.title}` }}
                </h5>
                <div> {{ `by ${video.artist}` }} </div>
              </div>
            </v-card-text>
          </v-card>
        </a>
      </v-col>
    </v-row>
  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex';
import {TuneLoadMixin} from '../../mixins/tune/tuneLoadMixin';

export default {
  mixins: [TuneLoadMixin],

  data: () => ({
    name: 'VideosInfos',
    loading: true,
  }),

  props: {
    random: {
      type: Boolean,
      default: false,
      required: false,
    },

    wrap: {
      type: String,
      default: 'wrap',
      required: false,
    },

    grid: {
      type: String,
      default: 'col-12 col-md-6',
      required: false,
    },

    limitText: {
      type: Number,
      default: 33,
      required: false,
    }
  },

  async created () {
    await this.load();
  },

  async updated () {
    // await this.fetchVideos();
    // setTimeout(() => {
    //   window.sr.reveal('.gradio-latest-video', { duration: 500 }, 200);
    // }, 200);
  },

  computed: {
    videos () {
      return this.random ? this.randomVideos : this.latestVideos;
    },

    ...mapGetters([
      'baseUrl'
    ]),

    ...mapGetters('video', {
      randomVideos: 'getRandomVideos',
      latestVideos: 'getLatestVideos',
    }),
  },

  methods: {
    tuneLink (tune) {
      return `${this.baseUrl}tune/${tune.id}#video`;
    },

    ...mapActions('video', [
      'fetchRandomVideos',
      'fetchLatestVideos',
    ]),

    async fetchVideos () {
      return this.random ? await this.fetchRandomVideos() : await this.fetchLatestVideos();
    },

    async load () {
      this.loading = true;
      await this.fetchVideos();
      this.loading = false;
      // window.sr.reveal('.videos-infos-item', {
      //   interval: 200,
      // });
    },

    async reload () {
      if (this.loading) {
        return;
      }
      await this.load();
    }
  }
}
</script>

<style lang="scss">

  .video-title {
    background: rgba(0,0,0,.6);
    color: white;
  }

</style>
