<template>
    <v-row dense class="flex-child">
      <v-col class="d-flex flex-grow-1"
        v-for="n in quantity"
        :key="`sheet-${n}`"
        cols="12"
        md="4"
      >
        <v-sheet
          class="d-flex flex-grow-1"
          color="grey lighten-3"
          :width="width"
          :height="height"
        >
          <sheet-footer>
            -----------
            -----------
            -----------
          </sheet-footer>
        </v-sheet>
      </v-col>
    </v-row>
</template>

<script>
  export default {
    data: () => ({
      'name': 'Sheet',
    }),

    props: {
      quantity: {
          type: Number,
          default: 1,
      },

      width: {
          type: Number,
          default: 200,
      },

      height: {
          type: Number,
          default: 200,
      },
    },

    components: {
      SheetFooter: {
        functional: true,

        render (h, { children }) {
          return h('v-sheet', {
            staticClass: 'mt-auto align-center justify-center d-flex flex-grow-1',
            props: {
              color: 'rgba(0, 0, 0, .36)',
              dark: true,
              height: 50
            }
          }, children)
        }
      }
    }

  }
</script>
