<template>
  <div style="overflow:hidden;">
    <header
      class="header"
      id="header"
      v-resize="onResize"
      :style="{height: headerHeight}">

      <div id="full-screen-bg" class="video-background">
        <div class="video-foreground" id="youtube-background-video-player"></div>
        <div class="header-overlay"></div>
      </div>

      <v-container class="container--fluid" :class="$vuetify.breakpoint.smAndDown ? 'pt-16': ''">
        <v-row dense class="justify-space-between align-center">
          <v-col cols="4" class="hidden-sm-and-down">
            <div class="brand-logo">
              <figure
                class="logo animated fadeInDown"
                style="animation-delay: .5s;">
                <a :href="baseUrl">
                  <img
                    :src="`${baseUrl}img/logos/only-g-without-gloss-web-200.png`"
                    alt="gradio logo" />
                </a>
              </figure>
              <h1
                class="animated fadeInUp text-h2 grey--text text--darken-1"
                style="animation-delay: 1s;">
                <translate>Welcome To gradio.lv</translate>
              </h1>
              <span
                class="animated bounceInUp text-h4 grey--text text--darken-1"
                style="animation-delay: 2s;">
                <translate>Feel the drive!</translate>
              </span>
            </div>
          </v-col>
          <v-col cols="12" sm="9" md="6" lg="5" xl="4">
            <div id="gradio-header-player-container">
              <keep-alive>
                <gradio-header-player></gradio-header-player>
              </keep-alive>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </header>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
  data: () => ({
    name: 'Particle',
    height: 520,
    minHeight: 520,
  }),

  computed: {
    ...mapGetters([
      'baseUrl'
    ]),

    headerHeight () {
      return `${this.height}px`;
    }
  },

  methods: {
    onResize () {
      if (window.innerHeight >= this.minHeight) {
        this.height = window.innerHeight;
      }
    },
  },

  components: {
    'gradio-header-player': () => import('../HeaderPlayer/HeaderPlayer.vue'),
  }
}
</script>

<style lang="scss">
  #header {
    position: relative;
  }

  .header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
  }

  .brand-logo {
    position: relative;
    z-index: 2;
  }

  #gradio-header-player-container {
    position: relative;
    z-index: 2;
  }
</style>
