<template>
  <div class="all-posts-container">
    <v-toolbar
      dark
      color="primary">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate><slot>All posts</slot></translate>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        v-if="loading"
        text
        icon
        small
        color="white"
        :loading="loading">
        <v-icon>cached</v-icon>
      </v-btn>
    </v-toolbar>

    <posts-grid
      :posts="pagination.getItems()"
      :infiniteLoading="true"
      grid="col-12 col-sm-6 col-md-3" />
    <sheet v-if="!pagination.getItems() && loading" :quantity="3" :width="398" :height="321" />

  </div>
</template>
<script>

  import {mapActions, mapGetters} from 'vuex';
  import {InfiniteLoadingMixin} from '../../mixins/infiniteLoading/infiniteLoadingMixin';

  export default {
    mixins: [InfiniteLoadingMixin],
    data: () => ({
      name: 'AllPosts',
    }),

    async created() {
      await this.load();
    },

    computed: {
      ...mapGetters([
        'baseUrl',
      ]),

      ...mapGetters('post', {
        loading: 'getPostsIsLoading',
        posts: 'getPosts',
      }),
    },

    methods: {
      ...mapActions('post', [
        'fetchPosts',
      ]),

      async load () {
        await this.fetchPosts(this.pagination.getStartAndLimit());
        this.pagination.setLoadedItems(this.posts);
      },
    },

    components: {
      'posts-grid': () => import('../../components/Content/PostsGrid.vue'),
      'sheet': () => import('../../components/Sheet/Sheet.vue'),
    },
  }
</script>
<style lang="scss">

  .all-posts-container {
    min-height: 450px;
  }

</style>
