<template>
  <section id="post">
    <div class="post-container">
      <v-toolbar
        dark
        color="primary">
        <v-toolbar-title class="text-h4 font-weight-bold">
          {{ post ? post.name : 'Post' }}
        </v-toolbar-title>
        <v-spacer/>
        <v-btn
          v-if="loading"
          text
          icon
          small
          color="white"
          :loading="loading">
          <v-icon>cached</v-icon>
        </v-btn>
      </v-toolbar>
      <div class="post-text-container" v-if="post">
        <v-row dense>
          <v-col cols="12">
            <v-card class="post-card-container">
              <v-row dense>
                <v-col cols="12" sm="4" lg="3">
                  <img :src="image(post)" class="flex col-12" />
                  <div>
                    <router-link
                      :to="`${baseUrl}category/${post.category_slug}`">
                      <v-chip label outlined color="grey darken-2">
                        <v-icon left>label</v-icon>
                        {{ post.category }}
                      </v-chip>
                    </router-link>
                  </div>
                  <div>
                    <span class="float-left">
                      <v-icon>access_time</v-icon> {{ post.created_at | moment('from') }}
                    </span>
                  </div>
                </v-col>
                <v-col cols="12" sm="8" lg="9">
                  <v-card-text class="pa-1">
                    <div v-html="post.body"></div>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </div>

      <sheet v-if="!post" :quantity="1" :width="398" :height="321" />
    </div>

    <related-posts :showToolbar="true"/>

  </section>
</template>
<script>

  import {mapActions, mapGetters} from 'vuex';
  import { ImageMixin } from '../../mixins/helper/helperMixin';

  export default {
    mixins: [ImageMixin],

    data: () => ({
      name: 'Post',
      loading: false,
    }),

    async created () {
      await this.load();
    },

    computed: {
      ...mapGetters([
        'baseUrl',
        'phpThumbUrl',
        'imagePath',
      ]),

      ...mapGetters('post', {
        post: 'getPost',
      })
    },

    methods: {
      ...mapActions('post', [
        'fetchPost',
      ]),

      async load () {
        this.loading = true;
        await this.fetchPost(this.$route.params.slug);
        this.loading = false;
      },

      async reload () {
        if (this.loading) {
          return;
        }
        await this.load();
      },
    },

    watch: {
      async '$route' (to, from) {

        console.log('watch', to.params.slug);
        this.loading = true;
        await this.fetchPost(to.params.slug);
        this.loading = false;
        // this.$emit('updateHead');
      }
    },

    components: {
      'sheet': () => import('../../components/Sheet/Sheet.vue'),
      'related-posts': () => import('../../components/Content/RelatedPosts.vue'),
    },
  }
</script>
