<template>
  <div class="posts-container">
    <v-toolbar
      dark
      color="primary">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate><slot>News</slot></translate>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        v-if="loading"
        text
        icon
        small
        color="white"
        :loading="loading">
        <v-icon>cached</v-icon>
      </v-btn>
    </v-toolbar>

    <posts-grid :posts="posts"/>
    <sheet v-if="!posts && loading" :quantity="3" :width="398" :height="321" />

    <v-row dense>
      <v-col>
        <router-link
          :to="`${baseUrl}posts`">
          <v-btn block>
            <translate>See all news</translate>
          </v-btn>
        </router-link>
      </v-col>
    </v-row>
  </div>
</template>
<script>

  import {mapGetters, mapActions} from 'vuex';

  export default {
    data: () => ({
      name: 'Posts',
    }),

    async created() {
      await this.fetchPosts();
    },

    computed: {
      ...mapGetters([
        'baseUrl',
      ]),

      ...mapGetters('post', {
        loading: 'getPostsIsLoading',
        posts: 'getPosts',
      }),
    },

    methods: {
      ...mapActions('post', [
        'fetchPosts',
      ]),
    },

    components: {
      'posts-grid': () => import('../../components/Content/PostsGrid.vue'),
      'sheet': () => import('../../components/Sheet/Sheet.vue'),
    },
  }
</script>
