<template>
  <div class="posts-grid-container">
    <v-row dense v-if="posts">
      <v-col
        :class="`${grid}`"
        v-for="(post, index) in posts"
        :key="post.id">
        <v-card
          :data-news-item="`posts-${index}`"
          class="posts-container-item">
          <router-link
            :to="`${baseUrl}content/${post.slug}`">
            <v-img
              :src="image(post)"
              height="200px">
            </v-img>
            <v-card-text class="pa-1 posts-container-item-text">
              <span class="text-h6">{{ post.name }}</span>
            </v-card-text>
          </router-link>
          <v-card-actions class="justify-space-between">
            <router-link
              :to="`${baseUrl}category/${post.category_slug}`">
              <v-chip label outlined color="grey darken-2">
                <v-icon left>label</v-icon>{{ post.category }}
              </v-chip>
            </router-link>
            <span>
              <v-icon>access_time</v-icon> {{ post.created_at | moment('from') }}
            </span>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <infinite-loading
      v-if="infiniteLoading"
      @infinite="$parent.infiniteHandler">
      <slot name="infiniteLoadingError" slot="error" slot-scope="{ trigger }">
        <div>
          Error message, click <a href="javascript:" @click="trigger">here</a> to retry
        </div>
      </slot>
    </infinite-loading>
  </div>
</template>
<script>

  import { mapGetters } from 'vuex';
  import InfiniteLoading from 'vue-infinite-loading';
  import { ImageMixin } from '../../mixins/helper/helperMixin';

  export default {
    mixins: [ImageMixin],

    data: () => ({
      name: 'PostsGrid',
      loading: false,
      error: null,
    }),

    props: {
      slug: {
        type: String,
        default: undefined
      },

      grid: {
        type: String,
        default: 'col-12 col-sm-6 col-md-4'
      },

      random: {
        type: Boolean,
        default: false
      },

      posts: {
        type: Array,
        default: undefined
      },

      infiniteLoading: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      ...mapGetters([
        'baseUrl',
        'phpThumbUrl',
        'imagePath'
      ]),
    },

    components: {
      InfiniteLoading,
    },
  }
</script>
<style lang="scss">
  .posts-container-item-text {
    height: 90px;
    overflow: hidden;
  }

  .v-chip__content {
    cursor: pointer !important;
  }
</style>
