<template>
  <div class="related-posts-container">
    <slot name="toolbar">
      <v-toolbar
        v-if="showToolbar"
        dark
        color="primary">
        <v-toolbar-title class="text-h4 font-weight-bold">
          <translate>
            <slot>Related posts</slot>
          </translate>
        </v-toolbar-title>
        <v-spacer/>
        <v-btn
          text
          icon
          small
          color="white"
          @click="reload"
          :loading="loading">
          <v-icon>cached</v-icon>
        </v-btn>
      </v-toolbar>
    </slot>
    <posts-grid :posts="posts"/>
    <sheet v-if="!posts && loading" :quantity="3" :width="398" :height="321" />
  </div>
</template>
<script>

  import { mapGetters, mapActions } from 'vuex';
  import { ImageMixin } from '../../mixins/helper/helperMixin';

  export default {
    mixins: [ImageMixin],

    data: () => ({
      name: 'RelatedPosts',
    }),

    async created () {
      await this.load();
    },

    watch: {
      async post (newPost, oldPost) {
        await this.load();
      },

      async category (newCategory, oldCategory) {
        await this.load();
      },

    },

    props: {
      random: {
        type: Boolean,
        default: true
      },

      showToolbar: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      ...mapGetters([
        'baseUrl',
        'phpThumbUrl',
        'imagePath'
      ]),

      ...mapGetters('post', {
        post: 'getPost',
        posts: 'getRelatedPost',
        loading: 'getRelatedPostIsLoading',
      }),

      ...mapGetters('category', {
        category: 'getCategory',
      })
    },

    methods: {
      ...mapActions('post', [
        'fetchContents',
      ]),

      async load () {
        if (this.post) {
          await this.fetchContents(
            {slug: this.post.category_slug, random: this.random, limit: 3}
          );
        }

        if (this.category) {
          await this.fetchContents(
            {slug: this.category.slug, random: this.random, limit: 3}
          );
        }
      },

      async reload () {
        if (this.loading) {
          return;
        }
        await this.load();
      }
    },

    components: {
      'posts-grid': () => import('../../components/Content/PostsGrid.vue'),
      'sheet': () => import('../../components/Sheet/Sheet.vue'),
    },
  }
</script>
