/*
body {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  padding: 30px;
  background: color( black );
  flex-wrap: wrap;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
.now-playing-card-container {
  position: relative;
  z-index: 1; }

[class^=now-playing-card] {
  height: 600px;
  width: 375px;
  position: relative;
  z-index: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start; 
}

.status-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 2.0em;
  width: 100%;
  line-height: 1.8;
  text-align: center;
  font-size: 1.2em; }

.gold.bg {
  background: #B98616; }

.orange.bg {
  background: #E47024; }

.blue.bg {
  background: #135F84; }

.gold {
  color: #B98616; }

.orange {
  color: #E47024; }

.blue {
  color: #135F84; }

.black {
  color: #080808; }

.gray {
  color: #363636; }

.artist-img {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  top: 30px; }

.song-meta {
  position: absolute;
  bottom: 110px;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center; }

.song-meta .artist,
.song-meta .title {
  text-transform: uppercase;
  font-weight: 600; }

.song-meta .artist {
  font-size: 1.5em; }

.song-meta .title {
  font-size: .8em;
  margin-top: 1em; }

[class^=beat__column] {
  position: absolute;
  margin-bottom: 20px;
  left: 8%;
  bottom: 0; }

.beat__block:nth-child(1) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(2) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(3) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(4) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(5) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(6) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(7) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(8) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(9) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(10) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(11) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(12) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(13) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(14) {
  animation: beat-fade 1.5s ease infinite; }

.beat__block:nth-child(4) {
  animation: beat-fade .75s ease infinite; }

.beat__block:nth-child(5) {
  animation: beat-fade .75s ease infinite; }

.beat__block:nth-child(6) {
  animation: beat-fade .75s ease infinite; }

.beat__block:nth-child(7) {
  animation: beat-fade .75s ease infinite; }

.beat__block:nth-child(8) {
  animation: beat-fade 1s ease infinite; }

.beat__block:nth-child(9) {
  animation: beat-fade 1s ease infinite; }

.beat__block:nth-child(10) {
  animation: beat-fade 1s ease infinite; }

.beat__block:nth-child(11) {
  animation: beat-fade 1s ease infinite; }

.beat__block:nth-child(12) {
  animation: beat-fade 1s ease infinite; }

.beat__block:nth-child(13) {
  animation: beat-fade 1s ease infinite; }

.beat__block:nth-child(14) {
  animation: beat-fade 1s ease infinite; }

.controls {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 25px;
  align-self: center;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center; }

.controls .icon {
  font-size: 2em; }

.controls .playback .control,
.controls .extra .control {
  float: left;
  text-align: center;
  margin: 0 auto; }

.controls .playback .control {
  margin-left: 1.2rem; }

.controls .extra .control {
  margin-right: 1.6rem;
  text-align: center;
  margin: 0 auto; }

.controls {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto; }

.heart {
  font-size: .9rem;
  text-align: center;
  margin: 0 auto; }

.backwards,
.forwards {
  font-size: .9rem; }

.play-pause .icon {
  font-size: 2.4em;
  position: relative;
  bottom: 5px; }

.progress,
.progress__bar {
  height: .5em; }

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #BEBEBE;
  width: 100%;
  z-index: 2;
  border-top: 20px solid white; }

.progress__bar {
  width: 40%; }

.curved-path {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 1; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

@keyframes beat-fade {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 0; } }
@media (max-width: 768px) {
  body {
    padding: 0;
    justify-content: center;
    -webkit-justify-content: center; } }
i {
  content: '';
  display: inline-block;
  height: 14px;
  margin: 0 6px -3px 0;
  width: 14px; }

.like {
  background-image: url(https://i.imgsafe.org/0616248.png);
  background-repeat: no-repeat;
  background-size: 500px 488px;
  background-position: -277px -446px; }

.comment {
  background-image: url(https://i.imgsafe.org/0616248.png);
  background-repeat: no-repeat;
  background-size: 500px 488px;
  background-position: -262px -446px; }

.share {
  background-image: url(https://i.imgsafe.org/0616248.png);
  background-repeat: no-repeat;
  background-size: 500px 488px;
  background-position: -322px -446px; }

.actionBox {
  position: relative;
  background: #fff;
  padding: 0px;
  text-align: center;
  margin: 0 auto; }

.actionBox span {
  color: #7f7f7f;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
  cursor: pointer; }

.clipDiv {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

.emoji-reactions {
  left: -14px;
  position: absolute;
  top: -50px;
  z-index: 200;
  background: #fff;
  display: inline-block;
  font-size: 0;
  padding: 2px 10px;
  text-align: left;
  border-radius: 70px;
  white-space: nowrap;
  height: 49px;
  box-shadow: 0 8px 2px -6px rgba(0, 0, 0, 0.29);
  display: none; }

.emoji-reactions span {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  margin: 0;
  padding: 0;
  position: relative;
  transform: scale(1, 1) translateY(0.0001px);
  transform-origin: 50% 100%;
  width: 48px; }

.emoji-reactions span .reaction {
  transform: scale(0.8, 0.8) translate(0, 0);
  transition: transform 200ms ease; }

.reaction .react {
  display: block;
  height: 48px;
  image-rendering: crisp-edges;
  line-height: 1;
  width: 48px;
  background-image: url(https://i.imgsafe.org/c505d7a.png);
  background-size: 48px 384px; }

.react.like {
  background-position: 0 -144px; }

.react.love {
  background-position: 0 -192px; }

.react.haha {
  background-position: 0 -96px; }

.react.wow {
  background-position: 0 -288px; }

.react.sorry {
  background-position: 0 -240px; }

.react.anger {
  background-position: 0 0; }

.react.dislike {
  background-position: 0 -144px;
  transform: rotate(180deg); }

.emoji-reactions span .text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: -28px;
  transform: translateX(-50%); }

.emoji-reactions span .text div {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  max-width: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 0 8px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: opacity 50ms ease; }

.emoji-reactions span:hover .reaction {
  transform: scale(1, 1) translate(0, -6px); }

.emoji-reactions span:hover .text div {
  opacity: 1; }

.fb-post {
  width: 100%;
  background: #fff;
  height: 410px;
  background: url(https://i.imgsafe.org/aea1fb1.png) no-repeat;
  background-size: cover; }

.instructions {
  font-size: 14px;
  position: relative;
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 0px 15px;
  top: -9px; }

.button-love {
  display: block;
  height: 48px;
  image-rendering: crisp-edges;
  line-height: 1;
  width: 48px;
  background-image: url(https://i.imgsafe.org/c505d7a.png);
  background-size: 48px 384px;
  background-position: 0 -192px; }

.actionBox span.showEmotions {
  text-align: center;
  margin: 0 auto; }

/* .artist-img-container {
  position: relative;
}
*/
.already-voted {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;
  color: #f25268;
  display: none; }

/*# sourceMappingURL=nowplaying.css.map */
