.header {
  /*padding: 140px 0 445px 0;*/
  padding: 70px 0 0 0;
  height: 2000px;
  /*transition: height 0.55s ease-in;*/
}

.brand-logo {
  text-align: left;
  padding-left: 60px;
}

.brand-logo .logo {
  width: 300px;
  margin: 0;
}

.blur-all {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  /*background: url(images/bg.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#full-screen-bg {
  position: absolute;
  height: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.small-logo, .navbar-nav > li > a.small-logo {
  padding: 0;
  margin: 0;
}

.small-logo img {
  width: 55px;
}

.main-section {
  padding: 40px 0 110px;
}

.recent-news-block-innerr {
  width: 90%; /* or whatever is required */
  height: 250px;
  text-align: center; /* ensures the image is always in the h-middle */
  overflow: hidden; /* hide the cropped portion */
  margin-left: -22%;
}

.recent-news-block-innerr imgr {
  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -200%; /* magic! */
}

/*
.recent-news-block-image {
  background-repeat: no-repeat;
}
*/

.thumb {
  display: inline-block;
  width: 100%;
  height: 200px;
  margin: 5px;
  /*border: 3px solid #c99;*/
  background-position: center center;
  background-size: cover;
}

.team-leader img {
  display: inline;
  border-radius: 50%;
}

/* recent-categories-block */

.recent-categories-block {
  /*background-color: rgba(255, 255, 255, 1);*/
  /*background-color: rgba(0, 0, 0, .52);*/
  /*margin-left: -15px;*/
  margin-bottom: 10px;
  padding: 0 15px 15px 15px;
}

.recent-categories-block-title {
  font-size: 25px;
  font-weight: bold;
}

.recent-categories-block-inner {
  /*background-color: #B1E25A;*/
  height: 270px;
}

/*
.recent-categories-block-content {
  /*height: 200px;*/
  /*margin-top: 40px;*/
  /*margin-left: 140px;*/
  /*position: absolute;*/
  /*left: 150px;*/
  /*width: 600px;*/
/*
  height: 260px;
  overflow: hidden;
  /*background-color: #000;*/
  /*font-size: 16px;*/
  /*color: #292929;*/
/*  color: #A5A5A5;
}
*/

.recent-categories-block-image{
  height: 200px;
  /*width: 132px;*/
  background-size: cover;
  background-repeat: no-repeat;
}

.recent-categories-block-mask{
  height: 106px;
  width: 132px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 15px;
  /*background-color: #000;*/
  /*margin-top: -135px;
  margin-left: 50px;
  */
}

.recent-categories-block-info {
  /*width: 20%;*/
  position: relative;
  top: 20px;
}

.recent-categories-block-date{
  /*margin-top: 20px;*/
  /*margin-left: 20px;*/
}

.recent-categories-block-comments{
  /*margin-left: 20px;*/
}

.recent-categories-block-tag{
  /*margin-left: 20px;*/
  font-size: 17px;
  width: 200px;
}

.subcategory-image {
  height: 200px;
  width: 200px;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.subcategory-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* end recent-categories-block */

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.main-nav {
  text-align: left;
}

.gdlr-top-player-title a, .gdlr-top-player-thumbnail a {
  width: 100% !important;
}

/* bootstrap social draugiem */

.btn-draugiem{color:#fff;background-color:#ff9100;border-color:rgba(0,0,0,0.2)}.btn-draugiem:hover,.btn-draugiem:focus,.btn-draugiem:active,.btn-draugiem.active,.open .dropdown-toggle.btn-draugiem{color:#fff;background-color:#ff7c00;border-color:rgba(0,0,0,0.2)}
.btn-draugiem:active,.btn-draugiem.active,.open .dropdown-toggle.btn-draugiem{background-image:none}
.btn-draugiem.disabled,.btn-draugiem[disabled],fieldset[disabled] .btn-draugiem,.btn-draugiem.disabled:hover,.btn-draugiem[disabled]:hover,fieldset[disabled] .btn-draugiem:hover,.btn-draugiem.disabled:focus,.btn-draugiem[disabled]:focus,fieldset[disabled] .btn-draugiem:focus,.btn-draugiem.disabled:active,.btn-draugiem[disabled]:active,fieldset[disabled] .btn-draugiem:active,.btn-draugiem.disabled.active,.btn-draugiem[disabled].active,fieldset[disabled] .btn-draugiem.active{background-color:#ff7c00;border-color:rgba(0,0,0,0.2)}
.btn-draugiem .badge{color:#ff9100;background-color:#fff}

/* end bootstrap social draugiem */

.rate:hover {
  cursor: pointer;
  color: rgba(47, 88, 212, 0.65);
}

.rating-count {
  font-size: 65px;
  margin-left: 30px;
}

/* tune plugin */

.tune-image-100 {
  position: relative;
}

.tune-image-100 img {
  width: 100%;
}

.edit-tune-btn {
  position: absolute;
}

.tune-extension {
  position: absolute;
  top: 0;
  right: 0;
}

.responsive-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end tune plugin */

/* tune plugin edit */

.tune-form-container span.input-group-addon {
  min-width: 150px;
  text-align: left;
}

.tune-table-edit #dragbox {
  position: relative;
}

.tune-table-edit #progressOuter {
  position: absolute;
  top: 0px;
  width: 100%;
}

/* end tune plugin edit */

/* tune table */

.music-options .tune-table-content {
  margin-bottom: 20px;
  text-align: center;
}

/* end tune table */

/* player */

.gdlr-float-player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.gdlr-float-player .mejs-container .mejs-controls .gdlr-play-control {
  width: 50px;
}

.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-thumbnail {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-thumbnail .now-playing-img {
  max-width: 100%;
  max-height: 100%;
  /*position: absolute;*/
}

.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-download {
  padding: 10px 0px 0px 0px;
}

.gdlr-float-player .gdlr-top-player-download .top-player-list i {
  margin: 0 10px;
}

.connected-login:hover {
  background-color: rgba(0,0,0,.5);
  color: gray;
}

.disconnected-login, .disconnected-login:hover {
  background-color: rgba(0,0,0,.5);
  color: gray;
}

/* end player */

.debug {
  border: 1px solid red;
}

.ontop {
  height: 100px;
  position: absolute;
  right: 0;
  left: 0;
}

/* social logins */

.social-logins-container {
  /*position: relative;*/
  z-index: 70;
  /*background-color: #fff;*/
  position: absolute;
  top: 40px;
}

.social-logins-inner {
  background-color: #fff;
}

/* end social logins */

.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

.mainbody {
  background:#f0f0f0;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;
  */
  z-index: 20;
  margin-left: -15px;
  margin-right: -15px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;

}

.navbar-content
{
  width:320px;
  padding: 15px;
  padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
  display: table;
  content: "";
  line-height: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
}
.navbar-footer
{
  background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

.brand_network {
  color: #9D9D9D;
  float: left;
  position: absolute;
  left: 70px;
  top: 30px;
  font-size: smaller;
}

.post-content {
  margin-left:58px;
}

.badge-important {
  margin-top: 3px;
  margin-left: 25px;
  position: absolute;
}

/*
.main-nav-outer{
  box-shadow: none;
  border-bottom: none;
  background-color: transparent;
}
*/

.main-navigation li a {
  display: inline-block;
  color: #222222;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 20px;
  margin: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}


/*==========  Mobile First Method  ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar-nav > li > a {
    min-width: 60px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .navbar-nav > li > a {
    min-width: 115px;
  }

  .rating-count {
    font-size: 42px;
    margin-left: 10px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .navbar-nav > li > a {
    min-width: 144px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
  .navbar-nav > li > a {
    min-width: 155px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {
  .navbar-nav > li > a {
    min-width: 180px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1800px) {
  .navbar-nav > li > a {
    min-width: 220px;
  }
}

.ratings-count {
  font-size: 15px;
  cursor: pointer;
}

.dragged-over {
  background-color: rgba(0,0,0,.1);
}

.emojione {
  width: 2em;
}
