<template>
  <div>
    <div ref="coverIcon">
      <slot name="coverIcon" v-if="phpThumbPictureURL">
        <img
          class="tune-notify-cover"
          width="55"
          height="55"
          :src="phpThumbPictureURL" />
      </slot>
    </div>
  </div>
</template>
<script>

import {NotifyMixin} from '../../mixins/notify/notifyMixin';

export default {
  mixins: [NotifyMixin],
  data () {
    return {
      name: 'Notify',
    }
  },
  props: {
    phpThumbPictureURL: {
      type: String,
      default: undefined
    },
    notifyObj: {
      type: Object,
      required: true
    }
  },
  created () {
    // console.log(this.name + ' created()');
  },

  updated () {
    // console.log(this.name + ' updated()');
    // console.log(this.name + ' notifyObj', this.notifyObj);
  },

  mounted () {
    // console.log(this.name + ' mounted()');
    if (this.phpThumbPictureURL != '') {
      this.notify(this.notifyObj, this.$refs.coverIcon);
    } else {
      this.notify(this.notifyObj, undefined);
    }
  },
}
</script>

<style scoped lang="scss">

.tune-notify-cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
}

</style>
