<template>
  <section id="latest-tunes-page">
    <div class="latest-tunes-container">
      <tunes-grid-layout :tunes="latestTunes" />
    </div>
  </section>
</template>
<script>

import {mapActions, mapGetters} from 'vuex';
import {InfiniteLoadingMixin} from '../../mixins/infiniteLoading/infiniteLoadingMixin';

export default {
  mixins: [InfiniteLoadingMixin],
  data: () => ({
    name: 'LatestTunesPage',
    loading: false,
    error: null,
    noMoreData: false,
    pageTitle: '',
    gradioTeam: 0,
  }),

  // async created () {
  //   await this.load();
  // },

  computed: {
    ...mapGetters('tune', {
      latestTunes: 'getLatestTunes',
    }),

  },

  methods: {
    ...mapActions('tune', [
      'fetchLatestTunes',
    ]),

    async load () {
      this.pagination.setStart(this.latestTunes.length);
      const tunes = await this.fetchLatestTunes(
        this.pagination.getStartAndLimit()
      );
      this.pagination.setLoadedItems(tunes);
      this.$store.commit('tune/UPDATE_LATEST_TUNES', tunes);
    },
  },

  components: {
    'tunes-grid-layout': () => import('../../components/Tunes/TunesGridLayout.vue'),
  },
}
</script>
