<template>
  <section id="most-played-tunes-page">
    <div class="most-played-tunes-container">
      <tunes-grid-layout :tunes="mostPlayedTunes" />
    </div>
  </section>
</template>
<script>

import {mapActions, mapGetters} from 'vuex';
import {InfiniteLoadingMixin} from '../../mixins/infiniteLoading/infiniteLoadingMixin';

export default {
  mixins: [InfiniteLoadingMixin],
  data: () => ({
    name: 'MostPlayedTunesPage',
    loading: false,
    error: null,
    noMoreData: false,
    pageTitle: '',
    gradioTeam: 0,
  }),

  computed: {
    ...mapGetters('tune', {
      mostPlayedTunes: 'getMostPlayedTunes',
    }),

  },

  methods: {
    ...mapActions('tune', [
      'fetchMostPlayedTunes',
    ]),

    async load () {
      const tunes = await this.fetchMostPlayedTunes(
        this.pagination.getStartAndLimit()
      );
      this.pagination.setLoadedItems(tunes);
      this.$store.commit('tune/UPDATE_MOST_PLAYED_TUNES', tunes);
    },
  },

  components: {
    'tunes-grid-layout': () => import('../../components/Tunes/TunesGridLayout.vue'),
  },
}
</script>
