<template>
  <section id="recent-tunes-page">
    <div class="recent-tunes-container">
      <tunes-grid-layout :tunes="recentTunes" />
    </div>
  </section>
</template>
<script>

import {mapActions, mapGetters} from 'vuex';
import {InfiniteLoadingMixin} from '../../mixins/infiniteLoading/infiniteLoadingMixin';

export default {
  mixins: [InfiniteLoadingMixin],

  data: () => ({
    name: 'RecentTunesPage',
    loading: false,
    error: null,
    noMoreData: false,
  }),

  async created () {
    await this.load();
  },

  computed: {
    ...mapGetters('tune', {
      recentTunes: 'getRecentTunes',
    }),

  },

  methods: {
    ...mapActions('tune', [
      'fetchRecentTunes',
    ]),

    async load () {
      this.pagination.setStart(this.recentTunes.length);
      const tunes = await this.fetchRecentTunes(
        this.pagination.getStartAndLimit()
      );
      this.pagination.setLoadedItems(tunes);
      this.$store.commit('tune/UPDATE_RECENT_TUNES', tunes);
    },

  },

  components: {
    'tunes-grid-layout': () => import('../../components/Tunes/TunesGridLayout.vue'),
  },
}
</script>
