<template>
  <section id="tunes-pages">
    <v-tabs
      id="tunes-tabs"
      v-model="activeTab"
      grow
      background-color="primary"
      icons-and-text>

      <v-tabs-slider color="black"></v-tabs-slider>

      <v-tab
        v-for="tab in tabs"
        :to="`${baseUrl}tunes/${tab.slug}`"
        :key="tab.slug">
        <translate>{{ tab.name }}</translate>
        <v-icon>{{ tab.icon }}</v-icon>
      </v-tab>

      <v-tab-item v-model="activeTab">
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </v-tab-item>

    </v-tabs>
  </section>
</template>
<script>

  import {mapActions, mapGetters} from 'vuex'

  export default {
    beforeRouteLeave (to, from, next) {
      this.$store.commit('tune/RESET_TUNE_STACKS');
      next();
    },
    data: () => ({
      name: 'TunesPage',
      activeTab: null,
      tabs: [
        {name: 'Recently played tunes', icon: 'fa fa-history', slug: 'recent'},
        {name: 'Most played tunes', icon: 'fa fa-music', slug: 'most-played'},
        {name: 'Latest tunes', icon: 'fa fa-clock-o', slug: 'latest'},
        {name: 'Your likes', icon: 'fa fa-thumbs-up', slug: 'your-likes'},
        {name: 'Your dislikes', icon: 'fa fa-thumbs-down', slug: 'your-dislikes'},
      ],
      activeTabIndex: 0,
      loading: false,
      error: null,
      noMoreData: false,
      // tunes: [],
      pageTitle: '',
      gradioTeam: 0,
    }),

    computed: {
      ...mapGetters('tune', {
          recentTunes: 'getRecentTunes',
          latestTunes: 'getLatestTunes',
          mostPlayedTunes: 'getMostPlayedTunes',
          likedTunes: 'getLikedTunes',
          dislikedTunes: 'getDislikedTunes',
      }),

      ...mapGetters([
        'baseUrl'
      ]),

      liveRecentTunes () {
        return this.getLiveRecentTunes();
      },
    },

    methods: {
      ...mapActions('tune', [
        'fetchRecentTunes',
        'fetchLatestTunes',
        'fetchMostPlayedTunes',
        'fetchLikedTunes',
        'fetchDislikedTunes',
      ]),

      getLiveRecentTunes () {
        return this.tunes.recent;
      },
    },
  }
</script>

<style lang="scss">

  #tunes-tabs {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .recent-tunes-container, .most-played-tunes-container, .latest-tunes-container, .liked-tunes-container, .disliked-tunes-container {
    // overflow-y: auto;
    min-height: 450px;
  }

</style>
