<template>
  <section id="your-likes-page">
    <div class="liked-tunes-container">
      <tunes-grid-layout :tunes="likedTunes">
        <div slot="infiniteLoadingError">
          <tunes-should-login />
        </div>
      </tunes-grid-layout>
    </div>
  </section>
</template>
<script>

import {mapActions, mapGetters} from 'vuex'
import {InfiniteLoadingMixin} from '../../mixins/infiniteLoading/infiniteLoadingMixin';
import TunesShouldLogin from '../../components/Tunes/TunesShouldLogin.vue';

export default {
  mixins: [InfiniteLoadingMixin],
  data: () => ({
    name: 'YourLikesPage',
    loading: false,
    error: null,
    noMoreData: false,
    pageTitle: '',
    gradioTeam: 0,
  }),

  computed: {
    ...mapGetters('tune', {
      likedTunes: 'getLikedTunes',
    }),

  },

  methods: {
    ...mapActions('tune', [
      'fetchLikedTunes',
    ]),

    async load () {
      const tunes = await this.fetchLikedTunes(
        this.pagination.getStartAndLimit()
      );
      this.pagination.setLoadedItems(tunes);
      this.$store.commit('tune/UPDATE_LIKED_TUNES', tunes);
    },

  },

  components: {
    'tunes-grid-layout': () => import('../../components/Tunes/TunesGridLayout.vue'),
    'tunes-should-login': () => import('../../components/Tunes/TunesShouldLogin.vue'),
  },
}
</script>
