<template>
  <section id="your-dislikes-page">
    <div class="disliked-tunes-container">
      <tunes-grid-layout :tunes="dislikedTunes">
        <div slot="infiniteLoadingError">
          <tunes-should-login />
        </div>
      </tunes-grid-layout>
    </div>
  </section>
</template>
<script>

import {mapActions, mapGetters} from 'vuex'
import {InfiniteLoadingMixin} from '../../mixins/infiniteLoading/infiniteLoadingMixin';

export default {
  mixins: [InfiniteLoadingMixin],
  data: () => ({
    name: 'YourDislikesPage',
    loading: false,
    error: null,
    noMoreData: false,
    pageTitle: '',
    gradioTeam: 0,
  }),

  computed: {
    ...mapGetters('tune', {
      dislikedTunes: 'getDislikedTunes',
    }),

  },
  methods: {
    ...mapActions('tune', [
      'fetchDislikedTunes',
    ]),

    async load () {
      const tunes = await this.fetchDislikedTunes(
        this.pagination.getStartAndLimit()
      );
      this.pagination.setLoadedItems(tunes);
      this.$store.commit('tune/UPDATE_DISLIKED_TUNES', tunes);
    },
  },

  components: {
    'tunes-grid-layout': () => import('../../components/Tunes/TunesGridLayout.vue'),
    'tunes-should-login': () => import('../../components/Tunes/TunesShouldLogin.vue'),
  },
}
</script>
