<template>
  <div>
    <v-container v-if="show">
      <v-row dense>
        <div class="ma-auto">
          <strech-loader size="100px" :background="variables.primary" />
        </div>
      </v-row>
    </v-container>
  </div>
</template>
<script>

import _variables from '../../scss/_variables.scss';

export default {
  data: () => ({
    name: 'Loader',
    variables: {},
  }),

  created () {
    this.variables = _variables;
  },

  props: {
    show: {
      type: Boolean,
      default: true,
      required: false,
    },
  },

  components: {
    'strech-loader': () => import('vue-loading-spinner/src/components/Stretch.vue'),
  }
}

</script>
