<template>
  <section id="tune-edit-itunes-search">
    <v-toolbar
      dense
      dark
      color="primary"
      class="mb-1">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate><slot>Tune tools</slot></translate>
      </v-toolbar-title>
    </v-toolbar>
    <v-row dense justify="center my-2">
      <v-col>
        <v-btn
          block
          small
          :href="`${$store.state.gradioPrefs.utilsurl}admin/tunes?filter=id:${tune.id}`"
          target="_blank">
          <translate>Edit in Gradio utils</translate>
        </v-btn>
      </v-col>
      <v-col>
        <v-btn
          block
          small
          :href="`https://developers.facebook.com/tools/debug/sharing/?q=${encodeURIComponent(fbSiteUrl)}/tune/${tune.id}`"
          target="_blank">
          <translate>Check on Facebook</translate>
        </v-btn>
      </v-col>
      <v-col>
        <v-btn
          block
          small
          :href="`https://oscarotero.com/embed3/demo/index.php?url=${fbSiteUrl}/tune/${tune.id}`"
          target="_blank">
          <translate>Check on Embed</translate>
        </v-btn>
      </v-col>
    </v-row>

    <v-toolbar
      dense
      dark
      color="primary"
      class="mb-1">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate>Find tools</translate>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        v-if="loading"
        text
        icon
        small
        color="white"
        :loading="loading">
      </v-btn>
    </v-toolbar>
    <v-form id="iTunesSearch" @submit.prevent>
      <v-text-field
        v-model="searchQuery"
        :label="$gettext('Find tune cover on iTunes')"
        clearable />

      <v-btn
        block
        small
        color="primary"
        @click.prevent="performSearch">
        {{ $gettext('Find') }}
      </v-btn>
    </v-form>

    <v-divider />

    <v-row dense>
      <v-col cols="12">
        <v-subheader>
          <translate>Search by:</translate> <translate>Artist</translate> - <translate>Title</translate>
        </v-subheader>
        <v-row dense justify="center">
          <v-col cols="12" sm="4" class="text-center">
            <v-btn
              block
              small
              href="#"
              class="itunes-search"
              :data-query="`${tune.artist} ${tune.title}`">
              iTunes images
              <v-icon right dark>fa fa-apple</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" sm="4" class="text-center">
            <v-btn
              block
              small
              :href="googleImageSearch(`${encodeURIComponent(tune.artist)}+${encodeURIComponent(tune.title)}`)"
              target="_blank">
              Google images
              <v-icon right dark>fa fa-google</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" sm="4" class="text-center">
            <v-btn
              block
              small
              :href="googleSearch(`${encodeURIComponent(tune.artist)}+${encodeURIComponent(tune.title)}`)"
              target="_blank">
              Google
              <v-icon right dark>fa fa-google</v-icon>
            </v-btn>
          </v-col>
        </v-row>

        <v-subheader>
          <translate>Search by:</translate> <translate>Album</translate>
        </v-subheader>

        <v-row dense justify="center">
          <v-col cols="12" sm="4" class="text-center">
            <v-btn
              block
              small
              href="#"
              class="itunes-search"
              :data-query="`${tune.album}`">
              iTunes images
              <v-icon right dark>fa fa-apple</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" sm="4" class="text-center">
            <v-btn
              block
              small
              :href="googleImageSearch(`${encodeURIComponent(tune.album)}`)"
              target="_blank">
              Google images
              <v-icon right dark>fa fa-google</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" sm="4" class="text-center">
            <v-btn
              block
              small
              :href="googleSearch(`${encodeURIComponent(tune.album)}`)"
              target="_blank">
              Google
              <v-icon right dark>fa fa-google</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-divider />
    <v-row dense>
      <v-alert
        :value="!ituneItems.length"
        type="warning">
        {{ $gettext('Cannot find covers on iTunes for query:') }} {{ searchQuery }}
      </v-alert>
      <v-col cols="6" v-for="(ituneItem, i) in ituneItems" :key="`${i}-ituneItem`">
        <v-card :hover="true" :raised="true" @click.prevent="choose(ituneItem)">
          <v-img
            contain
            :src="ituneItem.url"
            :height="200"
            :alt="ituneItem.title">
          </v-img>
          <v-card-title primary-title class="itunes-title">
            {{ ituneItem.title }}
          </v-card-title>

          <v-card-actions>
            <v-btn small block @click.prevent="choose(ituneItem)">
              <translate>Choose</translate>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>
<script>

  import {mapGetters,} from 'vuex';
  import $ from 'jquery';

  export default {
    data: () => ({
      name: 'TuneEditTools',
      searchQuery: '',
      ituneItems: [],
      loading: true,
    }),

    props: {
      tune: {
        type: Object,
        required: true
      },
    },

    mounted () {
      this.initjQueryStuff();
      this.searchQuery = `${this.tune.artist} ${this.tune.title}`;
      this.performSearch();
    },

    computed: {
      ...mapGetters([
        'baseUrl',
        'fbSiteUrl',
      ]),
    },

    methods: {
      choose (ituneItem) {
        this.$store.commit(
          'tune/UPDATE_TUNE_EDIT_COVER_REMOTE_FILE',
          ituneItem.hires
        );

        $('#tune-cover-edit .v-image__image--cover')
          .css('background-image', 'url("' + ituneItem.url + '")');
      },

      googleSearch (query) {
        return 'https://google.com/search?q=' + query;
      },

      googleImageSearch (query) {
        return 'https://google.com/search?as_st=y&tbm=isch&as_q=' + query;
      },

      initjQueryStuff () {
        $(() => {
          this.initItunesSearch();
        });
      },

      initItunesSearch () {
        let vm = this;
        $(document).on('click', '.itunes-search', function() {
          vm.searchQuery = $(this).data('query');
          vm.performSearch();

          return false;
        });
      },

      performSearch () {
        let vm = this;
        vm.loading = true;
        // console.log('performSearch', vm.searchQuery);

        $.ajax({
            type: "GET",
            crossDomain: true,
            url: `${this.baseUrl}assets/itunes-artwork-finder/api.php`,
            data: {query: vm.searchQuery, entity: 'album', country: 'us'},
            dataType: 'json'
        })
        .done((data) => {
          vm.loading = false;
          vm.ituneItems = data;
        });

        return false;
      },
    }
  }
</script>
<style lang="scss">
  .itunes-title {
    min-height: 105px;
  }
</style>
