<template>
  <section id="tune-cover-edit">
    <v-card tile text id="dragbox" ref="dragbox">
      <v-img
        :src="imageSrc"
        height="200px">
        <v-container class="container--fluid fill-height">
          <v-row dense align="center" justify="center">
            <v-col class="text-center" cols="12">
              <span class="text-h5 white pa-2">
                <translate>Or Drop here</translate>
              </span>
            </v-col>
          </v-row>
        </v-container>
      </v-img>
      <v-card-actions>
        <v-row dense align="center" justify="center">
          <v-col class="text-center" cols="12">
            <v-btn id="uploadBtn">
              <translate>Choose file</translate>
            </v-btn>

            <div>
              <div class="progress-container">
                <div
                  id="progressOuter"
                  class="progress progress-striped active"
                  style="display:none;">
                  <div
                    id="progressBar"
                    class="progress-bar progress-bar-success"
                    role="progressbar"
                    aria-valuenow="45"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 0%">
                  </div>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
    <notify
      v-if="notify"
      :notifyObj="notify">
    </notify>
  </section>
</template>
<script>

  import {mapState, mapGetters, mapActions} from 'vuex';
  import ss from 'simple-ajax-uploader';
  import $ from 'jquery';
  import {get} from 'lodash';

  export default {
    data: () => ({
      name: 'TuneCoverEdit',
      btn: undefined,
      progressBar: undefined,
      progressOuter: undefined,
      msgBox: undefined,
      notify: undefined,
      url: undefined,
    }),

    mounted () {
      this.btn = document.getElementById('uploadBtn');
      this.progressBar = document.getElementById('progressBar');
      this.progressOuter = document.getElementById('progressOuter');
      this.msgBox = document.getElementById('msgBox');

      this.initjQueryStuff();
    },

    computed: {
      ...mapGetters('tune', {
        tune: 'getSelectedTune',
      }),

      imageSrc () {
        return this.url ? this.url : this.tune.phpThumbPictureURL;
      }
    },

    methods: {
      initjQueryStuff () {
        $(() => {
          this.initTuneEdit();
        });
      },

      initTuneEdit () {
        const vm = this;
        var uploader = new ss.SimpleUpload({
          debug: this.$store.state.debug.enabled && this.$store.state.debug.jsdebug,
          button: vm.btn,
          url: `/tune/coverupload`,
          name: 'uploadfile',
          multipart: false,
          hoverClass: 'hover',
          focusClass: 'focus',
          responseType: 'json',
          dropzone: 'dragbox', // ID of element to be the drop zone
          dragClass: 'dragged-over',

          onChange (filename, extension, uploadBtn, fileSize, file) {
            vm.tune.phpThumbPictureURL = URL.createObjectURL(file);
          },

          startXHR () {
            vm.notify = undefined;
            vm.progressOuter.style.display = 'block'; // make progress bar visible
            this.setProgressBar(progressBar);
          },

          onSubmit: vm.onSubmit,
          onComplete: vm.onComplete,
          onError: vm.onError
        });

        document.getElementById("dragbox").style.zIndex = '0';
      },

      onSubmit () {
        this.btn.innerHTML = this.$gettext('Uploading...');
      },

      onComplete (filename, response) {
        this.btn.innerHTML = this.$gettext('Choose file');
        this.progressOuter.style.display = 'none'; // hide progress bar when upload is completed

        if (get(response, 'success', undefined) === true) {
          return this.handleSuccess(response);
        }

        this.handleError(response);
      },

      onError () {
        this.progressOuter.style.display = 'none';
        this.handleError(undefined);
      },

      handleSuccess (response) {
        const relativeUploaded = this.$store.state.gradioPrefs.relativeUploaded;
        this.tune.album_art = relativeUploaded + response.filename;

        this.notify = {
          type: 'success',
          title: this.$gettext('Yayy'),
          text: `${response.filename} ${this.$gettext('successfully uploaded!')}`,
        };
      },

      handleError (response) {
        if (!response || !response.msg) {
          this.notify = {
            type: 'error',
            title: this.$gettext('Ouch'),
            text: this.$gettext('Unable to upload file!'),
          };

          return;
        }

        this.notify = {
          type: 'warning',
          title: this.$gettext('Something happen!'),
          text: response.msg,
        };

        return;
      },
    },

    components: {
      'notify': () => import('../../../components/Notify/Notify.vue'),
    },
  }
</script>
