<template>
  <section id="tune-edit-form-section">
    <v-form id="tune-edit-form" v-model="valid" ref="form" lazy-validation>
      <input name="songs[ID]" type="hidden" :value="tune.id">
      <input name="songs_information[song_id]" type="hidden" :value="tune.id">
      <input
        class="phpThumbPictureURL"
        type="hidden"
        name="phpThumbPictureURL"
        :value="tune.phpThumbPictureURL">

      <input
        name="songs[enabled]"
        class="tune-enabled"
        type="hidden"
        v-model="tune.enabled">

      <input
        name="disableReason"
        type="hidden"
        :value="disableReason">

      <v-row dense>
        <v-col cols="12" sm="6">
          <v-row dense>
            <v-col>
              <v-card tile flat>
                <v-card-text class="pa-1">

                  <v-switch
                    color="primary"
                    :label="switchLabel"
                    @change="checkReason"
                    v-model="tune.enabled" />

                  <v-text-field
                    name="songs[artist]"
                    :label="$gettext('Artist')"
                    v-model="tune.artist"
                    required />

                  <v-text-field
                    name="songs[title]"
                    :label="$gettext('Title')"
                    v-model="tune.title"
                    required />

                  <v-text-field
                    name="songs[album]"
                    :label="$gettext('Album')"
                    v-model="tune.album" />

                  <v-text-field
                    name="songs[year]"
                    :label="$gettext('Year')"
                    v-model="tune.year" />

                  <v-row dense>
                    <v-col cols="9">
                      <v-slider
                        :label="$gettext('Weight')"
                        v-bind:max="100"
                        v-model="tune.weight" />
                    </v-col>
                    <v-col cols="3">
                      <v-text-field
                        name="songs[weight]"
                        v-model="tune.weight"
                        type="number" />
                    </v-col>
                  </v-row>

                  <v-text-field
                    name="songs[publisher]"
                    :label="$gettext('Record label')"
                    v-model="tune.publisher" />

                  <v-text-field
                    name="songs[bpm]"
                    :label="$gettext('BPM')"
                    v-model="tune.bpm" />

                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="6">
          <v-card tile flat>
            <v-card-text class="pa-1">

              <v-text-field
                name="songs_information[youtube]"
                :label="$gettext('Youtube')"
                v-model="tune.youtube" />

              <v-text-field
                name="songs_information[soundcloud]"
                :label="$gettext('Soundcloud')"
                v-model="tune.soundcloud" />

              <v-text-field
                name="songs_information[url]"
                :label="$gettext('URL')"
                v-model="tune.url" />

              <v-text-field
                name="songs_information[beatport]"
                :label="$gettext('Beatport')"
                v-model="tune.beatport" />

              <v-text-field
                name="songs_information[itunes]"
                :label="$gettext('iTunes')"
                v-model="tune.itunes" />

              <v-text-field
                name="songs[album_art]"
                :label="$gettext('Image location')"
                v-model="tune.album_art"
                disabled />

              <input
                type="hidden"
                name="songs[album_art]"
                v-model="tune.album_art">

              <v-text-field
                name="remoteFileUpload"
                v-model="coverRemoteFile"
                :label="$gettext('Cover remote file')" />

            </v-card-text>
          </v-card>
        </v-col>
        <v-btn
          color="primary"
          fab
          large
          dark
          small
          fixed
          bottom
          left
          @click.prevent="submit"
          :disabled="!valid"
          :loading="isSavingTune">
          <v-icon>edit</v-icon>
        </v-btn>
      </v-row>
    </v-form>
    <notify
      v-if="notifyObj"
      :notifyObj="notifyObj">
    </notify>
  </section>
</template>
<script>

  import {mapGetters, mapActions} from 'vuex';
  import {get} from 'lodash';
  import {NotifyMixin} from '../../../mixins/notify/notifyMixin';
  import {SlackHookMixin} from '../../../mixins/slack/slackHookMixin';

  export default {
    mixins: [NotifyMixin, SlackHookMixin],
    data: () => ({
      name: 'TuneEditForm',
      valid: true,
      notifyObj: undefined,
      disableReason: undefined,
    }),

    props: {
      tune: {
        type: Object,
        required: true
      },
    },

    computed: {
      ...mapGetters('tune', {
        isSavingTune: 'getIsSavingTune',
        tuneEditCoverRemoteFile: 'getTuneEditCoverRemoteFile',
      }),

      coverRemoteFile: {
        get () {
          return this.tuneEditCoverRemoteFile;
        },
        set (value) {
          this.$store.commit('tune/UPDATE_TUNE_EDIT_COVER_REMOTE_FILE', value);
        }
      },

      switchLabel () {
        return this.tune.enabled ?
          this.$gettext('Enabled') :
          this.$gettext('Disabled');
      },
    },

    methods: {

      ...mapActions('tune', [
        'saveTune',
      ]),

      submit () {
        if (this.$refs.form.validate()) {
          var formData = new FormData(
            document.querySelector("#tune-edit-form")
          );

          this.saveTune(formData).then((response) => {
            const savedTune = get(response, 'results.savedTune');
            if (get(savedTune, 'simpleNotify')) {
              this.notifyObj = savedTune.simpleNotify;
            }

            this.postSlackHook(response);
          });

          // return false;
        }
      },

      clear () {
        this.$refs.form.reset()
      },

      checkReason () {
        if (!this.tune.enabled) {
          const disableReason = this.confirmNotify((disableReason) => {
            this.disableReason = disableReason;
          });
        }
      },

    },

    components: {
      'notify': () => import('../../../components/Notify/Notify.vue'),
    },
  }
</script>
