<template>
  <v-card-text class="pa-1 tune-card-second-layout">
    <div>
      <div class="tune-title-container">
        <span class="text-h6">{{ tune.title }}</span>
      </div>
      <div class="text-subtitle-1">{{ tune.artist }}</div>
    </div>

    <div class="text-body-2 text-left wow animated fadeIn">
      <translate>Year</translate>:
      {{ tune.year }}
    </div>

    <div class="text-body-2 text-left wow animated fadeIn">
      <translate>Album</translate>:
      {{ tune.album }}
    </div>

    <div class="text-body-2 text-left wow animated fadeIn">
      <translate>BPM</translate>:
      <span v-html="tuneBpm" />
    </div>

    <div class="text-body-2 text-left wow animated fadeIn">
      <translate>Catalog Nr.</translate>:
      {{ tune.isrc }}
    </div>

    <!-- <div class="body-2 text-xs-left wow animated fadeIn">
      <translate>Artist played</translate>:
      {{ tune.artist_played | moment('from') }}
    </div>

    <div class="body-2 text-xs-left wow animated fadeIn">
      <translate>Tune Artist played</translate>:
      {{ tune.tartist_played | moment('from') }}
    </div>

    <div class="body-2 text-xs-left wow animated fadeIn">
      <translate>Tune Title played</translate>:
      {{ tune.tdate_played | moment('from') }}
    </div> -->

    <tune-ratings :tune="tune"/>

    <v-row dense justify="space-around" align="center">
      <v-col
        v-if="tune.youtube"
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title" :title="$gettext('Youtube')"></div>
        <div class="tune-table-content">
          <router-link :to="`/tune/${tune.ID}#video`">
            <img
              v-bind:src="`${iconPath}youtube-logo.svg`"
              class="tune-card-icon"/>
          </router-link>
        </div>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title"></div>
        <div class="tune-table-content">
          <img
            v-bind:src="`${iconPath}youtube-logo-inactive.svg`"/>
        </div>
      </v-col>

      <v-col
        v-if="tune.soundcloud"
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title"></div>
        <div class="tune-table-content soundcloud-content">
          <a v-bind:href="tune.soundcloud" target="_blank">
            <img
              v-bind:src="`${iconPath}soundcloud-logo.svg`"
              class="tune-card-icon"/>
          </a>
        </div>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title"></div>
        <div class="tune-table-platform-content">
          <img
            v-bind:src="`${iconPath}soundcloud-logo-inactive.svg`"/>
        </div>
      </v-col>

      <v-col
        v-if="tune.beatport"
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title"></div>
        <div class="tune-table-platform-content">
          <a v-bind:href="tune.beatport" target="_blank">
            <img
              v-bind:src="`${iconPath}beatport-logo.svg`"
              class="tune-card-icon"/>
          </a>
        </div>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title"></div>
        <div class="tune-table-platform-content">
          <img
            v-bind:src="`${iconPath}beatport-logo-inactive.svg`"/>
        </div>
      </v-col>

      <v-col
        v-if="tune.itunes"
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title"></div>
        <div class="tune-table-platform-content">
          <a v-bind:href="tune.itunes" target="_blank">
            <img
              v-bind:src="`${iconPath}itunes-logo.svg`"
              class="tune-card-icon"/>
          </a>
        </div>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s text-h6">
        <div class="tune-table-title"></div>
        <div class="tune-table-platform-content">
          <img
            v-bind:src="`${iconPath}itunes-logo-inactive.svg`"/>
        </div>
      </v-col>

      <v-col
        v-if="tune.url"
        class="flex-grow-0 wow fadeInRight delay-2s text-h6 tune-url">
        <a
          :title="$gettext('URL')"
          :href="tune.url"
          target="_blank" >
          <v-icon :size="28">
            fa fa-2x fa-external-link
          </v-icon>
        </a>
      </v-col>

      <v-col
        v-else
        class="flex-grow-0 wow fadeInRight delay-2s text-h6 tune-url">
        <v-icon
          :title="$gettext('There is no url link added.')"
          :size="28">
          fa fa-2x fa-external-link
        </v-icon>
      </v-col>

    </v-row>

    <a
      class="mx-1"
      :href="tuneLink(tune)"
      @click.prevent="openTune(tune)">
      <v-btn block>
        <translate>See more</translate>
      </v-btn>
    </a>

  </v-card-text>
</template>

<script>

  import { mapGetters } from 'vuex'
  import {TuneLoadMixin} from '../../../mixins/tune/tuneLoadMixin';

  export default {
    mixins: [TuneLoadMixin],

    data: () => ({
      name: 'BackCard',
    }),

    props: {
      tune: {
        type: Object,
        required: true
      },
    },

    computed: {
      ...mapGetters([
        'baseUrl',
        'frontendTheme',
      ]),

      iconPath () {
        return `${this.baseUrl}themes/${this.frontendTheme}/img/icons/`;
      },

      tuneBpm () {
        return this.tune.bpm ? `${this.tune.bpm} by <a href="http://dj.urdt.lv" target="_blank">dj.urdt.lv</a>` : '';
      }
    },

    components: {
      'tune-ratings': () => import('../Ratings.vue'),
    }
  }
</script>

<style scoped>

  .tune-url {
    height: 28px;
  }

</style>
