<template>
  <v-card-text class="pa-1 tune-card-first-layout">
    <div class="tune-card-title-container">
      <span class="text-h5">{{ tune.title }}</span>
      <div class="text-h6">{{ tune.artist }}</div>
    </div>

    <v-row dense>
      <div class="tune-card-genre-container">
        <v-chip
          v-for="(genre, i) in validTuneGenres"
          :key="`${i}-${tune.id}`"
          small
          outlined
          color="grey darken-2"
          class="ml-1 mb-1 wow animated fadeIn"
          data-wow-delay="5s"
          :title="genre.name">
          {{ genre.name }}
        </v-chip>
      </div>
    </v-row>

    <v-row dense>
      <v-col cols="9">
        <div class="text-subtitle-1 text-left wow animated fadeIn">
          <translate>Duration</translate>:
          {{ tune.duration }}
        </div>

        <div class="text-subtitle-1 text-left wow animated fadeIn">
          <translate>Weight</translate>:
          {{ tune.weight }}%
        </div>

        <div class="text-subtitle-1 text-left wow animated fadeIn">
          <translate>Date added</translate>:
          {{ tune.date_added | moment('from') }}
        </div>

        <div class="text-subtitle-1 text-left wow animated fadeIn">
          <translate>Last played</translate>:
          {{ tune.date_played | moment('from') }}
        </div>

        <div class="text-subtitle-1 text-left wow animated fadeIn">
          <translate>Count played</translate>:
          {{ tune.count_played }}
          <v-chip
            v-if="isGradioTeam && tune.enabled == 0"
            small
            outlined color="red">
            <v-icon left>volume_off</v-icon>
            <translate>Disabled</translate>
          </v-chip>
        </div>
      </v-col>
      <v-col cols="3">
        <img
          v-if="tune.publisher_svg"
          :src="`${frontendThemeImages}icons/labels/${tune.publisher_svg}`"
          @error="replaceByDefault"
          class="tune-card-publisher-container wow animated fadeIn"
          :title="`${$gettext('Record label')} ${tune.publisher}`"
          data-wow-delay="6s"/>
      </v-col>
    </v-row>
  </v-card-text>
</template>

<script>

  import { mapGetters } from 'vuex'
  import { isNil } from 'lodash';

  export default {
    data: () => ({
      name: 'FrontCard',
    }),

    props: {
      tune: {
        type: Object,
        required: true
      },
    },

    computed: {

      validTuneGenres () {
        return this.tune.genres.filter(genre => !isNil(genre.id));
      },

      ...mapGetters([
        'baseUrl',
        'frontendThemeImages',
        'defaultNotFoundImage',
      ]),

      ...mapGetters('user', {
        user: 'getUser',
        isGradioTeam: 'isGradioTeam',
      }),
    },

    methods: {
      replaceByDefault(e) {
        e.target.src = this.defaultNotFoundImage;
      },
    }
  }
</script>
