_<template>
  <div >
    <v-alert
      :value="true"
      type="warning">
      <translate>Only logged in user can see ratings!</translate>
      <v-btn
        @click="openLogin"
        color="info"
        dark>
        <translate>Connect</translate>
        <v-icon right>fa fa-sign-in</v-icon>
      </v-btn>
    </v-alert>
  </div>
</template>
<script>

export default {
  data: () => ({
    name: 'TunesShouldLogin',
  }),

  methods: {
    openLogin () {
      this.$store.commit('SHOW_LOGIN_DIALOG', true, {root: true});
    },
  }
}
</script>
