_<template>
  <div class="tunes-cards-container">
    <v-toolbar
      dark
      color="primary">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate><slot>Tunes</slot></translate>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        text
        icon
        small
        color="white"
        @click="reload"
        :loading="loading">
        <v-icon>cached</v-icon>
      </v-btn>
    </v-toolbar>
    <v-row dense>
      <v-col cols="12" md="6" lg="4" v-for="(tune, index) in limitedTunes" :key="tune.id">
        <tune-card :tune="tune" :index="index" />
      </v-col>
    </v-row>
    <v-row dense>
      <v-col>
        <router-link
          :to="`${baseUrl}${link}`">
          <v-btn block>
            <translate>See more</translate>
          </v-btn>
        </router-link>
      </v-col>
    </v-row>
  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex';
import {take} from 'lodash';

export default {
  data: () => ({
    name: 'TunesCards',
    tune: {},
    loading: true,
  }),

  props: {
    title: {
      type: String,
      required: false,
    },

    wrap: {
      type: String,
      default: 'wrap',
      required: false,
    },

    mode: {
      type: String,
      default: 'random',
      required: false,
    },

    grid: {
      type: String,
      default: 'col-12 col-sm-6',
      required: false,
    },

    limitText: {
      type: Number,
      default: 33,
      required: false,
    },

    link: {
      type: String,
      default: 'tunes',
      required: false,
    },

    limitTunes: {
      type: Number,
      default: 3,
      required: false,
    },
  },

  async created () {
    await this.load();
  },

  computed: {

    limitedTunes() {
      return take(this.tunes, this.limitTunes);
    },

    tunes () {
      switch (this.mode) {
        case 'latest':
          return this.latestTunes;

        case 'recent':
          return this.recentTunes;

        default:
          return this.randomTunes;
      }
    },

    tuneLink () {
      return `${this.base.url}tune/${this.tune.id}`;
    },

    ...mapGetters([
      'baseUrl'
    ]),

    ...mapGetters('tune', {
      latestTunes: 'getLatestTunes',
      recentTunes: 'getRecentTunes',
      randomTunes: 'getRandomTunes',
    }),
  },

  methods: {
    ...mapActions('tune', [
      'fetchLatestTunes',
      'fetchRecentTunes',
      'fetchRandomTunes',
    ]),

    async fetchTunes () {
      switch (this.mode) {
        case 'latest': {
          const latestTunes = await this.fetchLatestTunes({ limit: this.limitTunes });
          return this.$store.commit('tune/UPDATE_LATEST_TUNES', latestTunes);
        }
        case 'recent': {
          const recentTunes = await this.fetchRecentTunes({ limit: this.limitTunes });
          return this.$store.commit('tune/UPDATE_RECENT_TUNES', recentTunes);
        }
        default: {
          const randomTunes = await this.fetchRandomTunes({ limit: this.limitTunes });
          return this.$store.commit('tune/UPDATE_RANDOM_TUNES', randomTunes);
        }
      }
    },

    async load () {
      this.loading = true;
      await this.fetchTunes();
      this.loading = false;

      // setTimeout(() => {
      //   window.sr.reveal(`.gradio-${this.mode}-tune`, { duration: 1000 }, 200);
      // }, 500);
    },

    async reload () {
      if (this.loading) {
        return;
      }
      await this.load();
    }
  },

  components: {
    'tune-card': () => import('../Tune/Card.vue'),
  },
}
</script>
