<template>
  <div class="tunes-grid-layout-container">
    <v-row dense>
      <v-col
        cols="12"
        sm="6"
        md="4"
        lg="3"
        v-for="(tune) in tunes"
        :key="tune.id"
        @click="updateSelectedTune(tune)">
        <tune-card :tune="tune" />
      </v-col>
    </v-row>

    <infinite-loading
      @infinite="$parent.infiniteHandler">
      <slot name="infiniteLoadingError" slot="error" slot-scope="{ trigger }">
        <div>
          Error message, click <a href="javascript:" @click="trigger">here</a> to retry
        </div>
      </slot>
    </infinite-loading>
  </div>
</template>
<script>

import InfiniteLoading from 'vue-infinite-loading';

export default {
  data: () => ({
    name: 'TunesGridLayout',
  }),

  props: {
    tunes: {
      type: Array,
      default: () => [],
      required: false
    },
  },

  methods: {
    updateSelectedTune (tune) {
      this.$store.dispatch('tune/updateSelectedTune', tune);
    }
  },

  components: {
    InfiniteLoading,
    'tune-card': () => import('../Tune/Card.vue'),
  },
}
</script>
