_<template>
  <div>
    <v-toolbar
      dark
      color="primary">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <slot>
          <translate>Tunes</translate>
        </slot>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        text
        icon
        small
        color="white"
        @click="reload"
        :loading="loading">
        <v-icon>cached</v-icon>
      </v-btn>
    </v-toolbar>
    <v-row dense :class="wrap">
      <v-col
        :class="`${grid} gradio-${mode}-tune`"
        v-for="tune in tunes"
        :key="tune.ID">
        <a
          :href="tuneLink(tune)"
          @click.prevent="openTune(tune)"
          :title="`${tune.title} by ${tune.artist}`">
          <v-card v-ripple>
            <v-img
              :src="tune.phpThumbPictureURL"
              height="200px">
            </v-img>

            <v-card-text class="pa-1 info-card-bottom-title">
              <div>
                <h5 class="text-h5 mb-0">
                  {{ `${tune.title}` }}
                </h5>
                <div> {{ `by ${tune.artist}` }} </div>
              </div>
            </v-card-text>

          </v-card>
        </a>
      </v-col>
    </v-row>
  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex';
import {TuneLoadMixin} from '../../mixins/tune/tuneLoadMixin';

export default {
  mixins: [TuneLoadMixin],

  data: () => ({
    name: 'TunesInfos',
    loading: true,
  }),

  props: {
    wrap: {
      type: String,
      default: 'wrap',
      required: false,
    },

    mode: {
      type: String,
      default: 'random',
      required: false,
    },

    grid: {
      type: String,
      default: 'col-12 col-sm-6',
      required: false,
    },

    limitText: {
      type: Number,
      default: 33,
      required: false,
    }
  },

  async created () {
    await this.load();
  },

  updated () {
    /*
    setTimeout(() => {
      window.sr.reveal(`.gradio-${this.mode}-tune`, { duration: 500 }, 200);
    }, 200);
    */
  },

  computed: {
    tunes () {
      switch (this.mode) {
        case 'latest':
          return this.latestTunes;

        case 'recent':
          return this.recentTunes;

        default:
          return this.randomTunes;
      }
    },

    ...mapGetters([
      'baseUrl'
    ]),

    ...mapGetters('tune', {
      latestTunes: 'getLatestTunes',
      recentTunes: 'getRecentTunes',
      randomTunes: 'getRandomTunes',
    }),
  },

  methods: {
    ...mapActions('tune', [
      'fetchLatestTunes',
      'fetchRecentTunes',
      'fetchRandomTunes',
    ]),

    async fetchTunes () {
      switch (this.mode) {
        case 'latest': {
          const latestTunes = await this.fetchLatestTunes();
          return this.$store.commit('tune/UPDATE_LATEST_TUNES', latestTunes);
        }
        case 'recent': {
          const recentTunes = await this.fetchRecentTunes();
          return this.$store.commit('tune/UPDATE_RECENT_TUNES', recentTunes);
        }
        default: {
          const randomTunes = await this.fetchRandomTunes();
          return this.$store.commit('tune/UPDATE_RANDOM_TUNES', randomTunes);
        }
      }
    },

    async load () {
      this.loading = true;
      await this.fetchTunes();
      this.loading = false;
      /*
      setTimeout(() => {
        window.sr.reveal(`.gradio-${this.mode}-tune`, { duration: 1000 }, 200);
      }, 500);
      */
    },

    async reload () {
      if (this.loading) {
        return;
      }
      await this.load();
    }
  }
}
</script>
