<template>
<div v-if="tune" class="gradio-header-player-wrapper" :class="tune.youtube ? 'gradio-header-player-for-video' : ''">
  <div class="player">
    <v-row
      dense
      align="center"
      class="header-player-top-bar no-gutters">
      <v-col
        class="tune-weight">
        <flame
          :fillOpacity="fillOpacity"
          :width="30"
          :title="tuneTitleWeight" />
        <span
          class="tune-weight-text"
          :title="tuneTitleWeight">
          {{ tune.weight }}%
        </span>
      </v-col>

      <v-col
        class="tune-like text-right like waves-effect waves-light"
        v-bind:data-item-id="tune.id"
        data-action="liked"
        data-action-category="tune"
        @click="rate($event)">
        <double-bounce
          v-if="isLoadingRating"
          :background="variables.primary"
          size="24px" />
        <v-icon
          :title="likeText(tune)"
          :color="hasUserLike(tune) ? '#ef5350' : 'white'"
          v-if="!isLoadingRating"
          class="icon-heart"
          :class="{'like-active': hasUserLike(tune)}">
          fa fa-heart
        </v-icon>
      </v-col>
    </v-row>

    <div class="mask img-cursor" @click.prevent="openTune(tune)"></div>
    <a
      class="tune-link"
      @click.prevent="openTune(tune)"
      :href="tuneLink(tune)">
      <ul class="player-info info-two" :class="audio.playing() ? 'info-active' : ''">
        <li>{{ tune.title }}</li>
        <li>{{ tune.artist }}</li>
        <li>{{ tune.duration }}</li>
      </ul>
    </a>
    <div
      v-if="!audio.playing()"
      id="play-button"
      class="unchecked theme--dark primary">
      <v-icon v-ripple class="icon-play">fa fa-play</v-icon>
    </div>
    <div v-else id="pause-button">
      <v-icon v-ripple class="icon-pause">fa fa-stop</v-icon>
    </div>

    <div class="direct-stream-container">
      <v-row dense justify="space-around" align="center">
        <v-col class="hidden-xs-only" sm="3">
          <div class="driveBy-container float-left">
            <span class="driveBy-inner">
              {{ $store.state.gradioPrefs.driveBy.text }}
              <a
                :href="$store.state.gradioPrefs.driveBy.url"
                target="_blank">
                {{ $store.state.gradioPrefs.driveBy.linkText }}
              </a>
            </span>
          </div>
        </v-col>
        <v-col cols="6" sm="4">
          <a
            :href="$store.state.gradioPrefs.streams.mp3.url"
            target="_blank">
            <v-btn block>
              {{ $store.state.gradioPrefs.streams.mp3.name }}
            </v-btn>
          </a>
        </v-col>
        <v-col cols="6" sm="4">
          <a
            :href="$store.state.gradioPrefs.streams.aacp.url"
            target="_blank">
            <v-btn block>
              {{ $store.state.gradioPrefs.streams.aacp.name }}
            </v-btn>
          </a>
        </v-col>
      </v-row>
    </div>
  </div>
  <notify
    v-if="notify"
    :notifyObj="notify"
    :phpThumbPictureURL="phpThumbPictureURL">
  </notify>
</div>
</template>

<script>
import $ from 'jquery';

import { Howl } from 'howler';

import { TuneRateMixin } from '../../mixins/tune/tuneRateMixin';
import { SlackHookMixin } from '../../mixins/slack/slackHookMixin';
import { TuneRatingMixin } from '../../mixins/tune/tuneRatingMixin';
import { TuneLoadMixin } from '../../mixins/tune/tuneLoadMixin';
import { isAppleDevice, trackEvent } from '../../lib/helpers';
import { get } from 'lodash';
import { mapActions, mapGetters } from 'vuex';

import _variables from '../../scss/_variables.scss';

export default {
  mixins: [TuneRateMixin, SlackHookMixin, TuneRatingMixin, TuneLoadMixin],

  data: () => ({
    name: 'HeaderPlayer',
    reloadSecs: 180,
    audio: {},
    volumeField: {},
    notifyObj: undefined,
    ratedtune: undefined,
    variables: {},
    lastImage: undefined,
    lastVideo: undefined,
    headerYoutubePlayer: undefined,
    icecastLatency: 14, // default icecast latency in seconds
  }),

  created () {
    this.variables = _variables;

    this.fetchData();

    setInterval(() => {
      this.notifyObj = undefined;
      this.fetchData();
    }, this.reloadSecs * 1000);

    this.$socket.$subscribe(`${process.env.REDIS_PREFIX}general-channel:playlistUpdatedEvent`, () => {
      if (window.icecastLatency !== undefined && parseInt(this.icecastLatency) !== parseInt(window.icecastLatency)) {
        console.log('custom icecastLatency', parseInt(window.icecastLatency));
        setTimeout(this.fetchData, parseInt(window.icecastLatency) * 1000);
      } else {
        setTimeout(this.fetchData, parseInt(this.icecastLatency) * 1000);
      }
    });

    this.$socket.$subscribe(`${process.env.REDIS_PREFIX}tune-channel:tuneUpdatedEvent`, async (response) => {
      const tune = await this.fetchTune(response.id);
      if (tune) {
        await this.updateTune(tune);
      }

      /* if we update current tune reload and fade immediately */
      if (this.tune.ID === response.id) {
        await this.fetchData();
        this.updateCover();
      }
    });

    this.initPlayer();
  },

  methods: {
    ...mapActions('tune', [
      'fetchTune',
      'updateTune',
    ]),

    initPlayer () {
      const vm = this;

      let playId;
      let loadError = false;

      this.audio = new Howl({
        src: [this.$store.state.gradioPrefs.streams.aacp.url],
        format: ['aac', 'mp4a', 'mp3'],
        autoplay: false,
        html5: true,
        preload: isAppleDevice() ? false : 'metadata',
      });

      $(document).on("click", "#play-button", function () {
        if (loadError) {
          console.error('loadError')
          vm.showNotify();
          trackEvent(vm.name, 'LoadError', `${vm.tune.artist} - ${vm.tune.title}`);

          return;
        }

        const pauseButton = $("#pause-button");

        if ($(this).hasClass("unchecked")) {
          $(this)
            .addClass("play-active")
            .removeClass("play-inactive")
            .removeClass("unchecked");

          // $(".info-two").addClass("info-active");

          pauseButton.addClass("scale-animation-active");

          pauseButton
            .children('.icon')
            .addClass("icon-pause")
            .removeClass("icon-play");

          setTimeout(function() {
            $(".info-one").hide();
          }, 400);

          playId = vm.audio.play();
        }

        setTimeout(() => {
          $("#play-button").children(".icon")
            .toggleClass("icon-play")
            .toggleClass("icon-cancel");
        }, 350);
      });

      $(document).on("click", "#pause-button", function () {
        $("#play-button")
          .removeClass("play-active")
          .addClass("play-inactive")
          .addClass("unchecked");

        $("#pause-button")
          .children(".icon")
          .addClass("icon-pause")
          .removeClass("icon-play");

        // $(".info-two").removeClass("info-active");

        setTimeout(() => {
          $(".info-one").show();
        }, 150);

        vm.audio.stop(playId);
      });

      this.audio.on("loaderror", (error, msg) => {
        console.error(error, msg);
        loadError = true;
      });

      this.audio.on("play", () => {
        trackEvent(this.name, 'Play', `${this.tune.artist} - ${this.tune.title}`);
      });

      this.audio.on("pause", () => {
        trackEvent(this.name, 'Pause', `${this.tune.artist} - ${this.tune.title}`);
      });

      this.audio.on("stop", () => {
        trackEvent(this.name, 'Stop', `${this.tune.artist} - ${this.tune.title}`);
      });

      this.audio.on("playerror", (error, msg) => {
        console.error(error, msg);
        this.showNotify();
        trackEvent(this.name, 'PlayError', `${this.tune.artist} - ${this.tune.title}`);
      });
    },

    /**
     * @return {Promise<void>}
     */
    fetchData () {
      return this.$store.dispatch('tune/updateCurrentTune')
        .then(() => this.updateCover())
        .catch(error => {
        console.error(error);
      });
    },

    showNotify () {
      let vm = this;
      let notify = {
        type: 'error',
        title: 'Player load error',
        text: `Please <a href="#" onclick="location.reload(true);">reload</a> page! or click on <a href="${vm.$store.state.gradioPrefs.streams.aacp.url}" target="_blank" class="btn btn-default btn-xs pull-right">Direct stream link</a>`,
        text_escape: false
      };
    },

    rate (event) {
      const rating = event.currentTarget.dataset;
      this.$store.dispatch('tune/updateSelectedTune', this.tune);
      this.rateTune(this.tune, rating).then(result => {
        this.ratedtune = get(result, 'data.human[0].item_data[0]', undefined);
        this.pushNotify(result);

        trackEvent(
          this.name,
          rating.action,
          `${this.tune.artist} - ${this.tune.title}`
        );
        this.postSlackHook(result);
      }).catch(error => console.error(error));
    },

    isImageChanged () {
      return typeof this.tune.phpThumbPictureURL !== 'undefined'
        && this.lastImage !== this.tune.phpThumbPictureURL
    },

    isVideoChanged () {
      return typeof this.tune.youtube_id !== 'undefined'
        && this.lastVideo !== this.tune.youtube_id
    },

    updateCover () {
      if (this.isImageChanged() || this.isVideoChanged()) {
        this.fadeCover();
      }
    },

    fadeCover () {
      let headerEl = $('#full-screen-bg');
      headerEl.fadeOut('fast', () => {
        headerEl.css({
          'background-image': `url(${this.tune.phpThumbPictureURL})`,
          'background-size': `cover`,
          'height': `100%`,
        });

        headerEl.addClass('blur-all');
        headerEl.fadeIn('fast');
        $('.player').css('background-image', `linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)), url(${this.tune.phpThumbPictureURL})`);
        this.lastImage = this.tune.phpThumbPictureURL;
        this.lastVideo = this.tune.youtube_id;
        this.prepareAndPlayVideo();
      });
    },

    onYouTubeIframeAPIReady(youtubeVideoId) {
      this.headerYoutubePlayer = new YT.Player('youtube-background-video-player', {
        videoId: youtubeVideoId,
        width: 1920,
        height: 1080,

        playerVars: {
          playlist: youtubeVideoId, // needed to loop work
          autoplay: 1,        // Auto-play the video on load
          autohide: 1,
          disablekb: 1,       // parameter's value to 1 causes the player to not respond to keyboard controls
          controls: 0,        // Hide pause/play buttons in player
          showinfo: 0,        // Hide the video title
          modestbranding: 1,  // Hide the Youtube Logo
          loop: 1,            // Run the video in a loop
          fs: 0,              // Hide the full screen button
          rel: 0,             // should show related videos when playback of the initial video ends.
          enablejsapi: 1
        },

        events: {
          onReady: this.onPlayerReady,
          onStateChange: this.onStateChange,
        }
      });
    },

    prepareAndPlayVideo() {
      const youTubeBackgroundVideoPlayer = document.getElementById('youtube-background-video-player');
      if (!this.tune.youtube_id && youTubeBackgroundVideoPlayer.hasAttribute('src')) {
        this.headerYoutubePlayer.destroy();
      }

      if (this.tune.youtube_id) {
        if (!youTubeBackgroundVideoPlayer.hasAttribute('src')) {
          /* first time init */
          this.onYouTubeIframeAPIReady(this.tune.youtube_id);
        } else {
          if (this.headerYoutubePlayer
            && Object.prototype.hasOwnProperty.call(this.headerYoutubePlayer, 'loadVideoById')) {
            this.headerYoutubePlayer.loadVideoById(this.tune.youtube_id);
            this.headerYoutubePlayer.playVideo();
          }
        }
        document.getElementById('full-screen-bg').classList.remove('blur-all');
      }
    },

    onPlayerReady (event) {
      event.target.mute();
      event.target.setPlaybackQuality('hd1080');
      event.target.playVideo();
    },

    onStateChange (event) {
      if (event && event.data === YT.PlayerState.ENDED) {
        event.target.playVideo()
      }
    },
  },

  computed: {
    ...mapGetters('tune', {
      tune: 'getCurrentTune',
    }),

    fillOpacity () {
      let opacity = 0;

      if (this.tune) {
        opacity = Number(parseFloat(Math.sqrt(this.tune.weight) / 10)
          .toFixed(2));
      }

      return opacity;
    },

    tuneTitleWeight () {
      return this.$gettext('Tune weight aka hotiness');
    },

  },

  components: {
    'flame': () => import('../Svg/Flame.vue'),
    'notify': () => import('../Notify/Notify.vue'),
    'double-bounce': () => import('vue-loading-spinner/src/components/DoubleBounce.vue'),
  }
}

</script>

<style lang="scss" scoped>

  @import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

  .player {
    position: relative;
    background-color: rgba(0,0,0,.5);
    background-image: url("/themes/gradio-material/img/default/not-found.png");
    background-size: cover;
    height: 375px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    z-index: 3;
    &:hover .mask {
      background-color: rgba(255, 255, 255, .1);
      transition: all 1s;
    }
    & .like {
      z-index: 15;
      cursor: pointer;
    }
    & .icon-heart {
      display: block;
    }
    & .mask {
      width: 100%;
      height: 87%; /* why 87 not 100? */
      background-color: rgba(255, 255, 255, .2);
      z-index: 2;
      transition: all 1s;
    }
    &-info {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 4;
      list-style: none;
      color: #262626;
      transform: scale(1);
      & li {
        margin-bottom: 7px;
      }
      & li:nth-child(1) {
        font-size: 1.5em;
      }
      & li:nth-child(2) {
        font-size: 1.2em;
      }
      & li:nth-child(3) {
        font-size: .9em;
      }
    }
    & .info-two {
      z-index: 1;
      color: #f2f2f2;
      & li:nth-child(2) {
        float: right;
      }
      & li:nth-child(3) {
        display: inline-block;
        float: right;
        clear: both;
      }
    }
    & #play-button {
      box-sizing: border-box;
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0 8px 25px 6px rgba(0, 0, 0, .5);
      right: 40px;
      bottom: 90px;
      z-index: 5;
      cursor: pointer;
      transition: all 70ms;
      border: none;
      &:hover {
        width: 70px;
        height: 70px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .5);
        right: 45px;
        bottom: 95px;
        transition: all 70ms;
      }
      & .icon-play {
        position: absolute;
        font-size: 1.5em;
        left: 52%;
        top: 50%;
        transform: translate(-48%, -50%);
        transition: all 70ms;
        color: #ffffff;
      }
      &:hover .icon-play {
        font-size: 1.2em;
        transition: all 70ms;
      }
      & .icon-cancel {
        position: absolute;
        font-size: 1.6em;
        left: 50%;
        top: 49%;
        transform: translate(-50%, -51%);
        color: #ffffff;
      }
    }
    & #pause-button {
      box-sizing: border-box;
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #f2f2f2;
      right: 40px;
      bottom: 90px;
      z-index: 5;
      cursor: pointer;
      border: none;
      transform: scale(0);
      animation: scale-animation .4s;
      animation-fill-mode: forwards;
      animation-delay: .3s;
      &:hover {
        width: 70px;
        height: 70px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .5);
        right: 45px;
        bottom: 95px;
        transition: all 70ms;
      }
      & .icon-pause {
        position: absolute;
        font-size: 1.5em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .1s;
        color: #424242;
      }
      & .icon-play {
        position: absolute;
        font-size: 1.5em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .1s;
        color: #424242;
      }
    }
  }

  .like-active {
    color: #ef5350;
    animation: scale-animation .4s;
    animation-fill-mode: forwards;
  }

  @keyframes scale-animation {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .info-active {
    animation: info-active-animation 3s;
    animation-fill-mode: forwards;
    animation-delay: .37s;
  }

  @keyframes info-active-animation {
    to {
      bottom: 56.5%;
    }
  }

  .play-active {
    animation: scale-animation .3s;
    animation-fill-mode: forwards;
  }

  .play-inactive {
    animation: scale-animation .3s;
    animation-fill-mode: backwards;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"] + .thumb {
    display: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    background: #f2f2f2;
    border-radius: 0;
    border: 0 solid #000101;
  }

  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    border: 0 solid transparent;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #009688;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #f2f2f2;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    background: #f2f2f2;
    border-radius: 0;
    border: 0 solid #000101;
  }

  input[type="range"]::-moz-range-thumb {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    border: 0 solid transparent;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #009688;
    cursor: pointer;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animation-duration: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
    padding-top: 5px;
  }

  input[type="range"]::-ms-fill-lower {
    background: #f2f2f2;
    border: 0 solid transparent;
    border-radius: 0;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  }

  input[type="range"]::-ms-fill-upper {
    background: #f2f2f2;
    border: 0 solid transparent;
    border-radius: 0;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  }

  input[type="range"]::-ms-thumb {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    border: 0 solid transparent;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #009688;
    cursor: pointer;
    margin-top: 1px;
  }

  input[type="range"]::-ms-tooltip {
    display: none;
  }

  input[type="range"]:focus::-ms-fill-lower {
    background: #f2f2f2;
  }

  input[type="range"]:focus::-ms-fill-upper {
    background: #f2f2f2;
  }

  .tune-link ul li:hover {
    color: #73a7e8;
  }

  .direct-stream-container {
    background-color: #fff;
  }

  .driveBy-container {
    font-size: 0.9em;
  }

  .header-player-top-bar {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    width: 100%;
  }

  .tune-weight-text {
    font-family: 'Saira Stencil One', cursive;
    font-size: 25px;
    color: #fff;
    vertical-align: middle;
    font-display: swap;
  }

  .video-background {
    position: absolute;
    top: 50%;
    left: 0;
    /* padding-top: 56.25%; */
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    transition: 2s opacity ease;
    opacity: 1;
  }

  .video-foreground, .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .gradio-header-player-for-video {
    opacity: .25;
  }

  .gradio-header-player-for-video:hover {
    opacity: .8;
  }

  .img-cursor {
    cursor: pointer;
  }

</style>
