<template>
  <div id="banner-container">
      <v-row dense>

        <!--
        <v-col cols="12"
          <v-row dense justify="center">
            <div class="banner-container wow fadeInRight">
              <v-alert color="indigo lighten-1" :value="true" class="sub-section-title">
                <span class="headline"><translate>Events</>translate></span>
              </v-alert>
              <a
                href="https://disconakts.lv?utm_campaign=gradio-banner"
                target="_blank">
                <img :src="`${phpThumbUrl}?q=100&w=1024&zc=0&src=${baseUrl}${imagePath}/content/events/DiscoNakts2019-afisa.jpg`">
              </a>
              <v-divider />
            </div>
          </v-row>
        </v-col>
        -->


        <v-col cols="12" v-if="siteSocial.facebook.profile_url">
          <v-row dense justify="center">
            <div
              class="fb-page"
              :data-href="`https://www.facebook.com/${siteSocial.facebook.profile_url}/`"
              data-tabs="timeline,events"
              data-small-header="true"
              data-adapt-container-width="true"
              data-hide-cover="false"
              data-show-facepile="true">
              <blockquote
                :cite="`https://www.facebook.com/${siteSocial.facebook.profile_url}/`"
                class="fb-xfbml-parse-ignore">
                <a
                  :href="`https://www.facebook.com/${siteSocial.facebook.profile_url}/`">
                  {{ siteSocial.facebook.profile_url }}
                </a>
              </blockquote>
            </div>
          </v-row>
        </v-col>
      </v-row>
  </div>
</template>
<script>

import { mapGetters } from 'vuex'

export default {
  mounted () {
    this.$nextTick(() => this.parseFacebook());
  },

  computed: {
    ...mapGetters([
      'baseUrl',
      'siteSocial',
      'phpThumbUrl',
      'imagePath',
    ]),
  },

  methods: {
    parseFacebook() {
      setTimeout(() => {
        if (typeof window.FB !== 'undefined') {
          window.FB.XFBML.parse(document.getElementById('banner-component-container'));
        }
      }, 4000);
    }
  }
}

</script>
