<template>
  <div id="navigation">
    <v-app-bar
      scroll-off-screen
      scroll-target="#tunes"
      :scroll-threshold="1"
      class="hidden-xs-only my-2"
      color="secondary"
      dense>

      <v-toolbar-title>{{ siteTitle }}</v-toolbar-title>
      <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn
            v-for="item in linkItems"
            :key="item.title"
            text
            :to="`${baseUrl}${item.link}`"
            exact>
            <translate>{{ item.title }}</translate>
          </v-btn>
          <v-btn
            v-for="item in anchorItems"
            :key="item.title"
            text
            @click="$vuetify.goTo(item.anchor)">
            <translate>{{ item.title }}</translate>
          </v-btn>
        </v-toolbar-items>
        <router-link :to="`${baseUrl}me`">
          <v-avatar color="indigo">
            <img
              v-if="isLoggedIn"
              :src="user.image"
              :alt="user.display_name">
            <v-icon
              v-if="!isLoggedIn"
              dark
              @click.prevent="openLogin">
              account_circle
            </v-icon>
          </v-avatar>
        </router-link>
    </v-app-bar>

    <v-app-bar
      app
      class="hidden-sm-and-up"
      fixed
      color="primary">
        <v-row justify="end">
          <v-col>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer">
            </v-app-bar-nav-icon>
          </v-col>

          <v-col class="text-right">
            <router-link :to="`${baseUrl}me`">
              <v-avatar color="white">
                <img
                  v-if="isLoggedIn"
                  :src="user.image"
                  :alt="user.display_name">
                <v-icon
                  color="primary"
                  v-if="!isLoggedIn"
                  @click.prevent="openLogin">
                  account_circle
                </v-icon>
              </v-avatar>
            </router-link>
          </v-col>
        </v-row>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      app
      temporary
      class="hidden-sm-and-up">
      <v-list class="pa-1">
        <v-list-item avatar>
          <v-list-item-avatar>
            <img
              v-if="isLoggedIn"
              :src="user.image"
              :alt="user.display_name">
            <v-icon
              v-if="!isLoggedIn">
              account_circle
            </v-icon>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>
              <span>
                {{ isLoggedIn ? user.display_name : $gettext('Guest') }}
              </span>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>

        <router-link
          v-for="item in linkItems"
          :key="item.title"
          :to="`${baseUrl}${item.link}`">

          <v-list-item>
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>
                <translate>{{ item.title }}</translate>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </router-link>
      </v-list>
    </v-navigation-drawer>

  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    name: 'Navigation',
    drawer: null,
    items: [
      { title: 'Home', link: 'home', icon: 'home' },
      { title: 'Categories', link: 'categories', icon: 'category' },
      { title: 'Songs', link: 'tunes', icon: 'library_music' },
      { title: 'Contact', anchor: '#contact', icon: 'dashboard' },
    ]
  }),

  async created () {
    await this.fetchUser();
  },

  methods: {
    ...mapActions('user', [
      'fetchUser',
    ]),

    openLogin () {
      this.$store.commit('SHOW_LOGIN_DIALOG', true, {root: true});
    },
  },

  computed: {
    ...mapGetters([
      'baseUrl',
      'siteTitle'
    ]),

    ...mapGetters('user', {
      isLoggedIn: 'isLoggedIn',
      user: 'getUser',
    }),

    linkItems () {
      return this.items.filter(item => item.link)
    },

    anchorItems () {
      return this.items.filter(item => item.anchor)
    }
  }
}
</script>

<style lang="scss">

  #navigation {
    // position: sticky;
    // top: 0px;
    // z-index: 2;
  }

</style>
