.gradio-tunes-tabs-container {
  background: #fff;
}

.gradio-tunes-title {
  padding: .5em;
  background: #337ab7;
  color: #fff;
  text-align: center;
}

.gradio-tunes-container {
  margin-top: 20px;
}

.loader-infinite-container {
  width: 100%;
  height: 50px;
  background-color: #2980B9;
}

.loader-infinite img {
  height: 50px;
}
