  /* entire container, keeps perspective */

.now-playing-card-container {
  position: relative;
  z-index: 1;
}

[class^=now-playing-card] {
  height: 600px;
  width: 375px;
  position: relative;
  z-index: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.card-container h4 {
  font-size: 1em;
}

  .card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
  }
  /* flip the pane when hovered */
  .card-container:not(.manual-flip):hover .card,
  .card-container.hover.manual-flip .card{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
  }


  .card-container.static:hover .card,
  .card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  /* flip speed goes here */
  .card {
   -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
   -o-transition: -o-transform .5s;
   transition: transform .5s;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
   position: relative;
 }

 /* hide back of pane during swap */
 .card-container .front, .card-container .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.card-container .front {
  z-index: 2;
}

/* back, initially hidden pane */
.card-container .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
}

.card-container .back .btn-simple{
  position: absolute;
  left: 0;
  bottom: 4px;
}

/*        Style       */
.card-container .card{
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}
/* ŠIS NOZĪMĒ KOPĒJO  UN GALVENO KVADRĀTA AUGSTUMU */
.card-container, .card-container .front, .card-container .back {
  width: 100%;
  height: 500px;
  border-radius: 4px;
}
.card-container .card .cover{
  height: 200px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.card-container .card .cover-back{
  height: 100px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.card-container .card .cover img{
  width: 100%;
}

/*
.card .user{
  border-radius: 50%;
  display: block;
  height: 150px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 120px;
}
.card .user img{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}
*/
.card-container .card .card-content{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 10px 20px 20px;
}
.card-container .card .card-content .main {
  min-height: 100px;
}
/* AIZMUGURĒJAIS TEKSTA LAUKS */
.card-container .card .back .card-content .main {
  height: 500px;
}
.card-container .card .artist {
  font-size: 22px;
  margin: 0px 0 0;
  text-align: center;
  text-transform: capitalize;
  min-height: 55px;
  max-height: 55px;
  overflow: hidden;

}

.card-container .card h4{
  margin: 1em 0;
}

.card-container .card h5{
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}

.card-container .card .title{
  color: #999999;
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  min-height: 57px;
  max-height: 57px;
  overflow: hidden;

}

/*
.card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}
.card .footer .social-links{
  font-size: 18px;
}
.card .footer .social-links a{
  margin: 0 7px;
}
.card .footer .btn-simple{
  margin-top: -6px;
}
*/
.card-container .card .header {
  padding: 15px 20px;
  height: 90px;
}
.card-container .card .motto{
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;

}

.card-container .card .stats-container{
  width: 100%;
  margin-top: 50px;
}
.card-container .card .stats{
  display: block;
  float: left;
  width: 33.333333%;
  text-align: center;
}

.card-container .card .stats:first-child{
  border-right: 1px solid #EEEEEE;
}
.card-container .card .stats:last-child{
  border-left: 1px solid #EEEEEE;
}
.card-container .card .stats h4{
  font-weight: 300;
  margin-bottom: 5px;
}
.card-container .card .stats p{
  color: #777777;
}
/*      Just for presentation        */

.card-container .title{
  color: #506A85;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-bottom: 90px;
  line-height: 90%;
}
.card-container .title small{
  font-size: 17px;
  color: #999;
  text-transform: uppercase;
  margin: 0;
}
.card-container .space-30{
  height: 30px;
  display: block;
}
.card-container .space-50{
  height: 50px;
  display: block;
}
.card-container .space-200{
  height: 200px;
  display: block;
}
.card-container .white-board{
  background-color: #FFFFFF;
  min-height: 200px;
  padding: 60px 60px 20px;
}
.card-container .ct-heart{
  color: #F74933;
}

.card-container pre.prettyprint{
  background-color: #ffffff;
  border: 1px solid #999;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}
.card-container .atv, .str{
  color: #05AE0E;
}
.card-container .tag, .pln, .kwd{
 color: #3472F7;
}
.card-container .atn{
  color: #2C93FF;
}
.card-container .pln{
 color: #333;
}
.card-container .com{
  color: #999;
}

.card-container .btn-simple{
  opacity: .8;
  color: #666666;
  background-color: transparent;
}

.card-container .btn-simple:hover,
.card-container .btn-simple:focus{
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
.card-container .btn-simple i{
  font-size: 16px;
}

.card-container .navbar-brand-logo{
  padding: 0;
}
.card-container .navbar-brand-logo .logo{
  border: 1px solid #333333;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  width: 60px;
}
.card-container .navbar .navbar-brand-logo .brand{
  color: #FFFFFF;
  float: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
}
/*
.navbar-default .navbar-brand-logo .brand{
  color: #555;
}
/*

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-container .front, .card-container .back{
    -ms-backface-visibility: visible;
    backface-visibility: visible;
  }

  .card-container .back {
    visibility: hidden;
    -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .card-container .front{
    z-index: 4;
  }
  .card-container:not(.manual-flip):hover .back,
  .card-container.manual-flip.hover .back{
    z-index: 5;
    visibility: visible;
  }
 }

 .card-container .record-label {
   margin-top: -50px;
   width: 100px;
   height: 100px;
 }

 .card-container .nowPlayingFlipCard-icon {
   opacity: 0.5;
 }

  .card-container .nowPlayingFlipCard-icon:hover {
   opacity: 1;
 }

 /*
 .header-card-container .publisher {
   margin-top: -50px;
   width: 100px;
   height: 100px;
 }
 */

.echarts {
  width: 150px !important;
  height: 150px !important;
}

.card-container .tune-card-genre {
  margin-bottom: 2px;
  margin-right: 2px;
}

.card-container .card .card-content .genre-container {
  padding: 0 1px;
  position: absolute;
  width: 55%;
  height: 75px;
}
