/*--- float player ---*/
.gdlr-open-float-player{ font-size: 30px; /* width: 30px; height: 30px; */ line-height: 1; text-align: center;
  padding: 19px 17px 19px 21px; cursor: pointer; opacity: 0.5; filter: alpha(opacity=50); display: none;
  background: #ffffff; color: #868686; position: fixed; bottom: 0px; right: 40px; z-index: 9999;
  transition: opacity 300ms; -moz-transition: opacity 300ms; -o-transition: opacity 300ms;  -webkit-transition: opacity 300ms; }
.gdlr-open-float-player:hover{ opacity: 0.7; filter: alpha(opacity=70); }
.gdlr-open-float-player.gdlr-now-playing{ background-image: url('player/playing-black.gif'); 
  background-repeat: no-repeat; background-position: center; }
.gdlr-open-float-player.gdlr-now-playing i{ display: none; }

.gdlr-float-player { background: url('player/player-bg.png'); border-top: 1px solid #535353; }
.gdlr-float-top-player.gdlr-item{ margin-bottom: 0px; }
.gdlr-float-top-player > .gdlr-top-player-title,
.gdlr-float-top-player > .gdlr-top-player-thumbnail,
.gdlr-float-top-player > .gdlr-top-player-download{ display: none; }
.gdlr-float-player { position: fixed; left: 0; right: 0; bottom: 0; z-index: 9999; }
.gdlr-float-player i{ margin-right: 0px; }
.gdlr-float-player .mejs-container { background: transparent; }
.gdlr-float-player .mejs-container .mejs-controls { height: 70px; position: relative; bottom: auto; background: transparent; }
.gdlr-float-player .mejs-controls .mejs-button button:focus { outline: none; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-play-control{ width: 120px; height: 70px; margin-right: 30px; padding: 5px 0px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button{ font-size: 60px; width: 60px; height: 60px; 
  padding: 0px 0px 0px 8px; margin: 0px 8px; -moz-border-radius: 20px; -webkit-border-radius: 0px; border-radius: 0px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause{ padding: 2px 0px 0px 5px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause .fa-play:before{ content: "\f04c"; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-next-button{ font-size: 12px; width: 11px; height: 12px; 
  padding: 9px 9px 9px 12px; margin-top: 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-previous-button{ font-size: 12px; width: 11px; height: 12px; 
  padding: 9px 12px 9px 9px; margin-top: 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-next-button,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-previous-button{ cursor: pointer; opacity: 0.8; filter: alpha(opacity:80); 
  transition: opacity 300ms; -moz-transition: opacity 300ms; -o-transition: opacity 300ms;  -webkit-transition: opacity 300ms; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button:hover,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-next-button:hover,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-previous-button:hover{ opacity: 1; filter: alpha(opacity:100); }
.gdlr-float-player .mejs-container .mejs-controls .mejs-time-rail { padding: 17px 81px 18px 75px; height: 70px; 
  position: relative; background: url('player/list-bg.png'); }
.gdlr-float-player .mejs-controls .mejs-time-rail .mejs-time-total{ margin: 0px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse { width: 76px; position: absolute; right: 0px; float: none; top: 39px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse .mejs-time { padding: 0px; margin: 0px; display: inline; float: none; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse span { position: relative; display: inline; float: none; margin: 0px; } 
.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-thumbnail {
  max-width: 35px; width: 35px; height: 35px; position: absolute; top: 17px; left: 20px; border: 1px solid #fff; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-title { font-size: 13px;
  width: auto; height: 15px; line-height: 15px; float: none; margin-bottom: 10px; font-weight: bold; }
.gdlr-float-player .mejs-controls .mejs-time-rail span.gdlr-song-title-info { display: inline; position: relative;
 width: auto; height: auto; font-weight: normal; }
.gdlr-float-player .gdlr-top-player-download a{ opacity: 0.6; filter: alpha(opacity=60); }
.gdlr-float-player .gdlr-top-player-download a:hover{ opacity: 1; filter: alpha(opacity=100); }
.gdlr-float-player .gdlr-top-player-download a img { max-width: 19px; margin-right: 8px; }
.gdlr-float-player .gdlr-top-player-download i.icon-list-ul { font-size: 16px; margin-right: 30px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-download { width: 128px; height: 70px; padding: 25px 0px 0px 0px; 
  font-size: 22px; line-height: 20px; background: url('player/list-bg.png'); }  
.gdlr-float-player .mejs-container .mejs-controls .gdlr-volumn-bar { float: left; width: 126px; padding: 22px 20px; }
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider{ width: 90px; float: left; clear: none; top: auto; }
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{ width: 80px; }
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{ top: 11px;
  -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; margin-left: 5px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-hide-float-bar { width: 18px; height: 18px; 
  text-align: center; padding: 35px 17px 35px 5px; cursor: pointer; background: url('player/close-bg.png'); }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-hide-float-bar i { font-size: 17px; color: #ffffff; }
  
.gdlr-float-player .gdlr-player-list { list-style: none; margin-left: 0px; display: none; position: absolute; bottom: 70px; 
  background: #000; background: rgba(61,61,61,0.9); margin: 0px; left: 170px; right: 238px; }
.gdlr-float-player .gdlr-player-list li{ cursor: pointer; padding: 14px 25px;
  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #161616;}  
.gdlr-float-player .gdlr-player-list li:before { content: "\f04b"; font-family: FontAwesome; color: #fff;
  font-size: 12px; width: 13px; height: 13px; margin-left: 3px; margin-right: 15px; display: inline-block; }  
.gdlr-float-player .gdlr-player-list li.active.gdlr-playing:before{ background-image: url('player/playing.gif'); 
  background-repeat: no-repeat; background-position: 95% center; content: ' '; width: 16px; margin-left: 0px; }

/*--- song item ---*/
.gdlr-top-player .gdlr-top-player-inner { padding: 8px 10px 15px 18px; }
.gdlr-top-player .gdlr-top-player-thumbnail{ float: left; max-width: 62px; margin-right: 15px; margin-left: -4px; margin-top: 5px; }
.gdlr-top-player .gdlr-top-player-thumbnail img{ display: block; }
.gdlr-top-player .gdlr-top-player-content{ overflow: hidden;}
.gdlr-top-player .gdlr-top-player-title{ font-size: 14px; margin-top: 5px; font-weight: bold; }
.gdlr-top-player .gdlr-top-player-download { margin-top: 5px; }
.gdlr-top-player .gdlr-top-player-download a img{ max-width: 19px; margin-right: 8px; }

.gdlr-top-player .mejs-controls .mejs-button button:focus { outline: none; }
.gdlr-top-player .mejs-container .mejs-controls { height: 50px; border-style: solid;
  border-top-width: 1px; border-bottom-width: 1px; }
.gdlr-top-player .mejs-container .mejs-controls > div { padding: 12px 16px; }
.gdlr-top-player .mejs-controls .mejs-button button { margin-top: 5px; margin-bottom: 5px; }
.gdlr-top-player .mejs-button.mejs-playpause-button { border-right-style: solid; border-right-width: 1px; }
.gdlr-top-player .mejs-controls .mejs-time-rail{ border-style: solid; border-left-width: 1px; }
.gdlr-top-player .mejs-controls .mejs-time-rail span{ -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.gdlr-top-player .mejs-controls .mejs-time-rail .mejs-time-total{ margin: 8px 0px; } 
.gdlr-top-player .mejs-container .mejs-controls .gdlr-time-elapse { width: 76px; line-height: 26px; padding-left: 0px; 
  position: relative; clear: both; float: right; top: -50px; }
.gdlr-top-player .mejs-container .mejs-controls .mejs-time { padding: 0px; margin: 0px; display: inline; float: none; }
.gdlr-top-player .mejs-container .mejs-controls .mejs-time span { display: inline; float: none; margin: 0px; }
.gdlr-top-player .mejs-container .mejs-controls .gdlr-volumn-bar { position: absolute; padding: 0px; 
  height: 26px; width: 126px; right: 0px; top: -36px; }
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider{ width: 90px; float: left; clear: none; top: auto; }
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{ width: 80px; }
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{ top: 9px;
  -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; margin-left: 5px; }

.gdlr-player-item .gdlr-player-list{ list-style: none; margin-left: 0px; }
.gdlr-player-item .gdlr-player-list li{ list-style: none; margin-left: 0px; padding: 9px 17px; cursor: pointer; 
  border-top-width: 1px; border-bottom-width: 1px; border-style: solid; }
.gdlr-player-item .gdlr-player-list li.active.gdlr-playing { background-image: url('player/playing.gif'); 
  background-repeat: no-repeat; background-position: 95% center; }

.mejs-container .mejs-controls .gdlr-next-button,
.mejs-container .mejs-controls .gdlr-previous-button,
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button{ background: #dadada; color: #3b3b3b; }

.gdlr-top-player{ background: #000000; }
.gdlr-top-player .gdlr-top-player-title{ color: #ffffff; }
.gdlr-top-player .mejs-container .mejs-controls{ background: #1c1c1c; }
.gdlr-player-item .gdlr-player-list li{ background: #262626; }
.gdlr-player-item .gdlr-player-list li, .gdlr-top-player .mejs-container .mejs-controls{ border-top-color: #373737; } .gdlr-top-player .mejs-controls .mejs-time-rail{ border-left-color: #373737; }
.gdlr-player-item .gdlr-player-list li, .gdlr-top-player .mejs-container .mejs-controls{ border-bottom-color: #030303; } .gdlr-top-player .mejs-button.mejs-playpause-button{ border-right-color: #030303; }
.gdlr-top-player .mejs-controls .mejs-time-rail .mejs-time-total, .gdlr-float-player .mejs-controls .mejs-time-rail .mejs-time-total, .gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{ background: #0b0b0b; }
.gdlr-top-player .mejs-controls .mejs-time-rail .mejs-time-loaded, .gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .gdlr-float-player .mejs-controls .mejs-time-rail .mejs-time-loaded{ background: #464849; }
.gdlr-top-player .mejs-controls .mejs-time-rail .mejs-time-current, .gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .gdlr-float-player .mejs-controls .mejs-time-rail .mejs-time-current, .gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{ background: #7facb7; }

/*--- tablet ---*/
@media only screen and (max-width: 959px) {
  .gdlr-float-player .mejs-container .mejs-controls .gdlr-volumn-bar { display: none; }   
}

/*--- mobile landscape style ---*/
@media only screen and (max-width: 767px) {

  /*--- music player ---*/
  .gdlr-float-player .mejs-container { height: 140px !important; }
  .gdlr-float-player .mejs-container .mejs-controls { padding-top: 70px; }
  .gdlr-float-player .mejs-container .mejs-controls .gdlr-play-control { position: absolute; top: 0px; left: 0px; }
  .gdlr-float-player .mejs-container .mejs-controls .gdlr-hide-float-bar { position: absolute; 
    top: 0px; right: 0px; padding: 26px 12px; }
  .gdlr-float-player .mejs-container .mejs-controls .gdlr-volumn-bar { display: none !important; }
  .gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-download { position: absolute;
    right: 45px; top: 0px; background: transparent; width: 82px; padding-right: 0px; padding-top: 24px; }
  .gdlr-float-player .gdlr-top-player-download .top-player-list{ display: none !important; }
  .gdlr-float-player .gdlr-player-list { display: none !important; }
  .gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse { display: none; }
  .gdlr-float-player .mejs-container .mejs-controls .mejs-time-rail { padding-right: 0px; padding-left: 55px;
    background: transparent; }  
  .gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-thumbnail{ left: 0px; }
  
  .gdlr-open-float-player{ display: block; }
  .gdlr-float-player{ display: none; }
}
