
/* TODO need to remove unnecessary shit */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css');

.blur-all {
  filter: blur(10px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#full-screen-bg {
  position: absolute;
  height: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.small-logo, .navbar-nav > li > a.small-logo {
  padding: 0;
  margin: 0;
}

.small-logo img {
  width: 50px;
}

.main-section {
  padding: 40px 0 110px;
}

.thumb {
  display: inline-block;
  width: 100%;
  height: 200px;
  margin: 5px;
  background-position: center center;
  background-size: cover;
}

.team-leader img {
  display: inline;
  border-radius: 50%;
}

/* recent-categories-block */

.recent-categories-block {
  margin-bottom: 10px;
  padding: 0 15px 15px 15px;
}

.recent-categories-block-title {
  font-size: 25px;
  font-weight: bold;
}

.recent-categories-block-inner {
  height: 270px;
}

.recent-categories-block-image{
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recent-categories-block-mask{
  height: 106px;
  width: 132px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 15px;
}

.recent-categories-block-info {
  position: relative;
  top: 20px;
}

.recent-categories-block-tag{
  font-size: 17px;
  width: 200px;
}

.subcategory-image {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.subcategory-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* end recent-categories-block */

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* bootstrap social draugiem */

.btn-draugiem{color:#fff;background-color:#ff9100;border-color:rgba(0,0,0,0.2)}.btn-draugiem:hover,.btn-draugiem:focus,.btn-draugiem:active,.btn-draugiem.active,.open .dropdown-toggle.btn-draugiem{color:#fff;background-color:#ff7c00;border-color:rgba(0,0,0,0.2)}
.btn-draugiem:active,.btn-draugiem.active,.open .dropdown-toggle.btn-draugiem{background-image:none}
.btn-draugiem.disabled,.btn-draugiem[disabled],fieldset[disabled] .btn-draugiem,.btn-draugiem.disabled:hover,.btn-draugiem[disabled]:hover,fieldset[disabled] .btn-draugiem:hover,.btn-draugiem.disabled:focus,.btn-draugiem[disabled]:focus,fieldset[disabled] .btn-draugiem:focus,.btn-draugiem.disabled:active,.btn-draugiem[disabled]:active,fieldset[disabled] .btn-draugiem:active,.btn-draugiem.disabled.active,.btn-draugiem[disabled].active,fieldset[disabled] .btn-draugiem.active{background-color:#ff7c00;border-color:rgba(0,0,0,0.2)}
.btn-draugiem .badge{color:#ff9100;background-color:#fff}

/* end bootstrap social draugiem */

/* tune plugin */

.tune-image-100 {
  position: relative;
}

.tune-image-100 img {
  width: 100%;
}

.edit-tune-btn {
  position: absolute;
}

.tune-extension {
  position: absolute;
  top: 0;
  right: 0;
}

.responsive-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end tune plugin */

/* tune plugin edit */

.tune-form-container span.input-group-addon {
  min-width: 150px;
  text-align: left;
}

.tune-table-edit #dragbox {
  position: relative;
}

.tune-table-edit #progressOuter {
  position: absolute;
  top: 0;
  width: 100%;
}

/* end tune plugin edit */

/* tune table */

.music-options .tune-table-content {
  margin-bottom: 20px;
  text-align: center;
}

/* end tune table */

.debug {
  border: 1px solid red;
}

.ontop {
  height: 100px;
  position: absolute;
  right: 0;
  left: 0;
}

/* social logins */

.social-logins-container {
  z-index: 70;
  position: absolute;
  top: 40px;
}

.social-logins-inner {
  background-color: #fff;
}

/* end social logins */

.icon-size {
  font-size: 87px;
}

.mainbody {
  background:#f0f0f0;
}

.brand_network {
  color: #9D9D9D;
  float: left;
  position: absolute;
  left: 70px;
  top: 30px;
  font-size: smaller;
}

.post-content {
  margin-left:58px;
}

.badge-important {
  margin-top: 3px;
  margin-left: 25px;
  position: absolute;
}

/*==========  Mobile First Method  ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar-nav > li > a {
    min-width: 60px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .navbar-nav > li > a {
    min-width: 115px;
  }

  .rating-count {
    font-size: 42px;
    margin-left: 10px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .navbar-nav > li > a {
    min-width: 144px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
  .navbar-nav > li > a {
    min-width: 155px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {
  .navbar-nav > li > a {
    min-width: 180px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1800px) {
  .navbar-nav > li > a {
    min-width: 220px;
  }
}

.ratings-count {
  font-size: 15px;
  cursor: pointer;
}

.dragged-over {
  background-color: rgba(0,0,0,.1);
}

.emojione {
  width: 2em;
}

.tune-label-logo {
  width: 150px;
}

.album-thumbnails a {
  /* set the desired width/height and margin here */
  width: 100%;
  height: 200px;
  margin-right: 1px;

  position: relative;
  overflow: hidden;
  display: inline-block;
}

.album-thumbnails a img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}

.album-thumbnails a img.portrait {
  width: 100%;
  height: auto;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.sub-section-title {
  padding: 5px 10px !important;
}
