<template>
  <section id="category-page">
    <v-row dense>
      <v-col cols="12" sm="8">
        <category />
        <tunes-cards mode="recent" link="tunes/recent">
          Recent tunes
        </tunes-cards>
        <tunes-cards mode="random">
          Other interesting tunes
        </tunes-cards>
      </v-col>

      <v-col sm="4">
        <videos-infos :random="true">
          Other cool videos
        </videos-infos>
        <power-video />
        <v-divider />
        <banner />
      </v-col>
    </v-row>
  </section>
</template>
<script>

  export default {
    data: () => ({
      name: 'CategoryPage',
      loading: false,
      error: null,
      noMoreData: false,
      gradioTeam: 0,
    }),

    components: {
      'category': () => import('../components/Category/Category.vue'),
      'tunes-cards': () => import('../components/Tunes/TunesCards.vue'),
      'videos-infos': () => import('../components/Videos/VideosInfos.vue'),
      'banner': () => import('../components/Banner/Banner.vue'),
      'power-video': () => import('../components/Videos/PowerVideo.vue'),
    },
  }
</script>
