<template>
  <section id="content-page">
    <v-row dense>
      <v-col cols="12" md="8">
        <post />
        <tunes-cards mode="recent" link="tunes/recent">Recent tunes</tunes-cards>
        <tunes-cards mode="random">Other interesting tunes</tunes-cards>
      </v-col>
      <v-col cols="12" md="4">
        <videos-infos :random="true">
          Other cool videos
        </videos-infos>
        <power-video />
        <v-divider></v-divider>
        <banner />
      </v-col>
    </v-row>
  </section>
</template>
<script>

    export default {
        data: () => ({
            name: 'ContentPage',
            gradioTeam: 0,
            loading: true,
        }),

        methods: {

            // fetchData() {
            //     let vm = this;
            //
            //     vm.error = null;
            //     vm.loading = true;
            //
            //     axios.get(`${vm.$store.state.base.apiUrl}${vm.$route.path}`, {
            //         params: {
            //             ajax: 'true',
            //             page: this.page
            //         }
            //     }).then(function (response) {
            //         let vars = response.data.vars;
            //         //console.debug(vars);
            //         document.title = `${vars.pageTitle} :${response.data.title}`;
            //
            //         vm.noMoreData = false;
            //         if (!isNil(vars.contents) && vars.contents.length <= 0) {
            //             vm.noMoreData = true;
            //
            //             return;
            //         }
            //
            //         vm.gradioTeam = vars.gradioTeam;
            //         vm.post = head(vars.contents);
            //         //vm.latestTunes = vars.latestTunes;
            //         vm.latestTuneVideos = vars.latestTuneVideos;
            //         vm.powerVideo = vars.powerVideo;
            //
            //         for (var key in vars.latestTunes) {
            //             let tune = vars.latestTunes[key];
            //             tune = vm.extendData(tune);
            //             vm.latestTunes.push(tune);
            //         }
            //
            //         for (var key in vars.recentTunes) {
            //             let recentTune = vars.recentTunes[key];
            //             recentTune = vm.extendData(recentTune);
            //             vm.recentTunes.push(recentTune);
            //         }
            //
            //         vm.loading = false;
            //
            //         setTimeout(() => {
            //             //window.sr.reveal('.gradio-news-card-container', { duration: 2000 }, 100);
            //             //window.sr.reveal('.gradio-tune-card', { duration: 2000 }, 200);
            //             window.sr.reveal('.gradio-latest-tune', {duration: 1000}, 200);
            //             window.sr.reveal('.gradio-latest-video', {duration: 2000}, 300);
            //         }, 500);
            //
            //     }).catch(function (error) {
            //         vm.loading = false;
            //         vm.error = error.toString();
            //         console.error(error);
            //     });
            // },

        },

        components: {
            'post': () => import('../components/Content/Post.vue'),
            'tunes-cards': () => import('../components/Tunes/TunesCards.vue'),
            'videos-infos': () => import('../components/Videos/VideosInfos.vue'),
            'power-video': () => import('../components/Videos/PowerVideo.vue'),
            'banner': () => import('../components/Banner/Banner.vue'),
        },
    }
</script>
