<template>
  <section id="privacy-page">
    <v-container class="pa-0">
      <v-row dense>
        <v-col>
          <v-toolbar
            dark
            color="primary"
            class="mb-1">
            <v-toolbar-title class="text-h4 font-weight-bold">
              <slot>
                <translate>Data deletion instruction</translate>
              </slot>
            </v-toolbar-title>
          </v-toolbar>
          <p><b>Facebook datu dzēšanas instrukcija</b></p>
          <p>Ja vēlaties dzēst savus datus lūdzu rakstiet pieprasījumu brīvā formā uz gradiolv@gmail.com un izskatot Jūsu pieprasījumu, mēs tos izdzēsīsim.</p>
          <p>
            Ja Tu vēlies pilnībā dzēst aktivitātes no gradio.lv pieslēgšanās lietotnes,
            Tev nepieciešams doties uz šo saiti <a href="https://www.facebook.com/settings?tab=applications" target="_blank">https://www.facebook.com/settings?tab=applications</a>
            vai Iestatījumi un privātums -> Lietotnes un vietnes -> Atrodi lietotni gradio.lv un spied Noņemt, tādā gadījumā visas aktivitātes no šīs lietotnes tiks dzēstas.
          </p>
          <p>Privātuma politika spied <a href="/privacy">šeit</a></p>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
