<template>
  <section id="home-page">
    <v-row dense>
      <v-col cols="12" sm="8">
        <posts />
        <tunes-cards mode="recent" link="tunes/recent" class="mt-3">
          Recent tunes
        </tunes-cards>
        <tunes-cards mode="latest" link="tunes/latest" class="mt-3">
          Latest tunes
        </tunes-cards>
      </v-col>

      <v-col sm="4">
        <videos-infos>Latest videos</videos-infos>
        <power-video />
        <v-divider />
        <banner />
      </v-col>
    </v-row>
  </section>
</template>
<script>

export default {
  data: () => ({
    name: 'Home',
  }),
  methods: {

    //parseFB () {
      //FB.XFBML.parse(document, () => {
        //$('#fb-comment-content .loader').fadeOut(function(){
          //$('#fb-comment-content .fb-comments').fadeIn();
        //});
        //console.debug('parsing XFBML done');
      //});
    //}
  },
  components: {
    'posts': () => import('../components/Content/Posts.vue'),
    'tunes-cards': () => import('../components/Tunes/TunesCards.vue'),
    'videos-infos': () => import('../components/Videos/VideosInfos.vue'),
    'power-video': () => import('../components/Videos/PowerVideo.vue'),
    'banner': () => import('../components/Banner/Banner.vue'),
  },
}
</script>
