<template>
  <section id="me-page">
    <v-toolbar
      dark
      color="primary"
      class="mb-1">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <slot>
          <translate>Me</translate>
        </slot>
      </v-toolbar-title>
    </v-toolbar>
    <v-row dense justify="end">
      <v-col lg="2">
        <v-btn
          :to="`${baseUrl}user/settings`"
          block
          dark>
          <translate>User Settings</translate>
          <v-icon right>fa fa-cogs</v-icon>
        </v-btn>
      </v-col>

      <v-col lg="2" v-if="isGradioTeam">
        <v-btn
          :href="`${baseUrl}admin?template=gradio`"
          block
          dark>
          <translate>Admin</translate>
          <v-icon right>fa fa-tachometer</v-icon>
        </v-btn>
      </v-col>

      <v-col lg="1">
        <v-btn
          :href="`${baseUrl}user/logout`"
          color="#DD4B39"
          block
          :loading="loading.logout"
          @click="logoutStart"
          dark>
          <translate>Log out</translate>
          <v-icon right>fa fa-sign-out</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row dense justify="start">
      <v-col cols="8">
      <v-timeline align-top>
        <v-timeline-item
          v-for="(item, i) in filteredActivities"
          :key="i"
          :icon="item.icon"
          fill-dot>
          <v-card>
            <v-card-title class="text-h6">{{ item.datetime_relative }} {{ item.user }} {{ item.action }}</v-card-title>
            <v-card-text class="pa-1 white text--primary">
              <p>
                <tune-card v-if="forTune(item)" :tune="{...item.item_data}[0]" />
              </p>
            </v-card-text>
          </v-card>
        </v-timeline-item>
      </v-timeline>
      </v-col>
    </v-row>

    <infinite-loading
      @infinite="infiniteHandler">
      <slot name="infiniteLoadingError" slot="error" slot-scope="{ trigger }">
        <div>
          Error message, click <a href="javascript:;" @click="trigger">here</a> to retry
        </div>
      </slot>
    </infinite-loading>

  </section>
</template>
<script>

import { mapActions, mapGetters } from 'vuex';
import InfiniteLoading from 'vue-infinite-loading';
import { InfiniteLoadingMixin } from '../mixins/infiniteLoading/infiniteLoadingMixin';
import { get } from 'lodash';
import axios from 'axios';

export default {
  mixins: [InfiniteLoadingMixin],

  data: () => ({
    name: 'Me',
    loading: {
      logout: false,
    }
  }),

  async created () {
    // const activities = await this.fetchActivities();
    // await this.$store.commit('user/UPDATE_USER_ACTIVITIES', activities.human);
    await this.load();
  },

  computed: {
    ...mapGetters([
      'baseUrl'
    ]),

    ...mapGetters('user', {
      user: 'getUser',
      isLoggedIn: 'isLoggedIn',
      isGradioTeam: 'isGradioTeam',
      activities: 'getActivities',
      activityLastId: 'getActivityLastId',
    }),

    filteredActivities() {
      return this.activities.filter(activity => activity.identificator !== 'site_guest_loggedin');
    }
  },

  methods: {
    ...mapActions('user', [
      'fetchActivities',
    ]),

    async load () {
      this.pagination.setStart(this.activities.length);
      const activities = await this.fetchActivities(
        this.pagination.getStartAndLimit()
      );
      this.pagination.setLoadedItems(activities.human);
      await this.$store.commit('user/UPDATE_USER_ACTIVITIES', activities.human);
      /* we need set only on first load */
      if (! this.activityLastId) {
        await this.$store.commit('user/UPDATE_USER_ACTIVITY_LAST_ID', get(activities, 'human[0].id'));
      }
    },

    forTune (item) {
      return ['tune_liked', 'tune_disliked', 'tune_info_updated'].includes(item.identificator);
    },

    logoutStart(){
      this.loading.logout = true

      sessionStorage.setItem('startLogout', true);
    }
  },

  components: {
    InfiniteLoading,
    'tune-card': () => import('../components/Tune/Card.vue'),
  },
}
</script>
<style lang="scss">

  #me {
    min-height: 200px;
  }

</style>
