<template>
  <section id="posts-page">
    <v-row dense>
      <v-col>
        <all-posts />
      </v-col>
    </v-row>
  </section>
</template>
<script>

export default {
  data: () => ({
    name: 'PostsPage',
  }),

  methods: {

  },

  components: {
    'all-posts': () => import('../components/Content/AllPosts.vue'),
  },
}
</script>
