<template>
  <section id="privacy-page">
    <v-container class="pa-0">
      <v-row dense>
        <v-col>
          <v-toolbar
            dark
            color="primary"
            class="mb-1">
            <v-toolbar-title class="text-h4 font-weight-bold">
              <slot>
                <translate>Privacy</translate>
              </slot>
            </v-toolbar-title>
          </v-toolbar>
          <p><b>1. Sīkdatnes</b></p>
          <p>1.1. Sīkdatnes ir nelielas teksta datnes, kas tiek nosūtītas uz Lietotāja datora atmiņu no tīmekļa servera un saglabātas viņa datorā, ja vien Lietotājs nav visas vai daļu no tām savos pārlūkprogrammas iestatījumos aizliedzis. Ar sīkdatņu palīdzību serveris identificē lietotāju, kad viņš atver vietni.</p>
          <p>1.2. Sīkdatnes atkarībā no to izvietojuma iedalās:</p>
          <p>1.2.1 īslaicīgas jeb sesijas sīkdatnes – palīdz saskaņot Lietotāja darbības vienas pārlūkprogrammas šķirstīšanas sesijas laikā, t.i., pastāv no tīmekļa pārlūkprogrammas atvēršanas brīža līdz tās aizvēršanai vai līdz 4 stundām no pēdējās ienākšanas brīža kādā tīmekļa lappusē;</p>
          <p>1.2.2 Pastāvīgās sīkdatnes – tiek saglabātas lietotāja datorā uz sīkdatnē noteikto laiku un aktivējas katru reizi, kad lietotājs apmeklē tīmekļa lappusi, no kuras tā tika nosūtīta.</p>
          <p>1.3. Sīkdatņu iedalījums atkarībā no to piederības:</p>
          <p>1.3.1 Pirmās dalības puses sīkdatnes – no apmeklētās tīmekļa lappuses. Ar šo sīkdatņu palīdzību tīmekļa lappuses var saglabāt informāciju, kas tiek izmantota katru reizi lappuses apmeklēšanas laikā. No personas datu apstrādes viedokļa pirmās dalības puses sīkdatņu ievietotājs ir atbildīgais apstrādātājs (vai jebkura viņa pilnvarotā persona), kas nodarbojas ar apmeklēto lappušu pārvaldību;</p>
          <p>1.3.2 Trešo pušu sīkdatnes – veidojas, piemēram, no citu tīmekļa lappušu reklāmām, kas atrodas lietotāja apmeklētajās tīmekļa lappusēs. No personas datu apstrādes viedokļa trešās dalības puses sīkdatņu ievietotājs ir atbildīgais apstrādātājs, kas nav tas pats apmeklētās lappuses pārvaldnieks;</p>
          <p>1.4. Sīkdatņu iedalījums atkarībā no to nosūtīšanas mērķa:</p>
          <p>1.4.1 Obligāti nepieciešamās – ir nepieciešamas, lai varētu pārvietoties mājas lapā, izmantot tās piedāvātās iespējas un sniegt lietotāja izvēlētos pakalpojumus. Bez šo sīkdatņu ievietošanas interneta mājas lapa Lietotājam izvēlētos pakalpojumus nevar piedāvāt;</p>
          <p>1.4.2 Analītiskās sīkdatnes – uzkrāj informāciju, kā apmeklētāji lieto mājas lapu, piemēram, lai noteiktu, kādas lapas tiek visbiežāk apmeklētas, kā arī, lai noskaidrotu, vai apmeklētāji saņem kļūdu ziņojumus. Savāktā informācija tiek apvienota un padarīta par anonīmu. Šo sīkdatņu uzdevums ir mājas lapu darba uzlabošana;</p>
          <p>1.4.3 Funkcionālās sīkdatnes – šīs sīkdatnes ļauj mūsu mājas lapai atcerēties veiktās izvēles (piemēram, teksta lielumu, citu mājas lapu maināmās īpašības) un pazīmes (lietotāja vārdu, lietoto valodu vai atrašanās valsti) un nodrošināt uzlabotas, personalizētākas iespējas;</p>
          <p>1.4.4 Reklāmas sīkdatnes – šīs sīkdatnes ļauj parādīt tieši lietotājam piemērotas reklāmas, veikt tirgus pētījumus un analīzes, izmantojot no lietotāja apmeklētajām mājas lapām un interesēm ievākto informāciju. Iegūtā informācija var var tikt izplatīta reklāmas tīklā un reklāmas pakalpojumu sniedzējiem.</p>

          <p><b>2. Pieslēgšanās ar sociālo tīklu kontiem</b></p>
          <p><b>Facebook</b></p>
          <p>Mēs izmantojam facebook pieslēgšanos, lai ātrāk un ērtāk varētu piereģistrēties un izmantot priekšrocības (Patīkot, netīkot dziesmas)
            Datus kurus pieprasam ir Vārds, uzvārds un profila attēls (obligāti savādāk, pieslēgšanās nestrādās), E-pasta adrese (lietotāja identifikators)</p>
          <p><b><a href="/datadeletioninstruction">Facebook datu dzēšanas instrukcija</a></b></p>
          <p>Ja vēlaties dzēst savus datus lūdzu rakstiet pieprasījumu brīvā formā uz gradiolv@gmail.com un izskatot Jūsu pieprasījumu, mēs tos izdzēsīsim.</p>
          <p>
            Ja Tu vēlies pilnībā dzēst aktivitātes no gradio.lv pieslēgšanās lietotnes,
            Tev nepieciešams doties uz facebook aplikāciju iestatījumiem <a href="https://www.facebook.com/settings?tab=applications" target="_blank">https://www.facebook.com/settings?tab=applications</a>
            vai Iestatījumi un privātums -> Lietotnes un vietnes -> Atrodi lietotni gradio.lv un spied Noņemt, tādā gadījumā visas aktivitātes no šīs lietotnes tiks dzēstas.
          </p>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
