<template>
  <section id="tune-page">
    <v-row dense v-if="tune">
      <v-col cols="12" md="4" lg="3" order="1" order-lg="1">
        <tune-cover :tune="tune" />

        <tune-links :tune="tune" />
      </v-col>

      <v-col cols="12" md="8" lg="5" order="2" order-lg="2" class="middle-container">
        <tune-data :tune="tune" />
      </v-col>

      <v-col cols="12" lg="8" order="5">
        <tune-comment :tune="tune" />
      </v-col>

      <v-col v-bind:class="[tune.youtube_id ? 'order-5' : 'order-4']" cols="12" lg="4" order-lg="3">
        <tunes-infos
          grid="col-12 col-sm-4 col-md-3 col-lg-6 col-xl-4"
          :limitText="25">
          <translate>Other interesting tunes</translate>
        </tunes-infos>
      </v-col>

      <v-col v-if="tune.youtube_id" cols="12" lg="8" order="3" order-lg="4">
        <tune-video :tune="tune" />
      </v-col>

      <v-col v-bind:class="[tune.youtube_id ? 'order-4' : 'order-5']" cols="12" lg="4" >
        <videos-infos
          :random="true"
          grid="col-12 col-sm-4 col-lg-6 col-xl-4">
          Other cool videos
        </videos-infos>
      </v-col>

      <v-col cols="12" lg="4" offset-lg="8" order="10">
        <v-divider />
        <banner />
      </v-col>
    </v-row>
  </section>
</template>
<script>

  import $ from 'jquery';
  import axios from 'axios';

  import {mapGetters, mapActions} from 'vuex';

  import {MetaMixin} from '../mixins/meta/metaMixin';

  export default {
    mixins: [MetaMixin],

    beforeRouteLeave (to, from, next) {
      if (to.name !== 'tuneEdit') {
        this.updateSelectedTune(undefined);
      }
      next();
    },

    data: () => ({
      name: 'TunePage',
      loading: true,
      error: null,
      noMoreData: false,
      page: 1,
      init: true,
      params: {},
    }),

    async created () {
      if (!this.tune) {
        await this.loadTune();
      }

      if (!this.tune.meta) {
        this.setPageTitle(`${this.$gettext('Tune')} ${this.tune.artist} - ${this.tune.title}`);
        this.$emit('updateHead');
      }

      this.loading = false;
    },

    computed: {
      ...mapGetters('tune', {
        tune: 'getSelectedTune',
      })
    },

    watch: {
      async '$route' (to, from) {
        if (!this.tune) {
          await this.loadTune();
          return;
        }

        if (this.tune.ID === Number(this.$route.params.tuneId)) {
          if (!this.tune.meta) {
            this.setPageTitle(`${this.$gettext('Tune')} ${this.tune.artist} - ${this.tune.title}`);
            this.$emit('updateHead');
          }
          return;
        }

        await this.loadTune();
      }
    },

    methods: {

      ...mapActions('tune', [
        'updateSelectedTune',
        'fetchTune',
        'updateTune',
      ]),

      async loadTune () {
        this.loading = true;
        const tune = await this.fetchTune(this.$route.params.tuneId);
        if (tune) {
          await this.updateSelectedTune(tune);
          await this.updateTune(tune);

          if (tune.meta) {
            this.setMeta(tune.meta);
            this.$emit('updateHead');
          }
          this.loading = false;
        }
      },

      fetchData () {
        let vm = this;

        vm.error = null;
        vm.loading = true;

        $('#fb-comment-content .fb-comments').hide();
        $('#fb-comment-content .fb-comments').empty();
        $('#fb-comment-content .loader').show();

        axios.get(`${vm.$store.state.base.apiUrl}${vm.$route.path}`, {
          params: {
            ajax: 'true',
            page: this.page
          }
        }).then(response => {
          let vars = response.data.vars;
          document.title = `${vars.pageTitle} :${response.data.title}`;
          vm.noMoreData = false;

          // vm.gradioTeam = vars.gradioTeam;
          vm.pageTitle = vars.pageTitle;
          // vm.latestTunes = response.data.vars.latestTunes;
          vm.latestTuneVideos = response.data.vars.latestTuneVideos;

          // if(!_.isNil(vars.tune) && vars.tune.length <= 0) {
          //   vm.noMoreData = true;
          //   $('.loader-infinite-container').fadeOut(function(){
          //     //$(this).empty();
          //   });
          //   vm.loading = true;
          //   return;
          // }

          //vm.tune = vm.extendData(vars.tune);
          // bus.$emit('currentTune', vm.tune);

          //this.$store.dispatch('tune/updateSelectedTune', vm.tune);

          //vm.$forceUpdate();

          //if (vm.init && _.isObject(FB)) {
          //  console.debug('first time load!');
            setTimeout(() => {
              vm.params = vars.meta;
              vm.$emit('updateHead');
              //console.debug('updateHead', vm.params);

              vm.parseFB();
            }, 1000);

          //} else {
          //  console.debug('other time load!');
          //  vm.parseFB();
          //}

          //vm.init = false;
          vm.loading = false;

          setTimeout(() => {
            //window.sr.reveal('.gradio-news-card-container', { duration: 2000 }, 100);
            //window.sr.reveal('.gradio-tune-card', { duration: 2000 }, 200);
            window.sr.reveal('.gradio-latest-tune', { duration: 1000 }, 200);
            window.sr.reveal('.gradio-latest-video', { duration: 2000 }, 300);
          }, 500);

        }).catch(function (error) {
          vm.loading = false;
          vm.error = error.toString();
          console.error(error);
        });
      },

      parseFB () {
        FB.XFBML.parse(document, () => {
          $('#fb-comment-content .loader').fadeOut(function(){
            $('#fb-comment-content .fb-comments').fadeIn();
          });
          //console.debug('parsing XFBML done');
        });
      },


    },

    components: {
      'videos-infos': () => import('../components/Videos/VideosInfos.vue'),
      'tunes-infos': () => import('../components/Tunes/TunesInfos.vue'),
      'banner': () => import('../components/Banner/Banner.vue'),
      'tune-cover': () => import('../components/Tune/Cover.vue'),
      'tune-links': () => import('../components/Tune/Links.vue'),
      'tune-data': () => import('../components/Tune/Data.vue'),
      'tune-video': () => import('../components/Tune/Video.vue'),
      'tune-comment': () => import('../components/Tune/Comment.vue'),
      // 'loader': () => import('../components/Loader/Loader.vue'),
    }
  }

</script>
