<template>
  <section id="tune-edit">
    <v-row dense v-if="isGradioTeam">
      <v-col cols="12" sm="12" md="8" lg="5">
        <tune-edit-form :tune="tune" />
      </v-col>

      <v-col cols="12" sm="4">
        <tune-edit-tools :tune="tune" />
      </v-col>

      <v-col cols="12" sm="6" md="4" lg="3" class="preview-tune-card-container">
        <v-card tile text>
          <v-card-text class="pa-1">
            <tune-card :tune="tune" :editMode="true" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex';

export default {
  data: () => ({
    name: 'TuneEditPage',
    loading: true,
    error: null,
    noMoreData: false,
    init: true,
    select: null,
    isLoadingRating: false,
  }),

  async created () {
    if (!this.tune) {
      await this.loadTune();
    }

    this.loading = false;
  },

  computed: {
    ...mapGetters('tune', {
      tune: 'getSelectedTune',
    }),

    ...mapGetters('user', {
      isGradioTeam: 'isGradioTeam',
    }),
  },

  methods: {

    ...mapActions('tune', [
      'updateSelectedTune',
      'reloadSelectedTune',
      'fetchTune',
      'updateTune',
    ]),

    async loadTune () {
      const tune = await this.fetchTune(this.$route.params.tuneId);
      if (tune) {
        await this.updateSelectedTune(tune);
        await this.updateTune(tune);
      }
    },
  },

  components: {
    'tune-edit-form': () => import('../components/Tune/Edit/TuneEditForm.vue'),
    'tune-edit-tools': () => import('../components/Tune/Edit/TuneEditTools.vue'),
    'tune-card': () => import('../components/Tune/Card.vue'),
  },
}

</script>
<style scoped>

  /* .preview-tune-card-container {
    position: sticky;
    top: 0;
  } */

  .title, .subtitle-1 {
    margin: 0;
  }

  .tune-card-extension-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .tune-card-genre-container {
    height: 40px;
    overflow: hidden;
  }

  .tune-card-user-rated-container {
    position: absolute;
    top: 0;
    right: 0;
  }

  .loader {
    height: 182px;
    background-color: rgba(41, 128, 185, 0.1);
  }

  .loader img {
    width: 50px;
  }

  .tune-card-icon {
    opacity: 0.5;
  }

  .tune-card-icon:hover {
    opacity: 1;
  }

</style>
