<template>
  <section id="user-settings-page">
    <v-row dense>
      <v-col cols="12" md="8">
        <v-toolbar
          dark
          color="primary"
          class="mb-1">
          <v-toolbar-title class="text-h4 font-weight-bold">
            <slot>
              <translate>User settings</translate>
            </slot>
          </v-toolbar-title>
        </v-toolbar>

        <v-row dense v-if="user">
          <v-col cols="12" sm="5" lg="3">
            <img
              :src="user.image"
              :alt="user.display_name"
              class="user-image"
              style="width: 100%" />
          </v-col>

          <v-col>
            <u><translate>Your profile information</translate></u>
            <br>
            <table width="100%" border="0" cellpadding="2" cellspacing="2">
              <thead>
                <tr>
                  <th width="40%"></th>
                  <th width="60%"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b><translate>User ID</translate></b></td>
                  <td>{{ user.id }}</td>
                </tr>
                <tr>
                  <td><b><translate>User roles</translate></b></td>
                  <td>{{ userRoles }}</td>
                </tr>
                <tr>
                  <td><b><translate>Show as</translate></b></td>
                  <td>
                    {{ user.display_name }}
                  </td>
                </tr>
                <tr>
                  <td><b><translate>Description</translate></b></td>
                  <td>
                    {{ user.description }}
                  </td>
                </tr>
                <tr>
                  <td><b><translate>Gender</translate></b></td>
                  <td>
                    {{ user.gender }}
                  </td>
                </tr>
                <tr>
                  <td><b><translate>User auths</translate></b></td>
                  <td>{{ userAuths }}</td>
                </tr>
                <tr>
                  <td><b><translate>Last visit</translate></b></td>
                  <td>{{ user.lastvisit | moment('from') }}</td>
                </tr>

                <tr v-if="user.updated">
                  <td><b><translate>Updated</translate></b></td>
                  <td>{{ user.updated | moment('from') }}</td>
                </tr>

                <tr>
                  <td><b><translate>Registered</translate></b></td>
                  <td>{{ user.added | moment('from') }}</td>
                </tr>
                <tr>
                  <td><b><translate>Switch language</translate></b></td>
                  <td>
                    <v-btn
                      :color="locale === 'lv_LV' ? 'primary' : ''"
                      small
                      :href="`${$route.path}?locale=lv_LV`">
                      Latviešu
                    </v-btn>
                    <v-btn
                      :color="locale === 'en_US' ? 'primary' : ''"
                      small
                      :href="`${$route.path}?locale=en_US`">
                      English
                    </v-btn>
                  </td>
                </tr>
                </tbody>
            </table>

            <v-card tile text>
              <v-card-text class="pa-1">

                <form id="userSettingsForm" @submit.prevent="submit">
                  <v-text-field
                    name="user[display_name]"
                    :label="$gettext('Show as')"
                    v-model="user.display_name"
                    required />

                  <v-text-field
                    name="user[description]"
                    :label="$gettext('Description')"
                    v-model="user.description" />

                  <v-text-field
                    name="user[api_token]"
                    :label="$gettext('Api Token')"
                    v-model="user.api_token" />

                  <v-btn
                    block
                    color="primary"
                    :disabled="!valid"
                    :loading="loading"
                    type="submit">
                    <translate>Edit</translate>
                  </v-btn>
                </form>
              </v-card-text>
            </v-card>

            <!--
            <button class="btn btn-info your-files">
              <i class="fa fa-files-o "></i> <translate>Your files</translate>
            </button>
            -->
            <!-- {timeline} -->

          </v-col>

          <div id="elfinder"></div>
        </v-row>
      </v-col>

      <v-col cols="12" md="4">
        <power-video />
        <v-divider></v-divider>
        <banner />
      </v-col>
    </v-row>

    <notify
      v-if="notify"
      :notifyObj="notify">
    </notify>
  </section>
</template>
<script>

import {isNil} from 'lodash';
import moment from 'moment';
import axios from 'axios';

import { mapGetters, mapActions } from 'vuex';

export default {
  data: () => ({
    loading: false,
    error: null,
    noMoreData: false,
    gradioTeam: 0,
    valid: true,
    notify: undefined,
  }),

  async created () {
    // await this.fetchUser();
  },

  methods: {
    ...mapActions('user', [
      'fetchUser',
      'updateUser',
    ]),

    async submit () {
      this.loading = true;
      this.notify = undefined;
      const formData = new FormData;
      formData.append('id', this.user.id);
      formData.append('display_name', this.user.display_name);
      formData.append('description', this.user.description);
      formData.append('api_token', this.user.api_token);

      try {
        await this.updateUser(formData);
        this.loading = false;

        this.notify = {
          type: 'success',
          title: this.$gettext('Profile updated'),
          text: this.$gettext('User settings updated'),
        };
      } catch (e) {
        this.loading = false;
        this.notify = {
          type: 'error',
          title: this.$gettext('Whoops'),
          text: e,
        };
      }
    },

    fetchData () {
      var vm = this;
      vm.error = null;
      vm.loading = true;

      //window.sr.reveal('.gradio-news-card-container', { container: $('.gradio-news-container') });

      axios.get(`${vm.$store.state.base.apiUrl}${vm.$route.path}`, {
        params: {
          ajax: 'true',
          page: this.page
        }
      }).then(function(response){
        let vars = response.data.vars;
        //console.debug(vars);
        document.title = `${vars.pageTitle} :${response.data.title}`;

        vm.noMoreData = false;
        if(!isNil(vars.contents) && vars.contents.length <= 0) {
          vm.noMoreData = true;

          return;
        }

        vm.gradioTeam = vars.gradioTeam;
        vm.user = vars.userData;
        //vm.latestTunes = vars.latestTunes;
        vm.latestTuneVideos = vars.latestTuneVideos;

        vm.powerVideo = vars.powerVideo;

        for (var key in vars.latestTunes) {
          let tune = vars.latestTunes[key];
          tune = vm.extendData(tune);
          vm.latestTunes.push(tune);
        }

        for (var key1 in vars.recentTunes) {
          let recentTune = vars.recentTunes[key1];
          recentTune = vm.extendData(recentTune);
          vm.recentTunes.push(recentTune);
        }
        vm.loading = false;
        //window.sr.sync();

        setTimeout(() => {
          window.sr.reveal('.gradio-news-card-container', { duration: 2000 }, 100);
          //window.sr.reveal('.gradio-tune-card', { duration: 2000 }, 200);
          window.sr.reveal('.gradio-latest-video', { duration: 2000 }, 300);
        }, 500);


      }).catch(function (error) {
        vm.loading = false;
        vm.error = error.toString();
        console.error(error);
      });

    },
  },

  computed: {
    ...mapGetters([
      'baseUrl'
    ]),

    ...mapGetters('user', {
      user: 'getUser',
    }),

    userRoles () {
      if (this.user.roles) {
        return this.user.roles.map(role => role.Description).join(', ');
      }

      return 'No roles found!';
    },

    userAuths () {
      if (this.user.auths) {
        return this.user.auths.map(auth => auth.provider).join(', ');
      }

      return 'No auths found!';
    },

  },

  components: {
    'banner': () => import('../components/Banner/Banner.vue'),
    'power-video': () => import('../components/Videos/PowerVideo.vue'),
    'notify': () => import('../components/Notify/Notify.vue'),
  },
}
</script>
