<template>
  <v-app id="gradio-material-v2" style="display: none;">
    <particle />
    <navigation />
    <v-main class="pa-0">

      <v-container fluid class="pa-0 mb-2">
        <transition name="fade" @after-leave="afterLeave">
          <router-view></router-view>
        </transition>
      </v-container>

      <section id="business-talking">
        <v-parallax
          v-if="currentTune"
          dark
          :src="`${currentTune.resizeCover}`"
          height="200">
          <v-row
            align="center"
            justify="center">
            <h1 class="text-h3 font-weight-thin mb-4">
              <translate>Send us greetings.</translate>
            </h1>
          </v-row>
        </v-parallax>
      </section>

      <section id="contact">
        <v-container fluid class="align">
          <v-row justify="center" align="center" >
            <v-col cols="12" sm="3" md="2" lg="2" xl="1">
              <v-icon>fa fa-envelope-o</v-icon> <span>info@gradio.lv</span>
            </v-col>
            <v-col cols="12" sm="5" md="4" lg="3" xl="2">
              <v-btn
                class="mx-2"
                color="#3B5998"
                dark
                icon
                :href="`https://facebook.com/${siteSocial.facebook.profile_url}`"
                target="_blank"
                >
                <v-icon size="24px">fa fa-facebook</v-icon>
              </v-btn>

              <v-btn
                class="mx-2"
                color="#FF0000"
                dark
                icon
                :href="`https://youtube.com/${siteSocial.youtube.profile_url}`"
                target="_blank"
                >
                <v-icon size="24px">fa fa-youtube</v-icon>
              </v-btn>

              <v-btn
                class="mx-2"
                color="#55ACEE"
                dark
                icon
                :href="`https://twitter.com/${siteSocial.twitter.profile_url}`"
                target="_blank"
                >
                <v-icon size="24px">fa fa-twitter</v-icon>
              </v-btn>

              <v-btn
                class="mx-2"
                color="#273a4b"
                dark
                icon
                :href="`https://mixcloud.com/${siteSocial.mixcloud.profile_url}`"
                target="_blank"
                >
                <v-icon size="24px">fa fa-mixcloud</v-icon>
              </v-btn>

              <v-btn
                class="mx-2"
                color="#ff8800"
                dark
                icon
                :href="`https://soundcloud.com/${siteSocial.soundcloud.profile_url}`"
                target="_blank"
                >
                <v-icon size="24px">fa fa-soundcloud</v-icon>
              </v-btn>
            </v-col>

            <ul class="social-link"></ul>

            <div itemscope itemtype="https://schema.org/Organization" style="display:none">
              <span itemprop="name">【G】radio</span>
              <link itemprop="url" href="/">
              <a itemprop="sameAs" href="https://facebook.com/{$site.social.facebook.profile_url}">Facebook</a>
              <a itemprop="sameAs" href="https://twitter.com/{$site.social.twitter.profile_url}">Twitter</a>
              <a itemprop="sameAs" href="https://plus.google.com/{$site.social.google.profile_url}">Google Plus</a>
              <a itemprop="sameAs" href="https://draugiem.lv/{$site.social.draugiem.profile_url}">Draugiem</a>
              <a itemprop="sameAs" href="https://youtube.com/{$site.social.youtube.profile_url}">Youtube</a>
              <a itemprop="sameAs" href="https://mixcloud.com/{$site.social.mixcloud.profile_url}">Mixcloud</a>
              <a itemprop="sameAs" href="https://soundcloud.com/{$site.social.soundcloud.profile_url}">Soundcloud</a>
              <a itemprop="sameAs" href="https://lastfm.com/user/{$site.social.lastfm.profile_url}">Last.fm</a>
            </div>

          </v-row>
        </v-container>
      </section>

    </v-main>

    <v-footer>
      <v-container fluid>
        <v-row
          align="center"
          justify="start">
          <v-col cols="12" sm="6" md="6" lg="7" xl="7">
            Copyright © {{ new Date().getFullYear() }} |
            Material theme v2.0 by rolla & edphoto
            <br>
            <router-link
              :to="`${baseUrl}privacy`">
              Privacy
            </router-link>
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="5" xl="5">
            <a href="https://urdt.lv?utm_campaign=gradio-banner"
               class="ml-2">
              <img :src="`${baseUrl}img/logos/urdt-cr-logo.webp`" alt="URDT logo" />
            </a>
            <!--            <a href="https://disconakts.lv/"-->
            <!--               class="ml-2">-->
            <!--              <img src="https://aiziet.disconakts.lv/images/logo/disconakts-garais-logo-ar-krasam-un-enam-840.png"-->
            <!--                   alt="Disconakts logo"-->
            <!--                   height="50px"-->
            <!--              />-->
            <!--            </a>-->
          </v-col>

        </v-row>
      </v-container>
    </v-footer>

    <v-row dense justify="center">
      <v-dialog v-model="loginDialog" max-width="400px">
        <v-card>
          <v-card-title class="justify-center">
            <h3 class="text-h5">
              <translate>Sign in with social network</translate>
            </h3>
          </v-card-title>
          <v-card-text>
            <v-list>
              <v-list-item-group>
                <v-list-item>
                  <v-btn
                    :href="`${baseUrl}auth/connect/facebook`"
                    color="#3B5998"
                    block
                    :loading="loading.facebook"
                    @click="startLogin('facebook')"
                    dark>
                    <v-icon class="login-icon">fa fa-facebook</v-icon>
                    <translate>Facebook</translate>
                  </v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn
                    :href="`${baseUrl}auth/connect/twitter/`"
                    color="#55ACEE"
                    block
                    :loading="loading.twitter"
                    @click="startLogin('twitter')"
                    dark>
                    <v-icon class="login-icon">fa fa-twitter</v-icon>
                    <translate>Twitter</translate>
                  </v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn
                    :href="`${baseUrl}auth/connect/google/`"
                    color="#DD4B39"
                    block
                    :loading="loading.google"
                    @click="startLogin('google')"
                    dark>
                    <v-icon class="login-icon">fa fa-google</v-icon>
                    <translate>Google</translate>
                  </v-btn>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" text @click="loginDialog = !loginDialog">
              <translate>Close</translate>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-btn
      v-scroll="onScroll"
      v-show="showToTop"
      fab
      dark
      large
      bottom
      right
      fixed
      color="primary"
      class="text-xl-right animated bounceInUp"
      @click.prevent="toTop">
      <v-icon dark>keyboard_arrow_up</v-icon>
    </v-btn>
  </v-app>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';
  import axios from 'axios';

  export default {
    data: () => ({
      name: 'App',
      showToTop: false,
      loading: {
        facebook: false,
        twitter: false,
        google: false,
      }
    }),

    created () {
      this.alive();
      setInterval(() => {
        this.alive();
      }, 20 * 1000);
    },

    async mounted() {
      if (sessionStorage.getItem('startLogin')) {
        try {
          await axios.get(`${this.$store.state.gradioPrefs.utilsurl}sanctum/csrf-cookie`);
        } catch (e) {
          console.error(e);
        }

        try {
          await axios.get(`${this.$store.state.gradioPrefs.utilsurl}api/user/legacy/login`, {withCredentials: true});
        } catch (e) {
          console.error(e);
        }

        try {
          const response = await axios.get(`${this.$store.state.gradioPrefs.utilsurl}api/user/legacy`, {withCredentials: true});
          // await axios.post(`/user/pd36aNUQNxUNRhYSnT0`, response.data.result);
        } catch (e) {
          console.error(e);
        }

        try {
          await this.fetchUser();
          // document.location.reload();
        } catch (e) {
          console.error(e);
        }
      }

      if (sessionStorage.getItem('startLogout')) {
        try {
          await axios.get(`${this.$store.state.gradioPrefs.utilsurl}auth/logout`);
        } catch (e) {
          console.log('');
        }
      }

      sessionStorage.removeItem('startLogin');
      sessionStorage.removeItem('startLogout');
    },

    computed: {
      ...mapGetters([
        'baseUrl',
        'apiUrl',
        'siteSocial',
        'utilsUrl',
      ]),

      ...mapGetters('tune', {
        currentTune: 'getCurrentTune',
      }),

      ...mapGetters('user', {
        isLoggedIn: 'isLoggedIn',
        user: 'getUser',
      }),

      loginDialog: {
        get () {
          return this.$store.getters.loginDialog;
        },
        set (showLoginDialog) {
          this.$store.commit('SHOW_LOGIN_DIALOG', showLoginDialog);
        }
      }
    },

    methods: {
      ...mapActions('user', [
        'fetchUser',
      ]),

      startLogin(socialNetwork) {
        sessionStorage.setItem('startLogin', true);
        switch(socialNetwork) {
          case 'facebook':
            this.loading.facebook = true
            break
          case 'twitter':
            this.twitter.facebook = true
            break
          case 'google':
            this.google.facebook = true
            break
        }
      },

      onScroll () {
        if (typeof window === 'undefined') return
        const rect = document.getElementById('navigation').getBoundingClientRect();

        this.showToTop = rect.top < rect.height*-1;
      },

      toTop () {
        this.$vuetify.goTo('#navigation');
      },

      afterLeave () {
        // this.$root.$emit('triggerScroll');
      },

      async alive () {
        await axios.get(`${this.baseUrl}alive`);
      },
    },

    components: {
      'particle': () => import('./components/Particle/Particle.vue'),
      'navigation': () => import('./components/Navigation/Navigation.vue'),
    }
  }

</script>

<style lang="scss">
  @import './scss/_variables.scss';

  // the same as vuetify default font
  body {
    font-family: $fontFamily;
    font-display: swap;
  }

  a {
    text-decoration: none;
  }

  .login-icon {
    position: absolute;
    left: 0;
  }

  #business-talking img {
    filter: blur(1em);
  }

  .info-card-bottom-title {
    overflow: hidden;
    white-space: nowrap;
    padding: 8px;
  }
</style>
