{"begin"|timer:"template head"}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="{$meta.contenttype}" />
    <meta http-equiv="content-style-type" content="{$meta.contentstyletype}" />
    <meta http-equiv="content-language" content="{$meta.contentlanguage}" />
    <title>{block name="title"} {$title} {/block}</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{$smarty.session._sf2_attributes.csrfToken}">

    <meta name="description" content="{$meta.content}" />
    <meta name="keywords" content="{$meta.keywords}" />
    <meta name="copyright" content="{$meta.copyright}" />
    <meta name="author" content="{$meta.author}" />
    <meta name="robots" content="{$meta.robots}" />
    <meta name="abstract" content="{$meta.abstract}" />
    <meta name="distribution" content="{$meta.distribution}" />
    <meta name="web_author" content="{$meta.webauthor}" />
    <meta name="google-site-verification" content="{$meta.googlesitev}" />

    <!-- facebook -->
    <meta property="fb:app_id" content="{$meta.fbappid}">
    <meta property="fb:admins" content="{$meta.fbadmins}">
    <meta property="og:url" content="{$meta.ogurl}">
    <meta property="og:type" content="{$meta.ogtype}">
    <meta property="og:title" content="{$meta.ogtitle}">
    <meta property="og:description" content="{$meta.ogdescription}">
    <meta property="og:site_name" content="{$meta.ogsitename}">
    <meta property="og:locale" content="{$meta.oglocale}">
    <meta property="og:image" content="{$meta.ogimage}">
    <!-- /facebook -->

    {if !empty($meta.musicduration)}

    <meta property="music:duration" content="{$meta.musicduration}">
    {/if}

    <!-- twitter -->
    <meta name="twitter:card" content="{$meta.twittercard}">
    <meta name="twitter:site" content="{$meta.twittersite}">
    <meta name="twitter:creator" content="{$meta.twittercreator}">
    <meta name="twitter:url" content="{$meta.twitterurl}">
    <meta name="twitter:title" content="{$meta.twittertitle}">
    <meta name="twitter:description" content="{$meta.twitterdescription}">
    <meta name="twitter:image" content="{$meta.twitterimage}">
    {block name="twitter_card_extend"}{/block}
    <!-- /twitter -->

    <link rel="icon" href="{$url}{$paths.themes}/{$frontendTheme}/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{$url}{$paths.themes}/{$frontendTheme}/img/favicon.ico" type="image/xicon" />

    {if isset($meta['canonical']) && !empty($meta['canonical'])}
    <link rel="canonical" href="{$meta.canonical}" />
    {/if}

    {block name="schemaorg"}
    {/block}

    <!-- Core -->
    <script>
      var base = JSON.parse('{$base|json_encode}');
      var site = JSON.parse('{$site|json_encode}');
      var paths = JSON.parse('{$paths|json_encode}');
      var gradioPrefs = JSON.parse('{$gradioPrefs|json_encode}');
      var d = JSON.parse('{$d|json_encode}');

      var piwik = JSON.parse('{$piwik|json_encode}');
      var googleanalytics = JSON.parse('{$googleanalytics|json_encode}');

      {if isset($user->id)}

      var userID = {$user->id};
      var userName = "{$user->username}";
      {else}

      var userID = "guest";
      var userName = "guest";
      {/if}

      var appTitle = "{$title}";
      var appShortTitle = "{$shortTitle}";
      var appVersion = "{$version.number}";
      var now, Notify, simpleNotify, confirmNotify;
      var locale = "{$smarty.session._sf2_attributes.locale}";
      var flashNotify = JSON.parse('{$smarty.session._sf2_attributes.flashNotify|@json_encode}');

      var headerRenderTime = '{"end"|timer}';
      var controller = '{$uri.controller}';
      var method = '{$uri.method}';
      var var_1 = '{$uri.var}';

      {literal}
        var templateRenderTimes = {
          header: headerRenderTime,
          body: false,
          footer: false
        };

        var requestData = {
          controller: controller,
          method: method,
          var : var_1
        };
      {/literal}
    </script>

    {if isset($googleanalytics.id)}
    <script>
      {literal}
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      {/literal}
        ga('create', '{$googleanalytics.id}', 'auto');
        //ga('send', 'pageview');
    </script>
    {/if}

    {if isset($piwik.id)}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setUserId', userName]);
      _paq.push(["setDocumentTitle", document.title]);
      _paq.push(["setDomains", ["*.gradio.lv"]]);
      // you can set up to 5 custom variables for each visitor
      _paq.push(["setDoNotTrack", true]);
      //_paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['enableJSErrorTracking']);
      _paq.push(['setSiteId', {$piwik.id}]);
      var u = "{$piwik.url}";
      {literal}
        (function () {
          _paq.push(['setTrackerUrl', u + 'piwik.php']);
          var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
          g.type = 'text/javascript';
          g.async = true;
          g.defer = true;
          g.src = u + 'piwik.js';
          s.parentNode.insertBefore(g, s);
        })();
      {/literal}
    </script>
    <!--
    <noscript><p><img src="{$piwik.url}piwik.php?idsite={$piwik.id}" style="border:0;" alt=""></p></noscript>
    -->
    <!-- End Piwik Code -->
    {/if}
  </head>

  {block name="body"}
  {"begin"|timer:"template body"}

  <body>
    <div id="loader" style="position: absolute; width: 100%;height: 100%; background-color: #1565c0">
      <div id="loader-img">
        <img
          src="/assets/SVG-Loaders/svg-loaders/bars.svg"
          alt="bars loader"
          style="position: absolute; top: 50%; left: 50%; padding: 15px; transform: translate(-50%,-50%);"/>
      </div>
    </div>
    <div id="app"></div>
    <script async defer src="https://www.youtube.com/iframe_api"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/{$meta.oglocale}/sdk.js"></script>
  </body>

  {/block}
</html>
