<template>
  <div class="posts-container">
    <v-toolbar
      dark
      color="primary">
      <v-toolbar-title class="text-h4 font-weight-bold">
        <translate><slot>Categories</slot></translate>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        v-if="loading"
        text
        icon
        small
        color="white"
        :loading="loading">
        <v-icon>cached</v-icon>
      </v-btn>
    </v-toolbar>
    <v-row dense>
      <v-col
        cols="12"
        sm="6"
        md="4"
        v-for="(category, index) in categories"
        :key="category.id">
        <v-card
          :data-category-item="`category-${index}`"
          class="category-card-container"
          style="visibility: hidden;">
          <router-link
            :to="`${baseUrl}category/${category.slug}`"
            class="ajax-nav"
            data-target=".content">
            <v-img
              :src="image(category)"
              height="150px"
              >
            </v-img>
            <v-card-title primary-title>
              <v-container class="fill-height container--fluid">
                <v-row dense class="fill-height">
                  <v-col class="align-end flexbox" cols="12">
                    <span class="text-h3 black--text" v-text="category.name"></span>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-title>
          </router-link>
          <v-card-text class="pa-1">
            <div v-html="category.body"></div>
            <!--<div :title="`${t('Updated')} ${category.updated_at}`">
              <v-icon>access_time</v-icon> {{ category.updated_at | moment('from') }}
            </div>
            <div :title="`${t('Added')} ${category.created_at}`">
              <v-icon>access_time</v-icon> {{ category.created_at | moment('from') }}
            </div>-->
          </v-card-text>
          <v-card-actions>

          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import {MetaMixin} from '../../mixins/meta/metaMixin';

export default {
  mixins: [MetaMixin],
  data: () => ({
    name: 'Categories',
    loading: true,
    params: {},
  }),
  async created () {
    this.loading = true;
    await this.fetchCategories();
    this.setMeta(this.categoriesMeta);
    this.$emit('updateHead');
    this.loading = false;

    setTimeout(() => {
      window.sr.reveal('.category-card-container', { duration: 2000 }, 100);
    }, 500);

    // vm.fetchData();
  },

  // head: {
  //   title () {
  //       return {
  //         inner: this.categoriesMeta.pageTitle,
  //         separator: ' ',
  //         complement: ' '
  //       }
  //   },
  //
  //   meta () {
  //     return [
  //       { property: 'og:url', content: this.params.ogurl },
  //       { property: 'og:title', content: this.params.ogtitle },
  //       { property: 'og:image', content: this.params.ogimage },
  //       { property: 'og:type', content: this.params.ogtype },
  //       // { property: 'music:duration', content: this.params.musicduration },
  //       { property: 'og:description', content: this.params.ogdescription },
  //
  //       { name: 'twitter:card"', content: this.params.twittercard },
  //       { name: 'twitter:url', content: this.params.twitterurl },
  //       { name: 'twitter:title', content: this.params.twittertitle },
  //       { name: 'twitter:description', content: this.params.twitterdescription },
  //       { name: 'twitter:image', content: this.params.twitterimage },
  //       { name: 'twitter:site', content: this.params.twittersite },
  //       { name: 'twitter:creator', content: this.params.twittercreator },
  //
  //       { itemprop: 'name', content: this.params.name },
  //       { itemprop: 'description', content: this.params.description },
  //       { itemprop: 'image', content: this.params.image },
  //     ]
  //   }
  // },

  computed: {
    ...mapGetters([
      'baseUrl',
      'phpThumbUrl',
      'imagePath'
    ]),
    ...mapGetters('category', {
      categories: 'getCategories',
      categoriesMeta: 'getCategoriesMeta',
    }),
  },
  methods: {
    ...mapActions('category', [
      'fetchCategories',
    ]),
    image (category) {
      return `${this.phpThumbUrl}?q=100&h=500&zc=1&src=${this.baseUrl}${this.imagePath}/${category.image}`;
    },
  },
}
</script>
