<template>
  <section id="category">
    <div class="category-container" >
      <v-toolbar
        dark
        color="primary">
        <v-toolbar-title class="text-h4 font-weight-bold">
          {{ category ? category.name : $gettext('Category') }}
        </v-toolbar-title>
        <v-spacer/>
        <v-btn
          v-if="loading"
          text
          icon
          small
          color="white"
          :loading="loading">
          <v-icon>cached</v-icon>
        </v-btn>
      </v-toolbar>
      <v-row dense v-if="category">
        <v-col cols="12" sm="12">
          <v-card>
            <v-img
              :src="image(category)"
              height="200px">
            </v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="text-h5 mb-0">{{ category.body }}</h3>
              </div>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </div>

    <related-posts :showToolbar="false" :random="false" />
  </section>
</template>
<script>

  import {mapActions, mapGetters} from 'vuex';

  export default {
    data: () => ({
      name: 'Category',
      loading: true,
    }),

    async created() {
      await this.load();
    },

    computed: {
      ...mapGetters([
        'baseUrl',
        'phpThumbUrl',
        'imagePath',
      ]),

      ...mapGetters('category', {
        category: 'getCategory',
      })
    },

    methods: {
      ...mapActions('category', [
        'fetchCategory',
      ]),

      image(post) {
        return `${this.phpThumbUrl}?q=100&w=800&zc=1&src=${this.baseUrl}${this.imagePath}/${post.image}`;
      },

      async load () {
        this.loading = true;
        await this.fetchCategory(this.$route.params.slug);
        this.loading = false;
      },

      async reload () {
        if (this.loading) {
          return;
        }
        await this.load();
      },

    },

    watch: {
      async '$route' (to, from) {
        this.loading = true;
        await this.fetchCategory(to.params.slug);
        this.loading = false;
        // this.$emit('updateHead');
      }
    },

    components: {
      'related-posts': () => import('../../components/Content/RelatedPosts.vue'),
    },
  }
</script>
